<!-- $Id$ -->
<form method="post" action="index.php?p=rostercp-guide" name="post">

	<div class="tier-2-a" style="margin:4px auto; width: 300px;">
		<div class="tier-2-b">
			<div class="tier-2-title">
				<div style="float:right;"><input type="submit" name="login" value="Login" /></div>
				Log Into RosterCP
			</div>
	
			<div class="tier-3-a">
				<div class="tier-3-b">
					<div class="right"><input type="password" name="password" size="20" maxlength="32" /></div>
					<div class="text">Password</div>
				</div>
			</div>
	
		</div>
	</div>

</form>
