<!-- $Id$ -->
<!-- IF S_SHOW_BUTTON -->
<form method="post" action="{FORMACTION}" name="post">
<input type="hidden" name="install_step" value="4" />
<!-- ENDIF -->

<div class="tier-2-a" style="margin:4px auto; width: 400px;">
	<div class="tier-2-b">
		<div class="tier-2-title">Administrator Account Configuration</div>

		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="right">
					<input type="password" name="user_password1" value="" />
				</div>
				<div class="text">
					Administrator password
				</div>
			</div>
		</div>

		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="right">
					<input type="password" name="user_password2" value="" />
				</div>
				<div class="text">
					[ confirm ]
				</div>
			</div>
		</div>

	</div>
</div>

<!-- IF S_SHOW_BUTTON -->
<div align="center"><input type="submit" name="submit" value="Proceed" /></div>
</form>
<!-- ENDIF -->
