<!-- $Id$ -->

<div style="font-size:12px;">
{L_TOP_CREDITS}
</div>


<table cellspacing="10"><tr><td valign="top" width="50%">


<table class="border_frame" cellpadding="0" cellspacing="1" width="100%">
	<tr>
		<td class="border_color sgreenborder">
			<div class="header_text sgreenborder">{L_ACTIVE_DEV}</div>

			<table width="100%" cellspacing="0">
				<tr>
					<th class="membersHeader"><!-- TRANSLATE name --></th>
					<th class="membersHeaderRight"><!-- TRANSLATE info --></th>
				</tr>

<!-- BEGIN active_dev -->
				<tr>
					<td class="membersRow{active_dev.ROW_CLASS}">{active_dev.NAME}</td>
					<td class="membersRowRight{active_dev.ROW_CLASS}">{active_dev.INFO}</td>
				</tr>
<!-- END active_dev -->

			</table>

		</td>
	</tr>
</table>

<br />

<table class="border_frame" cellpadding="0" cellspacing="1" width="100%">
	<tr>
		<td class="border_color spurpleborder">
			<div class="header_text spurpleborder">{L_3RD_PARTY}</div>

			<table width="100%" cellspacing="0">
				<tr>
					<th class="membersHeader"><!-- TRANSLATE name --></th>
					<th class="membersHeaderRight"><!-- TRANSLATE info --></th>
				</tr>

<!-- BEGIN 3rd_party -->
				<tr>
					<td class="membersRow{3rd_party.ROW_CLASS}">{3rd_party.NAME}</td>
					<td class="membersRowRight{3rd_party.ROW_CLASS}">{3rd_party.INFO}</td>
				</tr>
<!-- END 3rd_party -->

			</table>

		</td>
	</tr>
</table>


</td><td valign="top" width="50%">


<table class="border_frame" cellpadding="0" cellspacing="1" width="100%">
	<tr>
		<td class="border_color sredborder">
			<div class="header_text sredborder">{L_INACTIVE_DEV}</div>

			<table width="100%" cellspacing="0">
				<tr>
					<th class="membersHeader"><!-- TRANSLATE name --></th>
					<th class="membersHeaderRight"><!-- TRANSLATE info --></th>
				</tr>

<!-- BEGIN inactive_dev -->
				<tr>
					<td class="membersRow{inactive_dev.ROW_CLASS}">{inactive_dev.NAME}</td>
					<td class="membersRowRight{inactive_dev.ROW_CLASS}">{inactive_dev.INFO}</td>
				</tr>
<!-- END inactive_dev -->

			</table>

		</td>
	</tr>
</table>

<br />

<table class="border_frame" cellpadding="0" cellspacing="1" width="100%">
	<tr>
		<td class="border_color sorangeborder">
			<div class="header_text sorangeborder">{L_JS_LIB}</div>

			<table width="100%" cellspacing="0">
				<tr>
					<th class="membersHeader"><!-- TRANSLATE name --></th>
					<th class="membersHeaderRight"><!-- TRANSLATE info --></th>
				</tr>

<!-- BEGIN js_lib -->
				<tr>
					<td class="membersRow{js_lib.ROW_CLASS}">{js_lib.NAME}</td>
					<td class="membersRowRight{js_lib.ROW_CLASS}">{js_lib.INFO}</td>
				</tr>
<!-- END js_lib -->

			</table>

		</td>
	</tr>
</table>


</td></tr></table>

<!-- IF S_ADDON_CREDITS -->
<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sblueborder">
			<div class="header_text sblueborder">{L_ROSTER_ADDONS}</div>

			<table width="100%" cellspacing="0">
				<tr>
					<th class="membersHeader"><!-- TRANSLATE name --></th>
					<th class="membersHeader">{L_VERSION}</th>
					<th class="membersHeaderRight"><!-- TRANSLATE info --></th>
				</tr>

<!-- BEGIN addon_row -->
				<tr>
					<td class="membersRow{addon_row.ROW_CLASS}">{addon_row.NAME}</td>
					<td class="membersRow{addon_row.ROW_CLASS}">{addon_row.VERSION}</td>
					<td class="membersRow{addon_row.ROW_CLASS}">
					<!-- BEGIN addon_credit_row -->
						<div>{addon_row.addon_credit_row.NAME} - {addon_row.addon_credit_row.INFO}</div>
					<!-- END addon_credit_row -->
					</td>
				</tr>
<!-- END addon_row -->

			</table>

		</td>
	</tr>
</table>
<!-- ENDIF -->

<br />

<div style="font-size:12px;">
{L_BOTTOM_CREDITS}
</div>
