<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{XML_LANG}" lang="{XML_LANG}">
<head>
<!-- $Id$ -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WoWRoster{PAGE_TITLE}</title>
<base href="{ROSTER_URL}" />
<link rel="stylesheet" type="text/css" href="{THEME_PATH}/style.css" />

<link href="../../../styles/css/common.css" rel="stylesheet" type="text/css" />
<link href="../../../styles/css/images.css" rel="stylesheet" type="text/css" />
<link href="../../../styles/css/links.css" rel="stylesheet" type="text/css" />
<link href="../../../styles/css/extras.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{ROSTER_PATH}js/mainjs.js"></script>
<script type="text/javascript" src="{ROSTER_PATH}js/tabcontent.js">
/**
 * Tab Content script v2.0- &copy; Dynamic Drive DHTML code library (www.dynamicdrive.com)
 * This notice MUST stay intact for legal use
 * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
 **/
</script>
<script type="text/javascript" src="{THEME_PATH}/theme.js"></script>
<script type="text/javascript" src="{ROSTER_PATH}js/overlib.js"></script>
<script type="text/javascript" src="{ROSTER_PATH}js/overlib_hideform.js"></script>
{ROSTER_HEAD}
</head>

<body{ROSTER_BODY}<!-- IF ROSTER_ONLOAD --> onload="{ROSTER_ONLOAD}"<!-- ENDIF -->>

<div id="overDiv" style="position:absolute;visibility:hidden;z-index:1000;"></div>


	<div style="visibility: hidden; position: absolute"><a href="http://www.milonic.com/">JavaScript Menu Courtesy of Milonic.com</a></div>
	
    <div class="site-header">
		<div class="site-menu">
    		<div class="menu">
  				<script type="text/javascript" src="../../../styles/menu/milonic_src.js"></script>	
				<script type="text/javascript" src="../../../styles/menu/mmenudom.js"></script>
				<script type="text/javascript" src="../../../styles/menu/menu_data.js"></script>
  				<script type="text/javascript" src="../../../styles/menu/modules/preloadmenuimages.js"></script>
  			</div>
        </div>
    	<div class="site-logo"></div>
        <div class="site-event"></div>
    </div>
    
	
		
	<div class="page">
    	<div class="p-top"></div>
        <div class="p-middle">
        	<div class="background">
            	<div class="p-roster"></div>


<div class="roster-wrap">

{ROSTER_TOP}


<div class="theme-wrap">

<!-- IF ROSTER_SCOPE eq "page" -->
	<div class="info-header Realm">
		<div class="text">
			<div class="name">{ROSTER_TITLE} <small>{ROSTER_SUBTITLE}</small><span>{ROSTER_TITLE} <small>{ROSTER_SUBTITLE}</small></span></div>
			<!-- IF PAGE_INFO --><div class="info">{PAGE_INFO}<span>{PAGE_INFO}</span></div><!-- ENDIF -->
		</div>
        <div class="menu-select">
		<!-- IF S_LOCALE_SELECT -->
			<form action="{U_MAKELINK}" name="locale_select" method="post" style="margin:0;">
				<!-- TRANSLATE language -->
				<select name="locale" onchange="document.locale_select.submit();">
				<!-- BEGIN locale_select -->
					<option value="{locale_select.LOCALE}"<!-- IF locale_select.S_SELECTED --> selected="selected"<!-- ENDIF -->>{locale_select.LOCALE_NAME}</option>
				<!-- END locale_select -->
				</select>
			</form>
		<!-- ENDIF -->
        <br />
        {MENU_LOGIN_FORM}
		</div>
	</div>
	<div class="util-page-wrap">
<!-- ENDIF -->

<!-- IF ROSTER_SCOPE eq "util" -->
	<div class="info-header Realm">
		<div class="text">
			<div class="name">{ROSTER_TITLE} <small>{ROSTER_SUBTITLE}</small><span>{ROSTER_TITLE} <small>{ROSTER_SUBTITLE}</small></span></div>
			<!-- IF PAGE_INFO --><div class="info">{PAGE_INFO}<span>{PAGE_INFO}</span></div><!-- ENDIF -->
		</div>
        <div class="menu-select">
		<!-- IF S_LOCALE_SELECT -->
			<form action="{U_MAKELINK}" name="locale_select" method="post" style="margin:0;">
				<!-- TRANSLATE language -->
				<select name="locale" onchange="document.locale_select.submit();">
				<!-- BEGIN locale_select -->
					<option value="{locale_select.LOCALE}"<!-- IF locale_select.S_SELECTED --> selected="selected"<!-- ENDIF -->>{locale_select.LOCALE_NAME}</option>
				<!-- END locale_select -->
				</select>
			</form>
		<!-- ENDIF -->
        <br />
        {MENU_LOGIN_FORM}
		</div>
	</div>
	<div class="util-wrap">
<!-- ENDIF -->

<!-- IF ROSTER_SCOPE eq "realm" -->
	<div class="info-header Realm">
		<div class="text">
			<div class="name">{ROSTER_TITLE} <small>{ROSTER_SUBTITLE}</small><span>{ROSTER_TITLE} <small>{ROSTER_SUBTITLE}</small></span></div>
			<div class="info">Guilds: {L_TOTAL_GUILDS} Key<span>Guilds: {L_TOTAL_GUILDS} Key</span></div>
		</div>
        <div class="menu-select">
		<!-- IF S_LOCALE_SELECT -->
			<form action="{U_MAKELINK}" name="locale_select" method="post" style="margin:0;">
				<!-- TRANSLATE language -->
				<select name="locale" onchange="document.locale_select.submit();">
				<!-- BEGIN locale_select -->
					<option value="{locale_select.LOCALE}"<!-- IF locale_select.S_SELECTED --> selected="selected"<!-- ENDIF -->>{locale_select.LOCALE_NAME}</option>
				<!-- END locale_select -->
				</select>
			</form>
		<!-- ENDIF -->
        <br />
        {MENU_LOGIN_FORM}
		</div>
	</div>
	<div class="realm-wrap">
<!-- ENDIF -->

<!-- IF ROSTER_SCOPE eq "guild" -->
	<div class="info-header {FACTION}">
	  	<div class="text">
			<div class="name">{ROSTER_TITLE} <small>{ROSTER_SUBTITLE}</small><span>{ROSTER_TITLE} <small>{ROSTER_SUBTITLE}</small></span></div>
			<div class="info"><!-- TRANSLATE members -->: {ROSTER_3RDTITLE}<span><!-- TRANSLATE members -->: {ROSTER_3RDTITLE}</span></div>
		</div>
        <div class="menu-select">
		<!-- IF S_LOCALE_SELECT -->
			<form action="{U_MAKELINK}" name="locale_select" method="post" style="margin:0;">
				<!-- TRANSLATE language -->
				<select name="locale" onchange="document.locale_select.submit();">
				<!-- BEGIN locale_select -->
					<option value="{locale_select.LOCALE}"<!-- IF locale_select.S_SELECTED --> selected="selected"<!-- ENDIF -->>{locale_select.LOCALE_NAME}</option>
				<!-- END locale_select -->
				</select>
			</form>
		<!-- ENDIF -->
        <br />
        {MENU_LOGIN_FORM}
		</div>
	</div>
	<div class="guild-wrap">
<!-- ENDIF -->

<!-- IF ROSTER_SCOPE eq "char" -->
	<div class="char-list">
		<div class="title"><!-- TRANSLATE members --><span><!-- TRANSLATE members --></span></div>
		<div class="spacer">
			<div class="list">
<!-- BEGIN mini_memberslist -->
			<!-- IF mini_memberslist.U_LINK --><a href="{mini_memberslist.U_LINK}"><!-- ENDIF -->
			<div class="member <!-- IF mini_memberslist.S_SELECTED -->select<!-- ELSEIF mini_memberslist.U_LINK -->u-link<!-- ELSE -->plain<!-- ENDIF -->">
				<span class="lvl">{mini_memberslist.LEVEL}</span>
<!-- U_LINK will be FALSE if the player has no data -->
				<span class="name">{mini_memberslist.NAME}</span>

				<span class="info">

<!-- IF mini_memberslist.RACE_ID -->
					<img src="{IMG_URL}icons/race/{mini_memberslist.RACE_ID}-{mini_memberslist.SEX_ID}.gif" width="20" height="20" alt="" />
<!-- ENDIF -->
					<img src="{IMG_URL}icons/class/{mini_memberslist.CLASS_ID}.gif" width="20" height="20" alt="" />
				</span>
			</div>
			<!-- IF mini_memberslist.U_LINK --></a><!-- ENDIF -->
<!-- END mini_memberslist -->
			</div>
		</div>
	</div>

	<div class="info-header {FACTION}">
		<div class="text"{ALT_TOOLTIP}>
			<div class="name" {ALT_TOOLTIP}>{ROSTER_TITLE} <small>{ROSTER_SUBTITLE}</small><span>{ROSTER_TITLE} <small>{ROSTER_SUBTITLE}</small></span></div>
			<!-- IF GUILD_NAME and GUILD_TITLE --><div class="guild"><!-- TRANSLATE_F char_guildline GUILD_TITLE GUILD_NAME --><span><!-- TRANSLATE_F char_guildline GUILD_TITLE GUILD_NAME --></span></div><!-- ENDIF -->
			<div class="info"><!-- TRANSLATE_F char_level_race_class LEVEL RACE CLASS --><span><!-- TRANSLATE_F char_level_race_class LEVEL RACE CLASS --></span></div>
		</div>
        <div class="menu-select">
		<!-- IF S_LOCALE_SELECT -->
			<form action="{U_MAKELINK}" name="locale_select" method="post" style="margin:0;">
				<!-- TRANSLATE language -->
				<select name="locale" onchange="document.locale_select.submit();">
				<!-- BEGIN locale_select -->
					<option value="{locale_select.LOCALE}"<!-- IF locale_select.S_SELECTED --> selected="selected"<!-- ENDIF -->>{locale_select.LOCALE_NAME}</option>
				<!-- END locale_select -->
				</select>
			</form>
		<!-- ENDIF -->
        <br />
        {MENU_LOGIN_FORM}
		</div>
	</div>
	<div class="char-wrap">
<!-- ENDIF -->

<!-- Navagation Tabs -->
<div class="top-menu">
	<div class="links">
		<div id="top_nav">
			<a href="{U_MENU_UPDATE_LUA}" class="button-upload"><!-- TRANSLATE menu_header_03 --></a>
			<a class="button-guild" href="#" onclick="showHide('menu_guild'); hide('menu_char'); hide('menu_realm'); hide('menu_util'); return false;"><!-- TRANSLATE menu_header_01 --></a>
			<a class="button-realm" href="#" onclick="showHide('menu_realm'); hide('menu_char'); hide('menu_guild'); hide('menu_util'); return false;"><!-- TRANSLATE menu_header_02 --></a>
			<a class="button-util" href="#" onclick="showHide('menu_util'); hide('menu_char'); hide('menu_guild'); hide('menu_realm'); return false;"><!-- TRANSLATE menu_header_04 --></a>
		</div>
	</div>
</div>