###
 # Project: cpFramework - scalable object based modular framework
 # File: .htaccess
 #
 # This file contains our htaccess rules, it rewrites everything to our
 # php file. This allows us to make search engine friendly urls.
 #
 # Licensed under the Creative Commons
 # "Attribution-NonCommercial-ShareAlike 2.5" license
 #
 # Short summary:
 #  http://creativecommons.org/licenses/by-nc-sa/2.5/
 #
 # Legal Information:
 #  http://creativecommons.org/licenses/by-nc-sa/2.5/legalcode
 #
 # Full License:
 #  license.txt (Included within this library)
 #
 # You should have recieved a FULL copy of this license in license.txt
 # along with this library, if you did not and you are unable to find
 # and agree to the license you may not use this library.
 #
 # For questions, comments, information and documentation please visit
 # the official website at cpframework.org
 #
 # @link http://cpframework.org
 # @license http://creativecommons.org/licenses/by-nc-sa/2.5/
 # @author Chris Stockton
 # @version 1.5.0
 # @copyright 2000-2006 Chris Stockton
 # @package cpFramework
 # @filesource
 ##

# deny most common except .php
<FilesMatch "\.(inc|tpl|h|ihtml|sql|ini|conf|bin|spd|theme|module)$">
  deny from all
</FilesMatch>

# disable access to config.php and .ht* from a browser
<FilesMatch "^(config\.php|\.ht)">
 Deny from all
</FilesMatch>
<FilesMatch "error\.(php|gif)">
 allow from all
</FilesMatch>


# ONLY IF MOD_REWRITE IS INSTALLED
<IfModule mod_rewrite.c>
	# ENABLE ENGINE
	RewriteEngine On

	# CONIDITIONS
	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -d

	# REWRITE RULES
	RewriteRule ^(.+) - [PT,L]
	RewriteRule ^(.*) index.php
</IfModule>

# custom error page
# ErrorDocument 400 /error.php
# ErrorDocument 401 /error.php
# ErrorDocument 403 /error.php
# ErrorDocument 404 /error.php
# ErrorDocument 500 /error.php

# disallow index viewing (like ftp) of directory
<IfModule mod_autoindex.c>
	IndexIgnore *
</IfModule>