<!-- $Id: index_new.html 1840 2008-08-03 08:02:07Z Adric $ -->

<div class="guild-info">

	<div class="guild-header {ML_FACTION_EN}">
	  	<div class="content">
				<div class="guild">{ML_GUILD_NAME} @ {ML_REALM}<span>{ML_GUILD_NAME} @ {ML_REALM}</span></div>
				<div class="info">{L_MEMBERS}: {NUM_MEMBERS}<span>{L_MEMBERS}: {NUM_MEMBERS}</span></div>
	    </div>
	</div>

	<div class="guild-roster">
		<div class="roster-frame">
			<div class="pagination"><!-- Pagination Here --></div>
		<!-- BEGIN members_row -->
			<div class="member-row {member-type}">
			<!-- BEGIN cell -->
				<div class="member-info {data-type}">{member-data}</div>
			<!-- END cell -->
			</div>
		<!-- END members_row -->

		</div>
	</div>

</div>