#$versions['versionDate']['itemsetsdefaultcss'] = '$Date: 2006/03/16 14:00:00 $'; 
#$versions['versionRev']['itemsetsdefaultcss'] = '$Revision: 1.01 $'; 
#$versions['versionAuthor']['itemsetsdefaultcss'] = '$Author: Gorgar $'; 

.membersSpellRowRight1 {
	text-align: left;
	vertical-align: middle;
	color: #ffffff;
        background-color: #1F1E1D;
        font-size: 9pt;
	font-family: arial,helvetica,sans-serif;
	font-weight: bold;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color:#000000 #5D5D5D #5D5D5D #5D5D5D;
	padding: 3px 6px 3px 6px;
  	height: 47px;
}
.membersSpellRowRight2 {
	text-align: left;
	vertical-align: middle;
	color: #ffffff;
        background-color: #2E2D2B;
        font-size: 9pt;
	font-family: arial,helvetica,sans-serif;
	font-weight: bold;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color:#000000 #5D5D5D #5D5D5D #5D5D5D;
	padding: 3px 6px 3px 6px;
  	height: 47px;
}
