<!-- $Id$ -->

				<!-- BEGIN banner_row -->

				<div class="tier-2-a">
					<div class="tier-2-b exp-content">
						<div class="addon-status" style="width: 75px;">

							
							<div style="margin-top:3px;">
								<form name="activate" style="display:inline;" method="post" enctype="multipart/form-data" action="">
									<input type="hidden" name="op" value="process" />
									<input type="hidden" name="type" value="{banner_row.B_ACTIVEOP}" />
									<input type="hidden" name="id" value="{banner_row.B_ID}" />
									<button type="submit" class="input" >
									<img src="/wowroster/templates/default/images/admin/{banner_row.B_ACTIVEI}.png" style="height:16px;width:16px;border:0;" alt="" />{banner_row.B_ACTIVET}</button>
								</form>
							</div>
							
							<div style="margin-top:3px;">
								<form name="delete" style="display:inline;" method="post" enctype="multipart/form-data" action="">
									<input type="hidden" name="op" value="process" />
									<input type="hidden" name="type" value="delete" />
									<input type="hidden" name="id" value="{banner_row.B_ID}" />
									<input type="hidden" name="image" value="{banner_row.B_IMG}" />
									<button type="submit" class="input" >
									<img src="/wowroster/templates/default/images/admin/yellow.png" style="height:16px;width:16px;border:0;" alt="" />Delete</button>
								</form>
							</div>
							
						</div>
						
						<div style="float: right;padding-right: 10px;">
							<div><img src="{banner_row.B_IMAGE}" width="150" height="70"></a></div>
						</div>

						<div class="tier-2-title">
							{banner_row.B_TITLE}
						</div>
						
						<div class="info-text-h">
							<div>{banner_row.B_DESC}</div>

						</div>

					</div>
				</div>
				
				<!-- END banner_row -->
