<!-- $Id$ -->

<!-- IF S_COMMENTS -->
<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title"><!-- TRANSLATE comments --></div>

<!-- BEGIN comment_row -->
	<div style="BORDER: #FF7D0A 2px solid;padding:3px 3px 3px 3px;">
		<div class="info-text-h">
{comment_row.CONTENT}
		</div>
		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="config">
					<div class="config-name"><!-- TRANSLATE posted_by -->: {comment_row.AUTHOR} - {comment_row.DATE}</div>
<!-- IF S_EDIT_COMMENT -->
					<div class="config-input"><a class="input" href="{comment_row.U_EDIT}"><!-- TRANSLATE edit --></a></div>
<!-- ENDIF -->
				</div>
			</div>
		</div>
	</div>
		<br />
<!-- END comment_row -->

	</div>
</div>
<!-- ENDIF -->
