<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title"><!-- TRANSLATE register --></div>
<div class="info-text-h">
							<div>
Welcome and thanks for registering to our site the method has changed and you now need to provide some info for us lol<br>
	<br>
	<table>
	<tr>
		<td colspan="2" width="100%" align="center">
			Unequip the following items then Type in your main characters name in the username box and click "check me"
			<table>
			<tr>
				<td>{R_EQUIP_1}</td>
				<td>{R_EQUIP_2}</td>
				<td>{R_EQUIP_3}</td>
			</tr><tr>
				<td><img src="{R_IMAGE_PTH}{R_EQUIP_1}.png"></a></td>
				<td><img src="{R_IMAGE_PTH}{R_EQUIP_2}.png"></a></td>
				<td><img src="{R_IMAGE_PTH}{R_EQUIP_3}.png"></a></td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan=2><hr></td>
	</tr>
	<tr>
		<td width="50%">
			
			<label for="username">Username</label> <input type="submit" name="submit" class="button" id="submit_btn" value="Check Me" /><br />
			Your Username should be your Main charactor in the guild Alts can be added later
		</td>
		<td width="50%">
			<div>
			<div id="photo"></div><br>
				<input type="text" name="username" value="" id="pUsername" />
			</div>
		</td>
	</tr>
	<tr>
		<td colspan=2><hr></td>
	</tr>
	<tr>
		<td></td>
		<td><span id="validateUsername">{R_MSG_ERROR}</span></td>
	</tr>
	<tr>
		<td colspan=2><hr></td>
	</tr>
	<tr>
		<td>Class</td>
		<td><input type="text" name="class" value="" id="class" /></td>
	</tr>
	<tr>
		<td colspan=2><hr></td>
	</tr>
	<tr>
		<td>Level</td>
		<td><input type="text" name="level" value="" id="level" /></td>
	</tr>
	<tr>
		<td colspan=2><hr></td>
	</tr>
	<tr>
		<td>Guild Rank</td>
		<td><input type="hidden" name="rank" value="" id="rank" /><div id="title"></div></td>
	</tr>
	<tr>
		<td colspan=2><hr></td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" name="submit" class="button" id="xsubmit" value="Register" />
		</td>
	</tr>
	</table>
	</td>
	</tr>
</table>
</div></div>
	</div>
</div>