/* $Id$ */

body { background:#000000; font-size:62.5%; }
a:link,
a:visited,
a:active { color:#4C3000; text-decoration:none; font-weight:bold; }
a:hover { color:#069; text-decoration:none; font-weight:bold; }

.roster-wrap { font:12px arial,helvetica,sans-serif; color:#FFFFFF; width: 960px; margin: auto; position: relative; padding-top: 1px; }


/* Main Roster Wrapper Header */

.theme-wrap {
	min-height: 380px;
	width: 940px;
	margin: 20px auto auto;
	position: relative;
	border: 1px solid #9D7D1C;
	background: #e7cb79 url(images/wrap_bg.jpg) repeat center top;
	padding: 0;
}

.info-header {
	width: 100%;
	height: 125px;
	position: absolute;
	left: -10px;
	top: -20px;
	padding-right: 10px;
	padding-bottom: 45px;
}

.realm { background: url(images/bg_neutral.png) no-repeat left top; }

.info-header .text { position: absolute; left: 160px; top: 35px; color: #FFFFFF; text-align: left; padding: 0; width: 580px; text-shadow:1px 2px 0 #000000; }
.info-header .text:hover { background: none; }

.info-header .name { font: bold normal 24px Georgia, "Times New Roman", Times, serif; text-transform: none; position: relative; }
.info-header .name small { font-size: 18px; }
.info-header .guild { font: bold normal 18px Georgia, "Times New Roman", Times, serif; text-transform: none; position: relative; }
.info-header .info { font: bold normal 10px Verdana, Arial, Helvetica, sans-serif; text-transform: uppercase; position: relative; }

.util-wrap {
	margin: 102px 0 0;
	padding: 0 10px 10px;
	position: relative;
}

.scope-menu { padding: 25px 0 10px; position: relative; }

.logo {
	margin: 10px auto;
	width: 704px;
}
.logo .frame {
	border: 1px solid #EEDBA2;
	padding:1px;
	background: #deb760;
	color: #000;	
}
.logo .frame td {
	border: 1px solid #D3A229;
}

.roster-footer {
	background: url(images/footer.png) no-repeat left bottom;
	height: 100px;
	padding: 18px 10px 0;
	font-size: 10px;
	position: relative;
}
.roster-footer .process { position: absolute; bottom: 5px; right: 5px; color: #AC8739; }
.roster-footer .valid { position: absolute; bottom: 5px; left: 5px; color: #AC8739; }

.roster-footer .version { color: #FFF8E1; text-align: center; }
.roster-footer .wr-info { color: #FFF8E1; text-align: center; }
.roster-footer .bliz { color: #FFF8E1; text-align: center; margin-top: 25px; font-size: 12px; }


.stats-container { padding:20px 20px 10px; }
.stats-container .title {color: #a37516; letter-spacing: -1px; font-family: Georgia,"Times New Roman",Times,serif;  font-size: 20px;  line-height: 20px !important; padding: 4px 0 5px 10px; }
.stats-container .container { background-image: url(images/sbg.gif); background-repeat: repeat; margin: 0px auto; float:center; border: 1px #caa644 solid; padding: 8px 6px;  font-family: Arial,Helvetica,sans-serif; font-size: 13px; color:#0070dd; }
.stats-container .contents { background: url('images/filter-tabs.gif') 0 0 repeat-x; border-width:1px;  border-style:solid; border-color:#c39749 #c39749 #fbeb9e #c39749; margin:0 55px; padding: 6px; }


.positive { font-weight: bold; color: #8DDC42; text-shadow: 1px 1px 0 #666; }
.negative { font-weight: bold; color: #F33; text-shadow: 1px 1px 0 #666; }
.neutral { font-weight: bold; color: #135E82; text-shadow: 1px 1px 0 #666; }

.license {
	padding: 0.8em;
	height: 320px;
	overflow: auto;
}
.info {
	padding: 0.8em;
}

/* Installer version checker */
.roster-version {
	float: left;
	padding: 0.8em;
	margin-left: 10px;
	width: 120px;
}
.php-info {
	float: left;
	padding: 0.8em;
	margin-left: 10px;
	width: 320px;
}

.php-info .first { display: inline-block; height: 16px; width: 100px; margin-left: 5px; position: relative; }
.php-info .middle { display: inline-block; height: 16px; width: 100px; margin-left: 5px; position: relative; }

.roster-version .title,
.php-info .title { color:#491F14; text-decoration:none; display:block; position:relative; font: bold 14px Georgia, "Times New Roman", Times, serif; text-transform: capitalize; }
.roster-version .text,
.php-info .text { margin-left: 5px; text-align: left; color: #000; font-size: 12px; line-height: 16px; height: 16px; }
.roster-version .right,
.php-info .right { height: 16px; float: right; margin-left: 5px; position: relative; }


/* Common Styles */
.tier-1-a { background:url('images/tier/tier_1_a.gif') left top repeat; border:1px solid #b6803d; margin: 20px 20px 0px; }
.tier-1-b { background:url('images/tier/tier_1_b.gif') left top repeat-x; border:1px solid #ffffd6 }
.tier-1-c { background:url('images/tier/tier_1_c.jpg') left top no-repeat; padding:7px 7px 6px }
.tier-1-title { color:#491F14; text-decoration:none; display:block; position:relative; font: normal 22px Georgia, "Times New Roman", Times, serif; text-transform: capitalize; }
.tier-1-title .links { float: right; margin-top: 1px; }
.tier-1-title .icon { height: 22px; width: 22px; float: left; margin: 0 5px; position: relative; }
.tier-1-title .icon img { position: absolute; left:-1px; top:-1px; clip: rect(2px 22px 22px 2px); height: 23px; width: 23px; }
.tier-1-title .icon .mask { background: url(images/icon_mask.png) no-repeat left top; height: 22px; width: 22px; position: absolute; left: 0; top: 0; }
.tier-1-title .right { height: 22px; float: right; margin-left: 5px; position: relative; }
.tier-1-title .toggle { height: 22px; width: 22px; float: right; margin-left: 5px; position: relative; }
.tier-1-title .toggle img { height: 22px; width: 22px; }


.tier-2-a { background:url('images/tier/tier_2_a.jpg') left top repeat; border:1px solid #b6803d; margin-top: 4px; }
.tier-2-b { background:url('images/tier/tier_2_b.jpg') left top repeat-x; border:1px solid #fff; padding:7px 7px 6px; }
.tier-2-title { color:#135E82; display:block; text-align:left; padding:0; margin-bottom: 5px; font: bolder normal 18px Georgia, "Times New Roman", Times, serif; text-transform: capitalize; }
.tier-2-title .icon { height: 22px; width: 22px; float: left; margin-right: 5px; left: -2px; top: -2px; position: relative; }
.tier-2-title .icon img { position: absolute; left:-1px; top:-1px; clip: rect(2px 22px 22px 2px); height: 23px; width: 23px; }
.tier-2-title .icon .mask { background: url(images/icon_mask.png) no-repeat left top; height: 22px; width: 22px; position: absolute; left: 0; top: 0; }
.tier-2-title .right { height: 22px; float: right; margin-left: 5px; position: relative; }
.tier-2-title .toggle { height: 22px; width: 22px; float: right; margin-left: 5px; position: relative; }
.tier-2-title .toggle img { height: 22px; width: 22px; }
.tier-2-b .info-text { font: 12px Georgia, "Times New Roman", Times, serif; text-align: left; color: #000; font-size: 14px; line-height: 20px; height: 20px; }
.tier-2-b .info-text-h { font: 12px Georgia, "Times New Roman", Times, serif; text-align: left; color: #000; font-size: 14px; line-height: 20px; }


.tier-3-a { background:url(images/tier/tier_3_a.jpg) no-repeat right top; height: 24px; }
.tier-3-b { background:url(images/tier/tier_3_b.jpg) no-repeat left top; height: 24px; padding:2px 2px 2px 7px }
.tier-3-b .text { text-align: left; color: #000; font-size: 14px; line-height: 20px; height: 20px; }
.tier-3-b .text div { float: left; height: 20px; }
.tier-3-b .right { height: 16px; float: right; margin-left: 5px; position: relative; }
.tier-3-b .toggle { height: 17px; width: 17px; float: right; margin-left: 3px; position: relative; }
.tier-3-b .toggle img { height: 17px; width: 17px; }
.tier-3-b .buttons { height: 16px; float: right; padding: 1px; }
.tier-3-b .buttons a { font: 10px/16px Georgia, "Times New Roman", Times, serif; background: #C60; height: 16px; border: 1px solid #000; margin: 1px; }
.tier-3-b .skill { cursor: default; text-align:left; color:#000000; height: 20px; font: bold 11px Geneva, Arial, Helvetica, sans-serif; }
.tier-3-b .skill-name { float: left; position: relative; line-height: 20px; }
.tier-3-b .skill-bar .text { width:400px; height:16px; line-height: 16px; color:#FFFFFF; position: absolute; left: 0px; top: 0px; text-align: center; }
.tier-3-a .white { background:url(images/tier/color/tier_3_b_white.jpg) no-repeat left top; }
.tier-3-a .red { background:url(images/tier/color/tier_3_b_red.jpg) no-repeat left top; }
.tier-3-a .orange { background:url(images/tier/color/tier_3_b_orange.jpg) no-repeat left top; }
.tier-3-a .yellow { background:url(images/tier/color/tier_3_b_yellow.jpg) no-repeat left top; }
.tier-3-a .green { background:url(images/tier/color/tier_3_b_green.jpg) no-repeat left top; }
.tier-3-a .blue { background:url(images/tier/color/tier_3_b_blue.jpg) no-repeat left top; }
.tier-3-a .purple { background:url(images/tier/color/tier_3_b_purple.jpg) no-repeat left top; }
.tier-3-a .grey { background:url(images/tier/color/tier_3_b_grey.jpg) no-repeat left top; }
.tier-3-a .brown { background:url(images/tier/color/tier_3_b_brown.jpg) no-repeat left top; }


.tier-4-a { background:url(images/tier/tier_4_a.jpg) no-repeat right top; height: 24px; }
.tier-4-b { background:url(images/tier/tier_4_b.jpg) no-repeat left top; height: 24px; padding:2px 2px 2px 7px }
.tier-4-b .text { text-align: left; color: #000; font-size: 14px; line-height: 20px; height: 20px; }
.tier-4-b .text div { float: left; height: 20px; }
.tier-4-b  .ts_string { text-align: left; line-height: 20px; }


.tier-5-a { background:url(images/tier/tier_5_a.jpg) no-repeat right top; height: 30px; }
.tier-5-b { background:url(images/tier/tier_5_b.jpg) no-repeat left top; height: 30px; padding: 3px }
.tier-5-b .text { text-align: left; color: #FFF; font-size: 14px; line-height: 24px; height: 24px; }
.tier-5-b .text div { float: left; height: 24px; }


.tier-6-a { background:url(images/tier/tier_6_a.jpg) no-repeat right top; height: 30px; }
.tier-6-b { background:url(images/tier/tier_6_b.jpg) no-repeat left top; height: 30px; padding: 3px }
.tier-6-b .text { text-align: left; color: #FFF; font-size: 14px; line-height: 24px; height: 24px; }
.tier-6-b .text div { float: left; height: 24px; }
.tier-6-a .white { background:url(images/tier/color/tier_6_b_white.jpg) no-repeat left top; }
.tier-6-a .red { background:url(images/tier/color/tier_6_b_red.jpg) no-repeat left top; }
.tier-6-a .orange { background:url(images/tier/color/tier_6_b_orange.jpg) no-repeat left top; }
.tier-6-a .yellow { background:url(images/tier/color/tier_6_b_yellow.jpg) no-repeat left top; }
.tier-6-a .green { background:url(images/tier/color/tier_6_b_green.jpg) no-repeat left top; }
.tier-6-a .blue { background:url(images/tier/color/tier_6_b_blue.jpg) no-repeat left top; }
.tier-6-a .purple { background:url(images/tier/color/tier_6_b_purple.jpg) no-repeat left top; }
.tier-6-a .grey { background:url(images/tier/color/tier_6_b_grey.jpg) no-repeat left top; }
.tier-6-a .brown { background:url(images/tier/color/tier_6_b_brown.jpg) no-repeat left top; }


/* Container Styles */
.container { padding: 0 0 20px; background: #eaca81 url(images/section_bg.jpg) repeat center top; margin-bottom: 3px; border: 1px solid #EEDBA2; }
.container .box-label { height: 20px; font: bold normal 20px/24px "Times New Roman", Times, serif; color: #000000; padding: 10px 10px 10px 40px; margin-bottom: 5px; background: url(images/skill_title_bg.png) repeat-x left top; position: relative; }
.container .box-label .icon { height: 22px; width: 22px; position: absolute; left: 4px; top: 4px; }
.container .box-label .icon img{ position: absolute; left:-1px; top:-1px; clip: rect(2px 22px 22px 2px); height: 23px; width: 23px;}
.container .box-label .icon .mask { background: url(images/icon_mask.png) no-repeat left top; height: 22px; width: 22px; position: absolute; left: 0; top: 0; }

.container .inner { margin-right: 20px; margin-left: 20px; }

.container .item { position:relative; float: left; margin: 3px; }

.roster-panel { clear: left; }

.roster-panel .container { padding: 0 0 20px; background: #eaca81 url(images/section_bg.jpg) repeat center top; margin-bottom: 3px; border: 1px solid #EEDBA2; }
.roster-panel .container .box-label { height: 20px; font: bold normal 20px/24px "Times New Roman", Times, serif; color: #000000; padding: 10px 10px 10px 40px; margin-bottom: 5px; background: url(images/skill_title_bg.png) repeat-x left top; position: relative; }
.roster-panel .container .box-label .icon { background: transparent no-repeat left center; height: 33px; width: 32px; position: absolute; left: 4px; top: 4px; }


img, p { padding:0;margin:0;border:0; }

.h_1 { color:#000000; text-decoration:none; display:block; position:relative; font: normal 22px Georgia, "Times New Roman", Times, serif; text-transform: capitalize; }
.h_2 { color:#000000; display:block; text-align:left; padding:0; margin-bottom: 5px; font: normal 18px Georgia, "Times New Roman", Times, serif; text-transform: capitalize; }

/* this can be used to ensure checkboxes and radio buttons do not have a border */
.checkBox { border:0;color:#ffffff;font:10px verdana,arial;background-color:transparent; }

.button_hide { border:0;background-color:transparent;padding:0;margin:0;cursor:pointer; }

.sqlwindow {
	text-align:left;
	font-size:11px;
}


/* Tables */
.install_table {
	font-family: verdana, arial, helvetica, geneva, sans-serif;
	font-size: 12px;
	empty-cells: show;
	border-collapse:collapse;
	border: 1px solid #EEDBA2;
	margin: auto;
	padding:0;
	background: #deb760;
	color: #000; 
}
/* Row Coloring */
.install_table th {
	text-align:left;
	white-space:nowrap;
	color:#000000;
	font:bold 11px arial,helvetica,sans-serif;
	background: url(images/th_bg.png) repeat-x center top;
	padding:0 6px 0 6px;
	height: 20px;
	vertical-align:middle;
}

.install_table td {
	border-top: 1px solid #9D7D1C;
	position:relative;
	text-align:left;
	color:#000000;
	background: #deb760 url(images/set_row.png) repeat-x left top;
	font:bold 11px arial,helvetica,sans-serif;
	padding:3px 6px 3px 6px;
}

.install_table td a:link,
.install_table td a:hover,
.install_table td a:active,
.install_table td a:visited {color:#000000;}


/**
 * Border Styles
 */
.border_frame {
	border: 1px solid #EEDBA2;
	margin: auto;
	padding:0;
	background: #deb760;
	color: #000;
}


/**
 * Message box
 */
#notify { width:100%; position:relative; color:#999999; }
#notify .close { position:absolute; top:4px; right:4px; }
#notify div.message { margin:5px 0 0 0; padding:0.2em; }
#notify div.message .ui-icon { float:left; margin-right:0.3em; }
#notify div.message .content { padding:0 1em 1em; margin-left:20px; }


/**
 * Border Styles
 */
.border_frame { border: 1px solid #EEDBA2; margin: auto; padding:0px; background: #deb760; color: #000; }

.border_color {
	border-width:1px;
	border-style:solid;
}

.motd_setup {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	font-style:normal;
	padding-right:8px;
	padding-left:23px;
	background:#660000 url(../../img/motd_left.gif) no-repeat left center;
	height:21px;
}

/* Header Text */
.header_text {
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	color:#000000;
	font:bold 16px arial,helvetica,sans-serif;
	background: url(images/skill_title_bg.png) repeat-x left bottom;
	padding:10;
	vertical-align:middle;
}

/* Border Colors */
.swhiteborder { border-color:#FFFFFF; }
.sgreyborder, .sgrayborder { border-color:#999999; }
.sgoldborder { border-color:#D3A229; }
.sredborder { border-color:#FF0000; }
.sorangeborder { border-color:#FFA500; }
.syellowborder { border-color:#FFCC00; }
.sgreenborder { border-color:#008000; }
.sblueborder { border-color:#0000FF; }
.spurpleborder { border-color:#4B0082; }


/**
 * Class colorization
 */
.classDeathKnighttxt { color:#C41F3B; }
.classDruidtxt { color:#FF7D0A; }
.classHuntertxt { color:#ABD473; }
.classMagetxt { color:#69CCF0; }
.classPaladintxt { color:#F58CBA; }
.classPriesttxt { color:#FFFFFF; }
.classRoguetxt { color:#FFF569; }
.classShamantxt { color:#2459FF; }
.classWarlocktxt { color:#9482C9; }
.classWarriortxt { color:#C79C6E; }


/**
 * Random color defines
 */
.white { color:#ffffff; }
.yellow { color:#ffd200; }
.green { color:#7eff00; }
.grey { color:#808080; }
.red { color:#ff0000; }
.orange { color:#ff9900; }
.purple { color:#8000ff; }
.blue { color:#0068ff; }
.gold { color:#ffcc00; }
.brown { color:#593300; }

.whiteB { font-weight:bold;color:#ffffff; }
.yellowB { font-weight:bold;color:#ffd200; }
.greenB { font-weight:bold;color:#7eff00; }
.greyB { font-weight:bold;color:#808080; }
.redB { font-weight:bold;color:#ff0000; }
.orangeB { font-weight:bold;color:#ff9900; }
.purpleB { font-weight:bold;color:#8000ff; }
.blueB { font-weight:bold;color:#0068ff; }
.goldB { font-weight:bold;color:#ffcc00; }
.brownB { font-weight:bold;color:#593300; }

.iconwhite, .icongrey, .icongreen, .iconblue, .iconpurple { float:left;width:40px;height:40px;padding:1px 0 0 0;z-index:1;border:2px solid #ffffff; }
.iconwhite { }
.icongrey { border-color:#9d9d9d; }
.icongreen { border-color:#1eff00; }
.iconblue { border-color:#0070dd; }
.iconpurple { border-color:#aa00dd; }

/**
 * END Random color defines
 */

/**
 * Form Styles
 */
form.inline { display:inline; }
form.close { margin:0; }
form.slim { margin:0;padding:0; }

/**
 * Overlib Tooltip Styles
 */
#overDiv { position: absolute; visibility: hidden; z-index: 9999; padding: 0; margin: 0; }
#overDiv a:link,
#overDiv a:visited,
#overDiv a:active { color:#069; text-decoration:none; font-weight:bold; }
#overDiv a:hover { color:#4C3000; text-decoration:none; font-weight:bold; }

/* Sets the border style - ol_bgclass */
.overlib_border {
	background: transparent url(images/shader.png) repeat;
	border: 2px outset #CCCCCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	color: #ffffff;
	font: 10px verdana, arial, helvetica, sans-serif;
}

/* Sets Caption Text - ol_captionfontclass */
.overlib_captiontext {
	background: transparent url(images/shader.png) repeat;
	/*background-color: #2E2D2B;*/
	font-weight: bold;
	font-size: 11px;
}

/* Sets Close Text - ol_closefontclass */
.overlib_closetext {
	background: transparent url(images/shader.png) repeat;
	/*background-color: #2E2D2B;*/
	font-weight: bold;
	font-size: 11px;
}

/* Sets main text background - ol_fgclass */
.overlib_fg { padding: 0 2px 1px 2px; }

/* Sets main text style - ol_textfontclass */
.overlib_maintext {
	white-space: normal;
}


/**
 * jQuery-ui overrides
 */
.ui-widget { font-size:10px; }
.ui-icon { width: 14px; height: 14px; }
input.ui-button,
.ui-button-text-only .ui-button-text { padding: 0.2em 0.8em; }
.ui-buttonset .ui-button { margin-right: -.4em; }
select:focus { outline: none; }

/**
 * CSS Weirdness
 */
.exp-content { overflow: auto; }
