.difficulty_1:visited {
	color: #CCCCCC
}
.difficulty_1:link    {
	color: #CCCCCC
}
.difficulty_2:visited {
	color: #339900
}
.difficulty_2:link    {
	color: #339900
}
.difficulty_3:visited {
	color: #FFFF66
}
.difficulty_3:link    {
	color: #FFFF66
}
.difficulty_4:visited {
	color: #FF9900
}
.difficulty_4:link    {
	color: #FF9900
}
.minibasket {
	background-color: #FFCC00;
	border: 1px solid #FFCC00;
}
.header {
        /*text-align: left;*/
        text-align: center; 
        color: #CBA300; 
        font-size: 12pt;
        font-family: arial,helvetica,sans-serif; 
        background-color: #2E2D2B;
        border-color: #5D5D5D;      /*5D5D5D*/
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
		/*border: 1px solid #FFCC00;*/

}
.headerrow {
        /*text-align: left;*/
        text-align: center; 
        color: #FFFFFF; 
        font-size: 12pt;
        font-family: arial,helvetica,sans-serif; 
        background-color: #2E2D2B;
        border-color: #5D5D5D;      /*5D5D5D*/
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        padding: 0px 6px 0px 6px;
		/*border: 1px solid #FFCC00;*/

}
.membersHeadercenter {
	text-align: center; 
	color: #CBA300; 
	font-size: 8pt; 
	font-family: arial,helvetica,sans-serif; 
	background-color: #2E2D2B; 
    border-color: #5D5D5D;
    border-style: solid; 
	border-width: 1px 0px 0px 1px; 
	padding: 0px 6px 0px 6px;
	height:20px;
}
.deletecenter {
	text-align: center;
	color: #CBA300;
	font-size: 8pt;
	font-family: arial,helvetica,sans-serif;
	background-color: #2E2D2B;
	border-color: #5D5D5D;
	border-style: solid;
	border-width: 1px 0px 0px 1px;
	padding: 0px 6px 0px 6px;
	
	}
.product {
	text-align: left;
	color: #CBA300;
	font-size: 12pt;
	font-family: arial,helvetica,sans-serif;
	background-color: #2E2D2B;
	border-color: #5D5D5D;
	border-style: solid;
	border-width: 1px 0px 0px 1px;
	padding: 0px 6px 0px 6px;
	height:20px;
	font-weight: bold;	
}
.list {
	width: 180;
	font-family:Arial, Helvetica, sans-serif;
}
.deleteHeadercenter {
	text-align: center;
	color: #CBA300;
	font-size: 8pt;
	font-family: arial,helvetica,sans-serif;
	background-color: #2E2D2B;
	border-color: #5D5D5D;
	border-style: solid;
	border-width: 1px 0px 0px 1px;
	padding: 0px 0px 0px 0px;
	height:25px;
}
