<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title"><!-- TRANSLATE adata_update_talents --></div>

		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="config">
					<div class="config-input">
						<form action="" method="post" id="update">
							<input type="hidden" name="process" value="process" />
							<button type="submit" class="input"><!-- TRANSLATE update --></button>
						</form>
					</div>
					<div class="config-name">
						Achievements {A_ROW}  Criteria {C_ROW}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>