.membersRow1 a:active {
    color: #FFFFFF;
    text-decoration: none;
}
.membersRow1 a:link {
    color: #FFFFFF;
    text-decoration: none;
}

.membersRow1 a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.membersRow1 a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.membersRow2 a:active {
    color: #FFFFFF;
    text-decoration: none;
}
.membersRow2 a:link {
    color: #FFFFFF;
    text-decoration: none;
}

.membersRow2 a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.membersRow2 a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}


.membersRowRight1 a:active {
    color: #FFFFFF;
    text-decoration: none;
}
.membersRowRight1 a:link {
    color: #FFFFFF;
    text-decoration: none;
}

.membersRowRight1 a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.membersRowRight1 a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.membersRowRight2 a:active {
    color: #FFFFFF;
    text-decoration: none;
}
.membersRowRight2 a:link {
    color: #FFFFFF;
    text-decoration: none;
}

.membersRowRight2 a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.membersRowRight2 a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.membersRowName1 {
        text-align: left;
        color: #ffffff;
        background-color: #1F1E1D;
        font-size: 9pt;
        font-family: arial,helvetica,sans-serif;
        font-weight: bold;
        white-space: nowrap;
        border-style: solid;
        border-width: 1px 1px 0px 1px;
        border-color:#000000 #5D5D5D #5D5D5D #5D5D5D;
        padding: 3px 6px 3px 6px;
}

.membersRowName2  {
        position: relative;
        text-align: left;
        color: #ffffff;
        background-color: #2E2D2B;
        font-size: 9pt;
        font-family: arial,helvetica,sans-serif;
        font-weight: bold;
        white-space: nowrap;
        border-style: solid;
        border-width: 1px 0px 0px 1px;
        border-color:#000000 #5D5D5D #5D5D5D #5D5D5D;
        padding: 3px 6px 3px 6px;
}
