<!-- $Id$ -->

<span class="title_text">{L_PROFESSIONS}</span
<br />
<br />

<!-- BEGIN profession -->
<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgrayborder">
			<div class="header_text sgrayborder">
				<div style="cursor:pointer;width:450px;" onclick="showHide('table_{profession.ID}','img_{profession.ID}','{THEME_PATH}/images/minus.gif','{THEME_PATH}/images/plus.gif');">
					<img style="float:left;width:17px;height:17px;" src="{INTERFACE_URL}Interface/Icons/{profession.ICON}.{IMG_SUFFIX}" alt="" />
					<img style="float:right;" id="img_{profession.ID}" src="{THEME_PATH}/images/<!-- IF S_HIDE -->plus<!-- ELSE -->minus<!-- ENDIF -->.gif" alt="" />
					{profession.NAME}
				</div>
			</div>

			<table border="0" cellpadding="0" cellspacing="0" class="bodyline" id="table_{profession.ID}" style="width:100%;<!-- IF S_HIDE -->display:none;<!-- ENDIF -->">
				<tr>
					<th class="membersHeader">{L_LEVEL}</th>
					<th class="membersHeaderRight" width="150">{L_NAME}</th>
				</tr>

				<!-- BEGIN skills -->
				<tr>
					<td class="membersRow{profession.skills.ROW_CLASS}">
						<div class="levelbarParent" style="width:250px;">
							<div class="levelbarChild">{profession.skills.LEVEL}/{profession.skills.MAX}</div>
						</div>
						<table class="expOutline" cellpadding="0" cellspacing="0" style="width:100%;">
							<tr>
								<td style="background-image:url('{IMG_URL}expbar-var2.gif');width:{profession.skills.PERCENT}%;">
									<img src="{IMG_URL}pixel.gif" style="height:14px;width:1px;" alt="" />
								</td>
								<td style="width:{profession.skills.REMAIN}%;"></td>
							</tr>
						</table>
					</td>
					<td class="membersRowRight{profession.skills.ROW_CLASS}">
						<!-- IF S_INFO_ADDON --><a href="{profession.skills.LINK}">{profession.skills.NAME}</a><!-- ELSE -->{profession.skills.NAME}<!-- ENDIF -->
					</td>
				</tr>
				<!-- END skills -->

			</table>

		</td>
	</tr>
</table>

<br />
<!-- END profession -->
