# WoWRoster .htaccess file
# $Id$

# ONLY IF MOD_REWRITE IS INSTALLED
<IfModule mod_rewrite.c>
	# ENABLE ENGINE
	RewriteEngine On
	
	# SIGEN REWRITE
	RewriteRule ^/?(signature|avatar)/(.*)\.(.*)$ /index.php?p=util-siggen-$1&member=$2&format=$3

	# CONIDITIONS
	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -d

	# REWRITE RULES
	RewriteRule ^(.+) - [PT,L]
	RewriteRule ^(.*) index.php
</IfModule>
