<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- $Id: install_header.html 1237 2007-08-16 04:57:47Z Zanix $ -->
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>WoWRoster Installation - Step {INSTALL_STEP}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="{TEMPLATE_PATH}/style.css" />
	<script type="text/javascript">
	<!--
		var ol_width=220;var ol_offsetx=15;var ol_offsety=15;var ol_hauto=1;var ol_vauto=1;
		var ol_fgclass='overlib_fg';var ol_bgclass='overlib_border';var ol_textfontclass='overlib_maintext';
		var ol_captionfontclass='overlib_captiontext';var ol_closefontclass='overlib_closetext';
	//-->
	</script>
	<script type="text/javascript" src="js/overlib.js"><!-- overLIB (c) Erik Bosrup --></script>
	<script type="text/javascript" src="js/overlib_hideform.js"></script>
</head>

<body>

<table width="100%" class="borderless">
	<tr>
		<td align="center" valign="top"><img src="img/wowroster_logo.jpg" alt="WoWRoster Logo" /></td>
	</tr>
	<tr>
		<td align="center" valign="top">
			<span class="maintitle">WoWRoster Installation</span><br />
			<span class="subtitle">Step {INSTALL_STEP}</span>
		</td>
	</tr>
	<tr>
		<td align="center" valign="top"><!-- IF MSG_TEXT != '' --><!-- INCLUDE install_message.html --><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
	</tr>
</table>
<br />
