<!-- $Id: install_step0.html 1694 2008-02-19 06:06:26Z Zanix $ -->

<h1 align="center">This installation will guide you to setup WoWRoster on your website within minutes.</h1>

<h2 align="center">Click &quot;I Agree&quot; if you accept the following license:</h2>

<!-- IF LICENSE -->
<div align="center">
<textarea name="textfield" rows="20" cols="100">
{LICENSE}
</textarea>
</div>
<br />
<!-- ELSE -->
<h2 align="center">Your server does not support Zlib Compression. Thus you cannot read our license from this page.
	Please consult license.txt found in your roster distribution and click "I Agree" below</h2>
<!-- ENDIF -->

<!-- IF S_SHOW_BUTTON -->
<form method="post" action="{FORMACTION}" name="post">
	<input type="hidden" name="install_step" value="1" />
	<div align="center"><input type="submit" name="submit" value="I Agree" class="submit" /></div>
</form>
<!-- ENDIF -->
