body {
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:12px;
}

a:link, a:visited, a:active {
	color:#006699;
	text-decoration:none;
	background-color:transparent;
}
a:hover {
	color:#000000;
	text-decoration:none;
	background-color:#E3E3FF;
}

.textbox {
	background:url('images/input_boxes.png') no-repeat 0 0px;
	border:none;
	width:234px;
	height:55px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:3px;
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:10px;
	background-color:transparent;
}
.input {
	background:url('images/input_boxes.png') no-repeat 0 -70px;
	border:none;
	width:194px;
	height:18px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:10px;
	background-color:transparent;
	vertical-align:middle;
}
.input_m {
	background:url('images/input_boxes.png') no-repeat 0 -100px;
	border:none;
	width:138px;
	height:18px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:10px;
	background-color:transparent;
	vertical-align:middle;
}
.input_s {
	background:url('images/input_boxes.png') no-repeat 0 -130px;
	border:none;
	width:80px;
	height:18px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:10px;
	background-color:transparent;
	vertical-align:middle;
}
.submit {
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:10px;
	border:1px solid #781351;
	background-color:#f2f2ff;
}
.file {
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:10px;
	background-color:#ffffff;
	color:#000000;
}
.select {
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:12px;
	border:1px solid #a7a6aa;
	background-color:#ffffff;
	color:#000000;
}
img, input, select, button {
	vertical-align:middle;
}
img {
	border:0;
}

.ua_hr {
	border:1px outset #00487D;
}
.ua_hr hr {
	display:none;
}

.maintitle {
	font-size:18px;
	font-weight:bold;
}
.subtitle {
	font-size:14px;
	font-weight:bold;
}

.icon {
	border:0;
}
.addon_name {
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
}

.ua_menu {
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:12px;
	border:1px solid #00487D;
	background-color:#F2F2FF;
	padding:2px 4px;
}
.sync_url {
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:12px;
	border:1px solid #B32400;
	background-color:#FFCCBF;
	padding:2px 4px;
}

.ua_table {
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:12px;
	border:1px solid #00487D;
	background-color:#F2F2FF;
}
.debug_header {
	color:#000;
	border:1px solid #B32400;
	background-color:#FFCCBF;
}
.logo_table {
	border:0px;
	width:500px;
	padding:0px;
}
.data_header {
	background-color:#BFE4FF;
	font-size:11px;
	font-weight:bold;
}
.data1 {
	background-color:#F2F2FF;
	font-size:11px;
}
.data2 {
	background-color:#EDEDFF;
	font-size:11px;
}
.table_header {
	background-color:#0066B3;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
}
.stats_footer {
	background-color:#BFE4FF;
	font-size:12px;
}
.copyright {
	font-size:10px;
}

.ua_loginbox, .ua_loginbox table {
	font-size:9px;
}
.ua_loginbox fieldset {
	width:26em;
	padding:1px;
	border:1px solid #00487D;
	background-color:#F2F2FF;
}
.ua_loginbox legend {
	padding:1px 6px;
	color:#000;
	border:1px solid #B32400;
	background-color:#FFCCBF;
	font-size:12px;
	font-weight:bold;
}

/* Off state for a ARC checkbox */
.checkboxOff {
	display:inline;
	margin:0;
	padding:2px; /* NS 6 problem */
	padding-left:20px;
	color:#666;
	line-height:16px;
	background-image:url('images/checkbox_off.png');
	background-repeat:no-repeat;
	background-position:0% 50%;
	border:0;
}
/* On state for a ARC checkbox */
.checkboxOn {
	display:inline;
	margin:0;
	padding:2px; /* NS 6 problem */
	padding-left:20px;
	color:#000;
	line-height:16px;
	background-image:url('images/checkbox_on.png');
	background-repeat:no-repeat;
	background-position:0% 50%;
	border:0;
}
.radioOff {
	display:inline;
	margin:0;
	padding:2px;
	padding-left:20px;
	color:#666;
	background:transparent url('images/radio_off.png') no-repeat 0% 50%;
}
/* On state for a ARC radio button */
.radioOn {
	display:inline;
	margin:0;
	padding:2px; /* NS 6 problem */
	padding-left:20px;
	color:#000;
	background:transparent url('images/radio_on.png') no-repeat 0% 50%;
}
/* use CSS to full effect with hover states. Ohhh, perty! */
.radioOn:hover {
	background-image:url('images/radio_on_hover.png');
}
.radioOff:hover {
	color: #333 !important;
	background-image:url('images/radio_off_hover.png');
}

/*********** Overlib Tooltip styles ***********/
.overlib_fg {
/* Sets main text background */
/* ol_fgclass */
	background-color:#EDEDFF;
}
.overlib_border {
/* Sets the border style */
/* ol_bgclass */
	border:1px solid #00487D;
}
.overlib_maintext {
/* Sets main text style */
/* ol_textfontclass */
	color:#000;
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:10px;
}
.overlib_captiontext {
/* ol_captionfontclass */
	color:#FFFFFF;
	background-color:#0066B3;
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
}
.overlib_closetext {
/* ol_closefontclass */
	color:#FFFFFF;
	background-color:#0066B3;
	font-family:verdana, arial, helvetica, geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
}
/*********** End Overlib Tooltip styles ***********/

.treeview {
	margin-left:0px;
}
.treeview ul{ /*CSS for Simple Tree Menu*/
	margin:0;
	padding:0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
	background:url('images/list.gif') no-repeat left center;
	list-style-type:none;
	padding-left:20px;
	margin-bottom:2px;
}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
	background:url('images/closed.png') no-repeat left 1px;
	cursor:pointer !important;
}


.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
	display:none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
	cursor:default;
}