body { font:12px verdana, arial, helvetica, geneva, sans-serif; }

/* This is fired when the js sort is active */
body.sort-active * { cursor:wait; }

a:link, a:visited, a:active { color:#006699;text-decoration:none;background-color:transparent; }
a:hover { color:black;text-decoration:none;background-color:#E3E3FF; }

.textbox {
	background:transparent url('images/input_text.png') no-repeat;
	border:none;
	vertical-align:middle;
	width:234px;
	height:55px;
	padding:3px;
	font:10px verdana, arial, helvetica, geneva, sans-serif;
}
* html .textbox { background-attachment:fixed;width:240px;height:58px; }

.input {
	background:transparent url('images/input.png') no-repeat;
	border:none;
	vertical-align:middle;
	width:194px;
	height:15px;
	padding:3px 3px 0 3px;
	font:10px verdana, arial, helvetica, geneva, sans-serif;
}
* html .input { background-attachment:fixed;width:200px; }

.input_m {
	background:transparent url('images/input_m.png') no-repeat;
	border:none;
	vertical-align:middle;
	width:138px;
	height:15px;
	padding:3px 3px 0 3px;
	font:10px verdana, arial, helvetica, geneva, sans-serif;
}
* html .input_m { background-attachment:fixed;width:144px; }

.input_s {
	background:transparent url('images/input_s.png') no-repeat;
	border:none;
	vertical-align:middle;
	width:80px;
	height:15px;
	padding:3px 3px 0 3px;
	font:10px verdana, arial, helvetica, geneva, sans-serif;
}
* html .input_s { background-attachment:fixed;width:86px; }

.submit {
	font:10px verdana, arial, helvetica, geneva, sans-serif;
	border:1px solid #781351;
	background-color:#f2f2ff;
	margin-top:1px;
}
.file {
	font:10px verdana, arial, helvetica, geneva, sans-serif;
	background-color:white;
	color:black;
}
.select {
	font:12px verdana, arial, helvetica, geneva, sans-serif;
	border:1px solid #a7a6aa;
	background-color:white;
	color:black;
}

img, input, select, button { vertical-align:middle; }
img { border:0; }

.ua_hr { border-bottom:1px solid #00487D; }
.ua_hr hr { display:none; }

.maintitle { font-size:18px;font-weight:bold; }
.subtitle { font-size:14px;font-weight:bold; }

.icon { border:0; }

.addon_name { font:bold 12px verdana, arial, helvetica, geneva, sans-serif; }

.ua_menu ul {
	margin:4px;
	padding:3px 0;
	margin-left:0;
	font:bold 12px verdana, arial, helvetica, geneva, sans-serif;
	border-bottom:1px solid #00487D;
	list-style-type:none;
	text-align:left; /*set to left, center, or right to align the menu as desired*/
}
.ua_menu li { display:inline;white-space:nowrap;margin:0; }
.ua_menu li a {
	text-decoration:none;
	padding:3px 7px;
	margin-right:3px;
	border:1px solid #00487D;
	background-color:#F2F2FF;
	color:#2d2b2b;
}
.ua_menu li a:visited { color:#2d2b2b; }
.ua_menu li a.current { background-color:#006699;color:white; }
.ua_menu li a:hover { background-color:#FFCCBF;color:black; }
.ua_menu li a:active { color:black; }

.sync_url {
	font:12px verdana, arial, helvetica, geneva, sans-serif;
	border:1px solid #B32400;
	background-color:#FFCCBF;
	padding:2px 4px;
	white-space:nowrap;
}

.ua_table {
	font:12px verdana, arial, helvetica, geneva, sans-serif;
	border-left:1px solid #C1DAD7;
	border-spacing:0;
	empty-cells:show;
	padding:0;
	border-collapse:collapse;
}
.ua_table th {
	color:#4f6b72;
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	border-top:1px solid #dcdcdc;
	font-size:11px;
	font-weight:bold;
	height:16px;
	padding:2px;
	vertical-align:middle;
	background:#f0f0f0 repeat url('images/th.jpg');
	overflow:hidden;
}
.ua_table th a:hover,
.ua_table th a:hover { background-color:transparent; }
.ua_table th.sort-active * { cursor:wait; }

.ua_table th.sortable,
.ua_table th.sortable-text,
.ua_table th.sortable-date,
.ua_table th.sortable-numeric,
.ua_table th.sortable-currency { cursor:pointer; }
.ua_table th.sort-active { color:#ff0000 !important; }

.ua_table th.table_header {
	color:#FFF;
	font-size:16px;
	height:21px;
	background:#f0f0f0 repeat url('images/th-title.jpg');
}
.ua_table th.debug_header {
	color:#FFF;
	font-size:16px;
	height:21px;
	background:#FFCCBF url('images/th-error.jpg') repeat;
}
.ua_table th.forwardSort { background:transparent url('images/th-up-arrow.jpg') no-repeat 100% 0; }
.ua_table th.reverseSort { background:transparent url('images/th-down-arrow.jpg') no-repeat 100% 0; }

.ua_table th.forwardSort a,
.ua_table th.reverseSort a { color:#FFF;padding-right:10px; }
.ua_table th.forwardSort a:link, .ua_table th.forwardSort a:visited, .ua_table th.forwardSort a:active, .ua_table th.forwardSort a:hover
.ua_table th.reverseSort a:link, .ua_table th.reverseSort a:visited, .ua_table th.reverseSort a:active, .ua_table th.reverseSort a:hover {
	color:#FFF;
	text-decoration:none;
	background-color:transparent;
}
.ua_table td,
.ua_table td.data1 {
	font-size:11px;
	border-right:1px solid #C1DAD7;
	border-bottom:1px solid #C1DAD7;
	padding:1px 2px 1px 2px;
}
.ua_table tr.data2 { background:#EFFFFC; }
.ua_table td.data2,
.ua_table td.data2 a { background:#EFFFFC; }

.ua_table tr.error2 { background:#FFEBE6; }
.ua_table td.error2,
.ua_table td.error2 a { background:#FFEBE6; }

.logo_table { border:0;width:500px;padding:0; }
.logo_table td { border:0;padding:0; }

.copyright { font-size:10px; }

.last_updated { width:70%;color:#4f6b72;font-size:11px;font-weight:bold; }

.ua_loginbox, .ua_loginbox table { font-size:9px; }
.ua_loginbox, .ua_loginbox table td,
.ua_loginbox, .ua_loginbox table th,
.ua_loginbox, .ua_loginbox table tr { border:0; }
.ua_loginbox fieldset {
	width:26em;
	padding:1px;
	border:1px solid #00487D;
	background-color:#F2F2FF;
}
.ua_loginbox legend {
	padding:1px 6px;
	color:#000;
	border:1px solid #B32400;
	background-color:#FFCCBF;
	font-size:12px;
	font-weight:bold;
}


/*********** Custom Radio Buttons ***********/
/* Off state for a ARC checkbox */
.checkboxOff {
	display:inline;
	margin:0;
	padding:2px; /* NS 6 problem */
	padding-left:20px;
	color:#666;
	line-height:16px;
	background:transparent url('images/checkbox_off.png') no-repeat 0% 50%;
	border:0;
}
/* On state for a ARC checkbox */
.checkboxOn {
	display:inline;
	margin:0;
	padding:2px; /* NS 6 problem */
	padding-left:20px;
	color:#000;
	line-height:16px;
	background:transparent url('images/checkbox_on.png') no-repeat 0% 50%;
	border:0;
}
.radioOff {
	display:inline;
	margin:0;
	padding:2px;
	padding-left:20px;
	color:#666;
	background:transparent url('images/radio_off.png') no-repeat 0% 50%;
}
/* On state for a ARC radio button */
.radioOn {
	display:inline;
	margin:0;
	padding:2px; /* NS 6 problem */
	padding-left:20px;
	color:#000;
	background:transparent url('images/radio_on.png') no-repeat 0% 50%;
}
/* use CSS to full effect with hover states. Ohhh, perty! */
.radioOn:hover { background-image:url('images/radio_on_hover.png'); }
.radioOff:hover { color:#333 !important;background-image:url('images/radio_off_hover.png'); }


/*********** Overlib Tooltip styles ***********/
/* Sets main text background  ol_fgclass */
.overlib_fg { background-color:#EDEDFF; }

/* Sets the border style  ol_bgclass */
.overlib_border { border:1px solid #00487D; }

/* Sets main text style  ol_textfontclass */
.overlib_maintext { color:#000;font:10px verdana, arial, helvetica, geneva, sans-serif; }

/* Sets cpation text ol_captionfontclass */
.overlib_captiontext { color:#FFF;background-color:#0066B3;font:10px bold verdana, arial, helvetica, geneva, sans-serif; }
/* Sets the 'close' text ol_closefontclass */
.overlib_closetext { color:#FFF;background-color:#0066B3;font:10px bold verdana, arial, helvetica, geneva, sans-serif; }
/*********** End Overlib Tooltip styles ***********/


/*********** CSS for Simple Tree Menu ***********/
.treeview { margin-left:0; }
.treeview ul { margin:0;padding:0; }

/* Style for LI elements in general (excludes an LI that contains sub lists) */
.treeview li { background:url('images/list.gif') no-repeat left center;list-style-type:none;padding-left:20px;margin-bottom:2px; }

/* Style for LI that contains sub lists (other ULs). */
.treeview li.submenu { background:url('images/closed.png') no-repeat left 1px;cursor:pointer !important; }

/*Style for ULs that are children of LIs (submenu) */
/* Hide them by default. Don't delete. */
.treeview li.submenu ul { display:none; }

/*Style for LIs of ULs that are children of LIs (submenu) */
.treeview .submenu ul li { cursor:default; }


/*********** Paginate CSS ***********/
ul.tablePaginater {
	display:block;
	list-style:none;
	padding:0;
	margin:10px 0 1em 0;
	text-align:center;
}
ul.tablePaginater li {
	display:block;
	float:left;
	width:2.1em;
	height:2.1em;
	line-height:2em;
	vertical-align:middle;
	margin-right:4px;
	color:#666;
}
ul.tablePaginater li.currentPage a {
	border-color:#a84444 !important;
	color:#000;
}
ul.tablePaginater li a {
	display:block;
	width:2em;
	height:2em;
	color:#666;
	text-decoration:none;
	outline:none;
	border:1px solid #ccc;
}
ul.tablePaginater li a:focus {
	color:#333;
	text-decoration:none;
	outline:none;
	border-color:#aaa;
}
