<!-- $Id$ -->

<div class="container">

	<div class="tier-1-a">
		<div class="tier-1-b">
			<div class="tier-1-c">
				<div class="tier-1-title">{L_PROFESSIONS}
					<div class="links">
<!-- BEGIN profession -->
						<a href="{profession.LINK}" class="icon"><img src="{INTERFACE_URL}Interface/Icons/{profession.ICON}.{IMG_SUFFIX}" /><span class="mask" {profession.TOOLTIP}></span></a>
<!-- END profession -->
					</div>
				</div>

<!-- BEGIN profession -->
				<a name="{profession.LINK_L}"></a>
				<div class="tier-2-a">
					<div class="tier-2-b">
						<div class="tier-2-title" style="cursor:pointer;" onclick="showHide('table_{profession.ID}','img_{profession.ID}','{THEME_PATH}/images/button_close.png','{THEME_PATH}/images/button_open.png');">
							<div class="icon"><img src="{INTERFACE_URL}Interface/Icons/{profession.ICON}.{IMG_SUFFIX}" /><div class="mask"></div></div>
							{profession.NAME}
							<img style="float:right;" id="img_{profession.ID}" src="{THEME_PATH}/images/button_<!-- IF S_HIDE -->open<!-- ELSE -->close<!-- ENDIF -->.png" alt="" />
						</div>

						<div id="table_{profession.ID}">
<!-- BEGIN skills -->
						<div class="tier-3-a">
							<div class="tier-3-b">
								<div class="skill">
									<div class="skill-name"><!-- IF S_INFO_ADDON --><a href="{profession.skills.LINK}">{profession.skills.NAME}</a><!-- ELSE -->{profession.skills.NAME}<!-- ENDIF --></div>
									<div class="skill-bar">
										<div class="fill" style="width: {profession.skills.PERCENT}%;"></div>
										<div class="text">{profession.skills.LEVEL} / {profession.skills.MAX}</div>
									</div>
								</div>
							</div>
						</div>
<!-- END skills -->
						</div>
					</div>
				</div>
<!-- END profession -->

			</div>
		</div>
	</div>
</div>
