<!-- * $Id$ -->
<?php if( $_tpldata['S_SHOW_BUTTON'] ) { ?>
<form method="post" action="install.php" name="post">
<input type="hidden" name="install_step" value="4" />
<input type="hidden" name="db_host" value="<?php print $_tpldata['DB_HOST']; ?>" />
<input type="hidden" name="db_name" value="<?php print $_tpldata['DB_NAME']; ?>" />
<input type="hidden" name="db_user" value="<?php print $_tpldata['DB_USER']; ?>" />
<input type="hidden" name="db_passwd" value="<?php print $_tpldata['DB_PASSWD']; ?>" />
<input type="hidden" name="db_prefix" value="<?php print $_tpldata['DB_PREFIX']; ?>" />
<?php } ?>

<?php if( $_tpldata['MSG_TEXT'] != '' ) { ?>
<table cellspacing="1" cellpadding="2">
  <tr>
    <th align="left"><?php print $_tpldata['MSG_TITLE']; ?></th>
  </tr>
  <tr>
    <td align="center" class="row1">&nbsp;<br /><?php print $_tpldata['MSG_TEXT']; ?><br />&nbsp;</td>
  </tr>
</table>
<br />
<?php } ?>

<table cellspacing="1" cellpadding="2">
  <tr>
    <th align="left" colspan="2">Roster Admin Configuration</th>
  </tr>
  <tr>
    <td width="40%" class="row1" align="right">Roster Admin Password:</td>
    <td width="60%" class="row1" align="left"><input type="password" name="user_password1" value="" class="input" /></td>
  </tr>
  <tr>
    <td width="40%" class="row2" align="right">Roster Admin Password [ confirm ]:</td>
    <td width="60%" class="row2" align="left"><input type="password" name="user_password2" value="" class="input" /></td>
  </tr>
</table>
<br />

<?php if( $_tpldata['S_SHOW_BUTTON'] ) { ?>
<div align="center"><input type="submit" name="submit" value="Proceed" class="mainoption" /></div>
</form>
<?php } ?>