<!-- $Id: char.html 1744 2008-04-07 01:20:58Z Zanix $ -->

<div class="char_panel">
	<div {ALT_TOOLTIP}>
		<img src="{U_IMAGE_PATH}portrait/{CHAR_ICON}.gif" class="panel_icon" alt="" />
		<div class="panel_title">{NAME}</div>
		<div class="infoline_1">{L_LEVEL_RACE_CLASS}</div>
<!-- IF GUILD_NAME and GUILD_TITLE -->	<div class="infoline_2">{L_GUILD_LINE}</div><!-- ENDIF -->
	</div>

<!-- tab1 -->
	<div id="tab1" class="tab1" style="display:none;">
		<div class="background">&nbsp;</div>

		<div class="equip">
<!-- BEGIN equipment -->
			<div class="equip_{equipment.SLOT}">{equipment.ICON}</div>
<!-- END equipment -->
		</div>

		<div class="resist">
<!-- BEGIN resist -->
			<div class="{resist.CLASS}" {resist.TOOLTIP}><b>{resist.VALUE}</b><span>{resist.VALUE}</span></div>
<!-- END resist -->
		</div>

	<!-- Advanced Stats -->
		<img src="{U_IMAGE_PATH}percentframe.gif" class="percent_frame" alt="" />

		<div class="health"><span class="yellowB">{L_HEALTH}:</span> {HEALTH}</div>
		<div class="mana"><span class="yellowB">{L_CHAR_POWER}:</span> {POWER}</div>

		<div class="info_desc">
<!-- BEGIN info_stats -->
			{info_stats.NAME}<br />
<!-- END info_stats -->
		</div>

		<div class="info_values">
<!-- BEGIN info_stats -->
			{info_stats.VALUE}<br />
<!-- END info_stats -->
		</div>

<!-- IF S_MONEY -->
		<div class="money_disp">
			<!-- IF MONEY_G -->{MONEY_G}<img src="{IMG_URL}coin_gold.gif" class="coin" alt="g" /><!-- ENDIF -->
			<!-- IF MONEY_S -->{MONEY_S}<img src="{IMG_URL}coin_silver.gif" class="coin" alt="s" /><!-- ENDIF -->
			<!-- IF MONEY_C -->{MONEY_C}<img src="{IMG_URL}coin_copper.gif" class="coin" alt="c" /><!-- ENDIF -->
		</div>
<!-- ENDIF -->

		<!-- EXP Bar -->
		<img src="{U_IMAGE_PATH}expbar_empty.gif" class="xpbar_empty" alt="" />
		<div class="xpbar" style="clip:rect(0px {EXP_WIDTH}px 12px 0px);"><img src="{U_IMAGE_PATH}{EXP_TYPE}.gif" alt="" /></div>
		<div class="xpbar_text">{EXP_TEXT}</div>

		<script type="text/javascript">
		<!--
			addLpage('statsleft');
			addLpage('meleeleft');
			addLpage('rangedleft');
			addLpage('spellleft');
			addLpage('defenseleft');
			addRpage('statsright');
			addRpage('meleeright');
			addRpage('rangedright');
			addRpage('spellright');
			addRpage('defenseright');
		//-->
		</script>

		<select class="statselect_l" name="statbox_left" onchange="doLpage(this.value);">
			<option value="statsleft" selected="selected">{L_MENUSTATS}</option>
			<option value="meleeleft">{L_MELEE}</option>
			<option value="rangedleft">{L_RANGED}</option>
			<option value="spellleft">{L_SPELL}</option>
			<option value="defenseleft">{L_DEFENSE}</option>
		</select>
		<select class="statselect_r" name="statbox_right" onchange="doRpage(this.value);">
			<option value="statsright">{L_MENUSTATS}</option>
			<option value="meleeright"<!-- IF RIGHTBOX eq 'melee' --> selected="selected"<!-- ENDIF -->>{L_MELEE}</option>
			<option value="rangedright"<!-- IF RIGHTBOX eq 'ranged' --> selected="selected"<!-- ENDIF -->>{L_RANGED}</option>
			<option value="spellright"<!-- IF RIGHTBOX eq 'spell' --> selected="selected"<!-- ENDIF -->>{L_SPELL}</option>
			<option value="defenseright">{L_DEFENSE}</option>
		</select>

		<div class="padding">
<!-- BEGIN box_stats -->
			<div class="stats" id="{box_stats.ID}" style="display:<!-- IF box_stats.SHOW -->block<!-- ELSE -->none<!-- ENDIF -->">
<!-- BEGIN statline -->
				<div class="statline" {box_stats.statline.TOOLTIP}>
					<span class="value">{box_stats.statline.VALUE}</span>
					<span class="label">{box_stats.statline.NAME}:</span>
				</div>
<!-- END statline -->
			</div>
<!-- END box_stats -->
		</div>
	</div>

<!-- IF S_PET_TAB -->

<!-- tab2 -->
	<div id="tab2" class="tab2" style="display:none;">
		<div class="background">&nbsp;</div>

<!-- BEGIN pet -->
		<div id="pet_{pet.ID}" style="display:none;">
			<div class="name">{pet.NAME}</div>
			<div class="info">{L_LEVEL} {pet.LEVEL} {pet.TYPE}</div>

			<div class="loyalty">{pet.LOYALTY}</div>

			<img class="icon" src="{INTERFACE_URL}Interface/Icons/{pet.ICON}.{IMG_SUFFIX}" alt="" />

			<div class="health"><span class="yellowB">{L_HEALTH}:</span> {pet.HEALTH}</div>
			<div class="mana"><span class="yellowB">{pet.L_POWER}:</span> {pet.POWER}</div>

			<div class="resist">
<!-- BEGIN resist -->
				<div class="{pet.resist.CLASS}" {pet.resist.TOOLTIP}><b>{pet.resist.VALUE}</b><span>{pet.resist.VALUE}</span></div>
<!-- END resist -->
			</div>

<!-- IF pet.S_EXP -->
			<img src="{U_IMAGE_PATH}expbar_empty.gif" class="xpbar_empty" alt="" />
			<div class="xpbar" style="clip:rect(0px {pet.EXP_WIDTH}px 12px 0px);"><img src="{U_IMAGE_PATH}expbar_full.gif" alt="" /></div>
			<div class="xpbar_text">{pet.EXP_TEXT}</div>
<!-- ENDIF -->

			<div class="padding">
<!-- BEGIN box_stats -->
				<div class="stats">
<!-- BEGIN statline -->
					<div class="statline" {pet.box_stats.statline.TOOLTIP}>
						<span class="value">{pet.box_stats.statline.VALUE}</span>
						<span class="label">{pet.box_stats.statline.NAME}:</span>
					</div>
<!-- END statline -->
				</div>
<!-- END box_stats -->
			</div>

<!-- IF pet.TOTAL_TP -->
			<div class="trainingpts">{L_UNUSED_TRAINING}: {pet.UNUSED_TP} / {pet.TOTAL_TP}</div>
<!-- ENDIF -->
		</div>

<!-- END pet -->

<!-- Pet Navagation Tabs -->
		<div class="pet_tabs">
			<ul id="pet_tabs">
<!-- BEGIN pet -->
				<li {pet.TOOLTIP} style="background-image:url('{INTERFACE_URL}Interface/Icons/{pet.ICON}.{IMG_SUFFIX}');">
					<a rel="pet_{pet.ID}" class="text"></a></li>
<!-- END pet -->
			</ul>
		</div>
</div>

<script type="text/javascript">
	var pet_tabs=new tabcontent('pet_tabs');
	pet_tabs.init();
</script>
<!-- ENDIF -->

<!-- IF S_REP_TAB -->

<!-- tab3 -->
	<div id="tab3" class="tab3" style="display:none;">
		<div class="faction">{L_FACTION}</div>
		<div class="standing">{L_STANDING}</div>
		<div class="atwar">{L_ATWAR}</div>

		<div class="container">
<!-- BEGIN rep -->
			<div class="header" onclick="showHide('rep{rep.ID}','rep{rep.ID}_img','{THEME_PATH}/images/minus.gif','{THEME_PATH}/images/plus.gif');">
				<img src="{THEME_PATH}/images/<!-- IF rep.NAME eq L_CHAR_INACTIVE -->plus<!-- ELSE -->minus<!-- ENDIF -->.gif" id="rep{rep.ID}_img" class="minus_plus" alt="" />{rep.NAME}</div>
			<div id="rep{rep.ID}"<!-- IF rep.NAME eq L_CHAR_INACTIVE --> style="display:none;"<!-- ENDIF -->>
<!-- BEGIN bar -->
				<div class="rep_bar">
					<div class="rep_title">{rep.bar.NAME}</div>
					<div class="rep_bar_field" style="clip:rect(0px {rep.bar.WIDTH}px 13px 0px);"><img class="rep_bar_image" src="{rep.bar.IMAGE}" alt="" /></div>
					<div class="rep_bar_field"><img class="rep_bar_image" src="{IMG_URL}pixel.gif" alt="" /></div>
					<div class="rep_bar_text">{rep.bar.STANDING} - {rep.bar.VALUE} / {rep.bar.MAXVALUE}</div>
<!-- IF rep.bar.ATWAR -->
					<img src="{U_IMAGE_PATH}/rep/atwar.gif" style="float:right;" alt="" />
<!-- ENDIF -->
				</div>
<!-- END bar -->
			</div>
<!-- END rep -->
		</div>
	</div>

<!-- ENDIF -->

<!-- IF S_SKILL_TAB -->

<!-- tab4 -->
	<div id="tab4" class="tab4" style="display:none;">
		<div class="container">
<!-- BEGIN skill -->
			<div class="header">
				<img src="{THEME_PATH}/images/minus.gif" id="skill{skill.ID}_img" class="minus_plus" alt="" onclick="showHide('skill{skill.ID}','skill{skill.ID}_img','{THEME_PATH}/images/minus.gif','{THEME_PATH}/images/plus.gif');" />{skill.NAME}</div>
			<div id="skill{skill.ID}">
<!-- BEGIN bar -->
				<div class="skill_bar">
<!-- IF skill.bar.MAXVALUE eq 1 -->
					<div style="position:absolute;"><img src="{U_IMAGE_PATH}skill/bar_grey.gif" alt="" /></div>
					<div class="text">{skill.bar.NAME}</div>
<!-- ELSE -->
					<div style="position:absolute;clip:rect(0px {skill.bar.WIDTH}px 15px 0px);"><img src="{U_IMAGE_PATH}skill/bar.gif" alt="" /></div>
					<div class="text">{skill.bar.NAME}<span class="text_num">{skill.bar.VALUE} / {skill.bar.MAXVALUE}</span></div>
<!-- ENDIF -->
				</div>
<!-- END bar -->
			</div>
<!-- END skill -->
		</div>
	</div>

<!-- ENDIF -->

<!-- IF S_PVP_TAB -->

<!-- tab5 -->
	<div id="tab5" class="tab5" style="display:none;">
		<div class="background">&nbsp;</div>

		<div class="honortext">{L_HONOR}:<span>{HONOR_POINTS}</span>
			<img src="{IMG_URL}icon_{FACTION_EN}.png" style="width:20px;height:20px;" alt="" />
		</div>

		<div class="today">{L_TODAY}</div>
		<div class="yesterday">{L_YESTERDAY}</div>
		<div class="lifetime">{L_LIFETIME}</div>

		<div class="divider"></div>

		<div class="killsline">{L_KILLS}</div>
		<div class="killsline1">{SESSION_HK}</div>
		<div class="killsline2">{YEST_HK}</div>
		<div class="killsline3">{LIFE_HK}</div>

		<div class="honorline">{L_HONOR}</div>
		<div class="honorline1">{SESSION_CP}</div>
		<div class="honorline2">{YEST_CP}</div>
		<div class="honorline3">-</div>

		<div class="arenatext">{L_ARENA}:<span>{ARENA_POINTS}</span><img src="{IMG_URL}arenapointsicon.png" alt="" /></div>

	</div>
<!-- ENDIF -->


<!-- Navagation Tabs -->
	<div class="tab_navagation" style="margin:428px 0 0 17px;">
		<ul id="char_navagation">
<!-- BEGIN tabs -->
			<li<!-- IF tabs.SELECTED --> class="selected"<!-- ENDIF -->><a rel="{tabs.VALUE}" class="text">{tabs.NAME}</a></li>
<!-- END tabs -->
		</ul>
	</div>

<!-- Buff Icons -->
	<div class="buff_icons">
<!-- BEGIN buff -->
		<div class="buff"><img class="icon" src="{INTERFACE_URL}Interface/Icons/{buff.ICON}.{IMG_SUFFIX}" {buff.TOOLTIP} alt="" />
<!-- IF buff.COUNT -->
			<b>{buff.COUNT}</b><span>{buff.COUNT}</span>
<!-- ENDIF -->
		</div>
<!-- END buff -->
	</div>

</div>

<script type="text/javascript">
	var char_navagation=new tabcontent('char_navagation');
	char_navagation.init();
</script>
