<!-- * $Id$ -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Roster Installation - Step <?php print $_tpldata['INSTALL_STEP']; ?></title>
<link rel="stylesheet" type="text/css" href="install/templates/install_css.css">
</head>

<body>

<div align="center" style="border: 1px solid #212121;">

<div align="center" style="border: 1px solid #212121;margin:10px;padding:10px;">
  <a href="http://www.wowroster.net" target="_blank"><img src="img/wowroster_logo.jpg" alt="" border="0" /></a>
</div>

<span class="maintitle">Roster Installation</span><br />
<span class="subtitle">Step <?php print $_tpldata['INSTALL_STEP']; ?></span><br />
<br />
