<!-- $Id$ -->

<br />

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sblueborder">
			<div class="header_text sblueborder">{L_ADD_COMMENT}</div>

			<form method="post" action="{U_ADD_FORMACTION}" id="addcomment">
				<label for="author">{L_NAME}: </label><input class="wowinput128" name="author" id="author" type="text" maxlength="16" size="16" value="" />
				<br />

				<!-- IF S_HTML_ENABLE -->
				<input type="radio" id="html_on" name="html" value="1" <!-- IF S_COMMENT_HTML -->checked="checked" <!-- ENDIF -->/><label for="html_on">{L_ENABLE_HTML}</label>
				<input type="radio" id="html_off" name="html" value="0" <!-- IF ! S_COMMENT_HTML -->checked="checked" <!-- ENDIF -->/><label for="html_off">{L_DISABLE_HTML}</label>
				<br /><br />
				<!-- ENDIF -->

				<!-- IF S_NICEDIT_ENABLE -->
				<textarea name="comment" id="comment" cols="85" rows="20"></textarea>
				<!-- ENDIF -->
				<!-- IF ! S_NICEDIT_ENABLE -->
				<textarea class="input" name="comment" id="comment" cols="85" rows="20"></textarea>
				<!-- ENDIF -->
				<input type="hidden" name="process" value="process" />
				<input type="hidden" name="id" value="{U_NEWS_ID}" />
				<br />
				<br />
				<input type="submit" value="{L_ADD_COMMENT}"/>
			</form>

		</td>
	</tr>
</table>
