<!-- $Id$ -->

<!-- BEGIN news_row -->

<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title">
<!-- IF S_EDIT_NEWS -->
			<div class="right"><a class="input" href="{news_row.U_EDIT}"><!-- TRANSLATE edit --></a></div>
<!-- ENDIF -->
			{news_row.TITLE}
		</div>

		<div class="info-text-h">
{news_row.CONTENT}
		</div>
		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="config">
					<div class="config-name"><!-- TRANSLATE posted_by -->: {news_row.AUTHOR} - {news_row.DATE}</div>
					<div class="config-input"><a href="{news_row.U_COMMENT}">{news_row.L_COMMENT}</a></div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- END news_row -->
