<!-- $Id$ -->
{U_BORDER_S}

<form method="post" action="{U_FORMACTION}" id="addnews">
<label for="author">{L_NAME}:</label> <input class="wowinput128" name="author" id="author" type="text" maxlength="16" size="16" value="" />
<label for="title">{L_TITLE}:</label> <input class="wowinput192" name="title" id="title" type="text" size="32" value="" />
<br /><br />

<!-- IF S_HTML_ENABLE -->
<input type="radio" id="html_on" name="html" value="1" <!-- IF S_NEWS_HTML -->checked="checked" <!-- ENDIF -->/><label for="html_on">{L_ENABLE_HTML}</label>
<input type="radio" id="html_off" name="html" value="0" <!-- IF ! S_NEWS_HTML -->checked="checked" <!-- ENDIF -->/><label for="html_off">{L_DISABLE_HTML}</label>
<br /><br />
<!-- ENDIF -->

<textarea class="input" name="news" id="news" cols="85" rows="20"></textarea>
<br /><br />
<input type="hidden" name="process" value="process" />
<input type="submit" value="{L_ADD_NEWS}"/>
</form>

{U_BORDER_E}
