<!-- $Id$ -->

<div class="tier-2-a" style="margin:4px auto; width: 600px;">
	<div class="tier-2-b exp-content">
		<div class="tier-2-title">
			<div class="right"><a class="input" href="?mode=phpinfo" target="_blank">View phpinfo()</a></div>
			Server Configuration
		</div>

		<div class="ui-widget ui-widget-content ui-corner-all roster-version">
			<div class="title">Version</div>
			<div class="text">Using:<span class="right">{OUR_ROSTER_VERSION}</span></div>
			<div class="text">Latest:<span class="right">{THEIR_ROSTER_VERSION}</span></div>
			<div class="text">Updated:<span class="right">{THEIR_ROSTER_UPDATED}</span></div>
		</div>

		<div class="ui-widget ui-widget-content ui-corner-all php-info">
			<div class="title">PHP Info</div>
			<div class="text">
				<span class="first">Version:</span>
				<span class="middle">Using: {OUR_PHP_VERSION}</span>
				<span class="right">Required: {THEIR_PHP_VERSION}</span>
			</div>
			<div class="text">
				<span class="first">MySQL Module:</span>
				<span class="middle">Available: {OUR_MYSQL}</span>
				<span class="right">Required: {THEIR_MYSQL}</span>
			</div>
			<div class="text">
				<span class="first">GD Module:</span>
				<span class="middle">Available: {OUR_GD}</span>
				<span class="right">{THEIR_GD}</span>
			</div>
			<div class="text">
				<span class="first">CURL Module:</span>
				<span class="middle">Available: {OUR_CURL}</span>
				<span class="right">{THEIR_CURL}</span>
			</div>
		</div>

	</div>
</div>

<div class="tier-2-a" style="margin:4px auto; width: 300px;">
	<div class="tier-2-b">
		<div class="tier-2-title">
			Directory Permissions
		</div>

<!-- BEGIN dir -->
		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="right" onmouseover="return overlib('{dir.TIP}',CAPTION,'{dir.CAPTION}');" onmouseout="return nd();">
					<img src="{THEME_PATH}/images/{dir.WRITE}.png" alt="" />
				</div>
				<div class="text">
					{dir.NAME}
				</div>
			</div>
		</div>
<!-- END dir -->

	</div>
</div>

<!-- IF S_SHOW_BUTTON -->
<form method="post" action="{FORMACTION}" name="post">
	<input type="hidden" name="install_step" value="2" />
	<div align="center"><input type="submit" name="submit" value="Start Install" class="submit" /></div>
</form>
<!-- ENDIF -->
