<!-- $Id$ -->

<div class="container">

	<div class="tier-1-a">
		<div class="tier-1-b">
			<div class="tier-1-c">
				<div class="tier-1-title"><!-- TRANSLATE equipment --></div>

				<div class="tier-2-a">
					<div class="tier-2-b">
<!-- BEGIN equipment -->
						<div class="item" {equipment.TOOLTIP}{equipment.ITEMLINK}>
							<!-- IF equipment.ICON eq 'img/pixel.gif' --><img src="{THEME_PATH}/images/shader.png" alt="" /><!-- ELSE --><img src="{equipment.ICON}" alt="" /><!-- ENDIF -->
							<div class="mask {equipment.QUALITY}"></div>
<!-- IF equipment.QTY gt 1 -->
							<b>{equipment.QTY}</b>
							<span>{equipment.QTY}</span>
<!-- ENDIF -->
						</div>
<!-- END equipment -->
						<div style="clear:both;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- IF S_BAG -->
	<div class="tier-1-a">
		<div class="tier-1-b">
			<div class="tier-1-c">
				<div class="tier-1-title"><!-- TRANSLATE bags -->
					<div class="links">
<!-- BEGIN bag -->
						<a href="{bag.LINK}" class="icon" {bag.TOOLTIP}><img src="{bag.ICON}" alt="" /><span class="mask"></span></a>
<!-- END bag -->
					</div> 
				</div>
<!-- BEGIN bag -->
				<a name="{bag.SLOTL}"></a>
				<div class="tier-2-a">
					<div class="tier-2-b">
						<div class="tier-2-title">
							<div class="icon" {bag.TOOLTIP}{bag.LINKTIP}>
								<img src="{bag.ICON}" alt="" />
								<div class="mask"></div>
							</div>
							{bag.NAME}
						</div>
<!-- BEGIN item -->
						<div class="item" {bag.item.TOOLTIP}{bag.item.ITEMLINK}>
							<!-- IF bag.item.ICON eq '' --><img src="{THEME_PATH}/images/shader.png" alt="" /><!-- ELSE --><img src="{bag.item.ICON}" alt="" /><!-- ENDIF -->
							<div class="mask {bag.item.QUALITY}"></div>
<!-- IF bag.item.QTY gt 1 -->
							<b>{bag.item.QTY}</b><span>{bag.item.QTY}</span>
<!-- ENDIF -->
						</div>
<!-- END item -->
						<div style="clear:both;"></div>
					</div>
				</div>
<!-- END bag -->
			</div>
		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_KEY -->
	<div class="tier-1-a">
		<div class="tier-1-b">
			<div class="tier-1-c">
				<div class="tier-1-title"><!-- TRANSLATE keyring -->
					<div class="links">
<!-- BEGIN key -->
						<a href="{key.LINK}" class="icon" {key.TOOLTIP}><img src="{key.ICON}" alt="" /><span class="mask"></span></a>
<!-- END key -->
					</div> 
				</div>
<!-- BEGIN key -->
				<a name="{key.SLOTL}"></a>
				<div class="tier-2-a">
					<div class="tier-2-b">
						<div class="tier-2-title">
							<div class="icon" {key.TOOLTIP}{key.LINKTIP}>
								<img src="{key.ICON}" alt="" />
								<div class="mask"></div>
							</div>
							{key.NAME}
						</div>
<!-- BEGIN item -->
						<div class="item" {key.item.TOOLTIP}{key.item.ITEMLINK}>
							<!-- IF key.item.ICON eq '' --><img src="{THEME_PATH}/images/shader.png" alt="" /><!-- ELSE --><img src="{key.item.ICON}" alt="" /><!-- ENDIF -->
							<div class="mask {key.item.QUALITY}"></div>
<!-- IF key.item.QTY gt 1 -->
							<b>{key.item.QTY}</b><span>{key.item.QTY}</span>
<!-- ENDIF -->
						</div>
<!-- END item -->
						<div style="clear:both;"></div>
					</div>
				</div>
<!-- END key -->
			</div>
		</div>
	</div>
<!-- ENDIF -->


<!-- IF S_BANK -->
	<div class="tier-1-a">
		<div class="tier-1-b">
			<div class="tier-1-c">
				<div class="tier-1-title"><!-- TRANSLATE bank -->
					<div class="links">
<!-- BEGIN bank -->
						<a href="{bank.LINK}" class="icon" {bank.TOOLTIP}><img src="{bank.ICON}" alt="" /><span class="mask"></span></a>
<!-- END bank -->
					</div> 
				</div>
<!-- BEGIN bank -->
				<a name="{bank.SLOTL}"></a>
				<div class="tier-2-a">
					<div class="tier-2-b">
						<div class="tier-2-title">
							<div class="icon" {bank.TOOLTIP}{bank.LINKTIP}>
								<img src="{bank.ICON}" alt="" />
								<div class="mask"></div>
							</div>
							{bank.NAME}
						</div>
<!-- BEGIN item -->
						<div class="item" {bank.item.TOOLTIP}{bank.item.ITEMLINK}>
							<!-- IF bank.item.ICON eq '' --><img src="{THEME_PATH}/images/shader.png" alt="" /><!-- ELSE --><img src="{bank.item.ICON}" alt="" /><!-- ENDIF -->
							<div class="mask {bank.item.QUALITY}"></div>
<!-- IF bank.item.QTY gt 1 -->
							<b>{bank.item.QTY}</b><span>{bank.item.QTY}</span>
<!-- ENDIF -->
						</div>
<!-- END item -->
						<div style="clear:both;"></div>
					</div>
				</div>
<!-- END bank -->
			</div>
		</div>
	</div>
<!-- ENDIF -->
</div>
<br style="clear:both;" />
