<div class="container">

	<div style="float: left;">

		<div class="achievements">
			<div class="achv_lnav">
				<div class="achv_bdr"><img src="{THEME_PATH}/achievements/images/achv_lnav_top.jpg"></a></div>
					<div class="category-root">

						<div id="m00" class="selected" style="display:block">
							<a href="#" rel="sub00" onclick="{SHOWHIDE} showHide('sub00'); showHide('m00'); showHide('mm00');return false;">Summary</a></div>
							<div id="sub00" style="display:none;">
								<div id="rp_menu9">
									<div><a href="#" rel="00" onclick="return false;">Summary</a></div>
								</div>
							</div>
						
						<div id="m92" style="display:block">
							<a href="#"  rel="sub92" onclick="{SHOWHIDE} showHide('sub92'); showHide('m92'); showHide('mm92'); hide('00');return false;">General</a></div>
							<div id="sub92" style="display:none;">
								<div id="rp_menu">
									<div><a href="#" rel="92" onclick="return false;">General</a></div>
								</div>
							</div>
							
						<div id="m95" style="display:block">
							<a href="#"  rel="sub95" onclick="{SHOWHIDE} showHide('sub95'); showHide('m95'); showHide('mm95'); hide('00');return false;">Player vs. Player</a></div>
							<div id="sub95" style="display:none;">
								<div id="rp_menu1">
									<div ><a href="#" rel="95" onclick="return false;">Player vs. Player</a></div>
							<!-- BEGIN sub95 -->
										<div ><a href="#" rel="{sub95.ID}" >--{sub95.NAME}</a></div>
							<!-- END sub95 -->
								</div>
							</div>
							
						<div id="m96" style="display:block">
							<a href="#" rel="sub96" onclick="{SHOWHIDE} showHide('sub96'); showHide('m96'); showHide('mm96'); hide('00');return false;">Quests</a></div>
							<div id="sub96" style="display:none;">
								<div id="rp_menu2">
									<div><a href="#" rel="96" onclick="return false;">Quests</a></div>
							<!-- BEGIN sub96 -->
										<div><a href="#" rel="{sub96.ID}" >--{sub96.NAME}</a></div>
							<!-- END sub96 -->
								</div>
							</div>
							
						<div id="m97" style="display:block">
							<a  href="#" rel="sub97" onclick="{SHOWHIDE} showHide('sub97'); showHide('m97'); showHide('mm97'); hide('00');return false;">Exploration</a></div>
							<div id="sub97" style="display:none;">
								<div id="rp_menu3">
									<div><a href="#" rel="97" onclick="return false;">Exploration</a></div>
							<!-- BEGIN sub97 -->
										<div><a href="#" rel="{sub97.ID}" >--{sub97.NAME}</a></div>
							<!-- END sub97 -->
								</div>
							</div>
							
						<div id="m155" style="display:block">
							<a href="#" rel="sub155" onclick="{SHOWHIDE} showHide('sub155'); showHide('m155'); showHide('mm155'); hide('00');return false;">World Events</a></div>
							<div id="sub155" style="display:none;">
								<div id="rp_menu4">
									<div><a href="#" rel="155" onclick="return false;">World Events</a></div>
							<!-- BEGIN sub155 -->
										<div><a href="#" rel="{sub155.ID}" >--{sub155.NAME}</a></div>
							<!-- END sub155 -->
								</div>
							</div>
							
						<div id="m168" style="display:block">
							<a href="#" rel="sub168" onclick="{SHOWHIDE} showHide('sub168'); showHide('m168'); showHide('mm168'); hide('00');return false;">Dungeons &amp; Raids</a></div>
							<div id="sub168" style="display:none;">
								<div id="rp_menu5">
									<div><a href="#" rel="168" onclick="return false;">Dungeons &amp; Raids</a></div>
							<!-- BEGIN sub168 -->
										<div><a href="#" rel="{sub168.ID}" >--{sub168.NAME}</a></div>
							<!-- END sub168 -->
								</div>
							</div>
							
						<div id="m169" style="display:block">
							<a href="#" rel="sub169" onclick="{SHOWHIDE} showHide('sub169'); showHide('m169'); showHide('mm169'); hide('00');return false;">Professions</a></div>
							<div id="sub169" style="display:none;">
								<div id="rp_menu6">
									<div><a href="#" rel="169" onclick="return false;">Professions</a></div>
							<!-- BEGIN sub169 -->
										<div><a href="#" rel="{sub169.ID}" >--{sub169.NAME}</a></div>
							<!-- END sub169 -->
								</div>
							</div>
							
						<div id="m201" style="display:block">
							<a href="#" rel="sub201" onclick="{SHOWHIDE} showHide('sub201'); showHide('m201'); showHide('mm201'); hide('00');return false;">Reputation</a></div>
							<div id="sub201" style="display:none;">
								<div id="rp_menu7">
									<div><a href="#" rel="201" onclick="return false;">Reputation</a></div>
							<!-- BEGIN sub201 -->
										<div><a href="#" rel="{sub201.ID}" >--{sub201.NAME}</a></div>
							<!-- END sub201 -->
								</div>
							</div>
						<div id="m81" style="display:block">
							<a href="#" rel="sub81" onclick="{SHOWHIDE} showHide('sub81'); showHide('m81'); showHide('mm81'); hide('00');return false;">Feats of Strength</a></div>
							<div id="sub81" style="display:none;">
								<div id="rp_menu8">
									<div><a href="#" rel="81" onclick="return false;">Feats of Strength</a></div>
								</div>
							</div>
						
					</div>
					</div>
					</div>
					</div>


	<div style="float: right; width: 720px;">

<!-- BEGIN body2 -->
		<div id="00" style="display:block">
			<table width="5px">
				<tr>
					<td valign="top" >
						<table cellpadding="0" cellspacing="1">
							<tr>
								<td valign="top" background="{THEME_PATH}/achievements/images/">

									<div class="achievements">
										<div class="achieve_rcol">
											<div><img src="{THEME_PATH}/achievements/images/achv_rcol_top.jpg" /></a></div>
											<div class="achievements-container">
												<div id="achievements-content">
													<div class="summary" STYLE="color: black">
														<div>
															<div class="prog_bar ">
																<div class="progress_cap"></div>
																<div class="progress_cap_r" style="background-position:bottom"></div>
																<div class="progress_int">
																	<div class="progress_fill" style="width:23.624161073825505%"></div>
																	<div class="prog_int_text">{body2.TOTAL}</div>
																</div>
															</div>
														</div>
														<div class="summary_progress_container">
<!-- BEGIN 92 -->
															<div class="summary_progress">
																<div>{body2.92.NAME}: </div>
																<div>
																	<div class="prog_bar staticTip blue">
																		<div class="progress_int">
																			<div class="progress_fill" style="width:{body2.92.WIDTH}%"></div>
																			<div class="prog_int_text">{body2.92.STANDING}</div>
																		</div>
																	</div>
																</div>
															</div>
<!-- END 92 -->
<!-- BEGIN 96 -->
															<div class="summary_progress">
																<div>{body2.96.NAME}: </div>
																<div>
																	<div class="prog_bar blue">
																		<div class="progress_int">
																			<div class="progress_fill" style="width:{body2.96.WIDTH}%"></div>
																			<div class="prog_int_text">{body2.96.STANDING}</div>
																		</div>
																	</div>
																</div>
															</div>
<!-- END 96 -->
<!-- BEGIN 97 -->
															<div class="summary_progress">
																<div>{body2.97.NAME}: </div>
																<div>
																	<div class="prog_bar blue">
																		<div class="progress_int">
																			<div class="progress_fill" style="width:{body2.97.WIDTH}%"></div>
																			<div class="prog_int_text">{body2.97.STANDING}</div>
																		</div>
																	</div>
																</div>
															</div>
<!-- END 97 -->
<!-- BEGIN 95 -->
															<div class="summary_progress">
																<div>{body2.95.NAME}: </div>
																<div>
																	<div class="prog_bar blue">
																		<div class="progress_int">
																			<div class="progress_fill" style="width:{body2.95.WIDTH}%"></div>
																			<div class="prog_int_text">{body2.95.STANDING}</div>
																		</div>
																	</div>
																</div>
															</div>
<!-- END 95 -->
<!-- BEGIN 168 -->
															<div class="summary_progress">
																<div>{body2.168.NAME}: </div>
																<div>
																	<div class="prog_bar blue">
																		<div class="progress_int">
																			<div class="progress_fill" style="width:{body2.168.WIDTH}%"></div>
																			<div class="prog_int_text">{body2.168.STANDING}</div>
																		</div>
																	</div>
																</div>
															</div>
<!-- END 168 -->
<!-- BEGIN 169 -->
															<div class="summary_progress">
																<div>{body2.169.NAME}: </div>
																<div>
																	<div class="prog_bar blue">
																		<div class="progress_int">
																			<div class="progress_fill" style="width:{body2.169.WIDTH}%"></div>
																			<div class="prog_int_text">{body2.169.STANDING}</div>
																		</div>
																	</div>
																</div>
															</div>
<!-- END 169 -->
<!-- BEGIN 201 -->
															<div class="summary_progress">
																<div>{body2.201.NAME}: </div>
																<div>
																	<div class="prog_bar blue">
																		<div class="progress_int">
																			<div class="progress_fill" style="width:{body2.201.WIDTH}%"></div>
																			<div class="prog_int_text">{body2.201.STANDING}</div>
																		</div>
																	</div>
																</div>
															</div>
<!-- END 201 -->
<!-- BEGIN 155 -->
															<div class="summary_progress">
																<div>{body2.155.NAME}: </div>
																<div>
																	<div class="prog_bar blue">
																		<div class="progress_int">
																			<div class="progress_fill" style="width:{body2.155.WIDTH}%"></div>
																			<div class="prog_int_text">{body2.155.STANDING}</div>
																		</div>
																	</div>
																</div>
															</div>
<!-- END 155 -->
<!-- BEGIN 81 -->
															<div class="summary_progress">
																<div>{body2.81.NAME}: </div>
																<div>
																	<div class="null_progress">{body2.81.STANDING}</div>
																</div>
															</div>
<!-- END 81 -->
															<br clear="all" />
															<br />

														</div>
														<div class="recent_header">{body2.RECENT}</div>

<!-- BEGIN lst5-->
														<div class="s_achievement" >
															<div class="s_ach_stat">{body2.lst5.POINTS}<img src="{THEME_PATH}/achievements/images/tiny_shield.gif" />
																	{body2.lst5.DATE}</a>
															</div>
															<span>{body2.lst5.NAME}</span><span class="achv_desc">{body2.lst5.DESC}</span>
														</div>
<!-- END lst5-->

													</div>
												</div>
											</div>
											<div class="achv_r_btm"><img src="{THEME_PATH}/achievements/images/achv_rcol_btm.jpg" /></a></div>

										</div>
										<br clear="all" />
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
<!-- END body2 -->

<!-- BEGIN body -->
<div id="{body.ID}" style="display:none">
<!-- BEGIN info -->
	<div id="{body.info.ID}" style="display:none">

		<div class="achievements">
			<div class="achieve_rcol">
				<div><img src="{THEME_PATH}/achievements/images/achv_rcol_top.jpg" /></a></div>
				<div class="achievements-container">
					<div id="achievements-content">
												


						<div class="tier-1-a">
							<div class="tier-1-b">
								<div class="tier-1-c">
									<div class="tier-1-title">{body.info.NAME}</div>

<!-- BEGIN achv -->
										<div class="achievement-{body.info.achv.STATUS}">
											<div class="achievement-2">
												<div class="achievement-icon">
													<div class="icon"><img src="{body.info.achv.ICON}" /><div class="mask-{body.info.achv.STATUS}"></div></div>
												</div>
												<div class="achievement-shield-{body.info.achv.STATUS}">
													<div class="points">{body.info.achv.POINTS}</div>
												</div>
												<div class="achievement-info">
													<div class="name">{body.info.achv.NAME}</div>
													<div class="desc">{body.info.achv.DESC}</div>
<!-- IF body.info.achv.DATE -->
													<div class="date">{body.info.achv.DATE}</div>
<!-- ENDIF -->
												</div>
												<div style="height: 0px; clear: both;"></div>
											</div>
										</div>
<!-- END achv -->
									

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="achv_r_btm"><img src="{THEME_PATH}/achievements/images/achv_rcol_btm.jpg" /></a></div>

			</div>

		</div>
		</div>
		<!-- END info -->
	</div>
	<!-- END body -->
	</div>

	<br clear="all" />

</div>

<script type="text/javascript">
<!--
	var rp_menu=new tabcontent('rp_menu');
	rp_menu.init();

	var rp_menu1=new tabcontent('rp_menu1');
	rp_menu1.init();

	var rp_menu2=new tabcontent('rp_menu2');
	rp_menu2.init();

	var rp_menu3=new tabcontent('rp_menu3');
	rp_menu3.init();

	var rp_menu4=new tabcontent('rp_menu4');
	rp_menu4.init();

	var rp_menu5=new tabcontent('rp_menu5');
	rp_menu5.init();

	var rp_menu6=new tabcontent('rp_menu6');
	rp_menu6.init();

	var rp_menu7=new tabcontent('rp_menu7');
	rp_menu7.init();

	var rp_menu8=new tabcontent('rp_menu8');
	rp_menu8.init();

	var rp_menu9=new tabcontent('rp_menu9');
	rp_menu9.init();
//-->
</script>
