<!-- BEGIN accounts_profile -->
{accounts_profile.MESSAGE}
<br />
{accounts_profile.BORDER_START}
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
	  <td width="200">
       	<div class="profileRow1" align="left">{accounts_profile.USER}</div>
    	<!-- IF accounts_profile.S_FNAME == 1 --><div class="profileRow2" align="left">{accounts_profile.FNAME}</div><!-- ENDIF -->
        <!-- IF accounts_profile.S_LNAME == 1 --><div class="profileRow1" align="left">{accounts_profile.LNAME}</div><!-- ENDIF -->
       	<div class="profileRow2" align="left">&nbsp;</div>
        </td>
		<td width="200">
        	<div class="profileRow1">&nbsp;</div>
            <!-- IF accounts_profile.S_CITY == 1 --><div class="profileRow2" align="right">{accounts_profile.CITY}</div><!-- ENDIF -->
        	<!-- IF accounts_profile.S_COUNTRY == 1 --><div class="profileRow1" align="right">{accounts_profile.COUNTRY}</div><!-- ENDIF -->
            <div class="profileRow2">&nbsp;</div>
		</td>
		<td width="185">
			<div class="profileRowimg"><center><img src="{accounts_profile.AVATAR}" alt="{accounts_profile.AVATAR}"/></center></div>
        	<div class="profileRow2"><center><!-- IF accounts_profile.ONLINE --><b>{accounts_profile.IS_ONLINE}</b>
<!-- ELSE --><b>{accounts_profile.IS_OFFLINE}</b><!-- ENDIF --></center></div>
		</td>
	</tr>
  	<tr>
  		<td width="200">
			<!-- IF accounts_profile.S_EMAIL == 1 --><div class="profileRow1">{accounts_profile.EMAIL}</div><!-- ENDIF -->
        	<!-- IF accounts_profile.S_HOMEPAGE == 1 --><div class="profileRow2">{accounts_profile.HOMEPAGE}</div><!-- ENDIF -->
            <div class="profileRow1">&nbsp;</div>
            <div class="profileRow2">&nbsp;</div>
    	</td>
    	<td width="200">
        	<div class="profileRow1">&nbsp;</div>
            <div class="profileRow2">&nbsp;</div>
            <div class="profileRow1">&nbsp;</div>
            <div class="profileRow2">&nbsp;</div>
      </td>
        <td width="180">
        	<div class="profileRow1">&nbsp;</div>
        	<!-- IF accounts_profile.S_JOINED == 1 --><div class="profileRow2">{accounts_profile.JOINED}</div><!-- ENDIF -->
        	<!-- IF accounts_profile.S_LOGIN == 1 --><div class="profileRow1">{accounts_profile.LOGIN}</div><!-- ENDIF -->
    		<div class="profileRow2">{accounts_profile.GROUPID}</div>
    	</td>
  	</tr>
</table>
{accounts_profile.BORDER_END}
<!-- END accounts_profile -->