

<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-1-title">
			<div class="icon">
				<img src="http://www.wowroster.net/Interface/Icons/inv_misc_gear_02.png" alt="" />
				<div class="mask"></div>
			</div>
			<!-- TRANSLATE alt_clame -->
		</div>
		
		<div class="tier-1-a" style="margin-top: 5px;">
			<div class="tier-1-b">
				<div class="tier-1-c exp-content">
					<div class="info-text-h">
						<!-- TRANSLATE alt_header -->
						<br>
						<!-- TRANSLATE alt_desc -->
						<br><div id="photo"></div>
						<table>
							<tr>
								<td width="100">{N_EQUIP_1}</td>
								<td width="100">{N_EQUIP_2}</td>
								<td width="100">{N_EQUIP_3}</td>
							</tr>
							<tr>
								<td>
										<img src="{R_IMAGE_PTH}{R_EQUIP_1}.gif" alt="" />
										<div id="EQ1" class="RGquestion"></div>
								</td>
								<td>

										<img src="{R_IMAGE_PTH}{R_EQUIP_2}.gif" alt="" />
										<div id="EQ2" class="RGquestion"></div>

								</td>
								<td>
										<img src="{R_IMAGE_PTH}{R_EQUIP_3}.gif" alt="" />
										<div id="EQ3" class="RGquestion"></div>
								</td>
							</tr>
						</table>

						<div class="tier-3-a">
							<div class="tier-3-b">
								<div class="config">
									<div class="config-name">
										<span class="ui-icon ui-icon-help" style="cursor:help;" {CNAMETT} onmouseout="return nd();"></span>
									<label for="username">{CNAME}</label> <input type="submit" name="submit" class="button" id="submit_btn" value="Check Me" />
									</div>
				<form name="register" style="display:inline;" method="post" enctype="multipart/form-data" action="">
									<div class="config-input">
										<input type="text" name="username" value="" id="pUsername" />
									</div>
								</div>
							</div>
						</div>
						<div class="tier-3-a">
							<div class="tier-3-b">
								<div class="config">
									<div class="config-name">
										<span class="ui-icon ui-icon-help" style="cursor:help;" {CLASSTT} onmouseout="return nd();"></span>
									<label for="username">{CLASS}</label>
									</div>
									<div class="config-input">
										<input type="text" name="class" value="" id="class" disabled="disabled" />
									</div>
								</div>
							</div>
						</div>
						
						<div class="tier-3-a">
							<div class="tier-3-b">
								<div class="config">
									<div class="config-name">
										<span class="ui-icon ui-icon-help" style="cursor:help;" {LEVELTT} onmouseout="return nd();"></span>
									<label for="username">{LEVEL}</label>
									</div>
									<div class="config-input">
										<input type="text" name="level" value="" id="level" disabled="disabled" />
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="tier-3-a">
							<div class="tier-3-b">
								<div class="config">
									<div class="config-name">
										<span class="ui-icon ui-icon-help" style="cursor:help;" {RANKTT} onmouseout="return nd();"></span>
									<label for="username">{RANK}</label>
									</div>
									<div class="config-input">
										<input type="hidden" name="rank" value="" id="rank" /><div id="title"></div>
									</div>
								</div>
							</div>
						</div>

						{XXX}
						<input type="hidden" name="member_id" value="" id="member_id" />
						<span id="validateUsername">{R_MSG_ERROR}</span>
						<br>
						<input type="hidden" name="op" value="alt" id="op" />
						<input type="submit" name="submit" class="button" id="xsubmit" value="Claim" />

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
