<!-- BEGIN user_messaging -->
{user_messaging.MESSAGE}
<br />
<table cellspacing="5">
	<tr>
    	<td align="left" valign="top">
			{user_messaging.MENU}
		</td>
        <td align="center" width="600" min-height="70">
			<div class="tier-2-a" >
				<div class="tier-2-b" >
					<div class="tier-2-title">
						<div class="icon">
							<img src="{INTERFACE_URL}Interface/Icons/{user_messaging.ICON}.{IMG_SUFFIX}" alt="" />
							<div class="mask"></div>
						</div>
						{user_messaging.PAGETITLE}
					</div>
					<div class="tier-2-aa">
						<div class="article-right">
							<div class="info-text-h">
			{user_messaging.FORM}
							</div>
						</div>
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>
<!-- END user_messaging -->