<!-- $Id$ -->

<span class="title_text"><!-- TRANSLATE setup_guide --></span><br />

<!-- IF S_STEP_1 -->
<a href="{U_ROSTERCP}">Skip install guide -&gt;</a>

<br />
<br />
<!-- ENDIF -->

{MESSAGE}

<!-- IF S_STEP_1 -->
<form action="{U_MAKELINK}" method="post" enctype="multipart/form-data" id="guide" onsubmit="submitonce(this);">
<input type="hidden" name="guide_step" value="2" />

<table class="border_frame" cellpadding="0" cellspacing="1" style="width:400px;">
	<tr>
		<td class="border_color syellowborder">
			<div class="header_text syellowborder"><!-- TRANSLATE default_data --></div>

			<table class="bodyline" cellspacing="0" width="100%">
				<tr>
					<td class="membersRowRight1" colspan="3"><!-- TRANSLATE default_data_help --></td>
				</tr>
				<tr>
					<th class="membersHeader" {L_NAME_TIP}><!-- TRANSLATE name --></th>
					<th class="membersHeader" {L_SERVER_TIP}><!-- TRANSLATE server --></th>
					<th class="membersHeaderRight" {L_REGION_TIP}><!-- TRANSLATE region --></th>
				</tr>
				<tr>
					<td class="membersRow1"><input class="wowinput128" type="text" name="name" value="" /></td>
					<td class="membersRow1"><input class="wowinput128" type="text" name="server" value="" /></td>
					<td class="membersRowRight1"><input class="wowinput64" type="text" name="region" value="" maxlength="2" /></td>
				</tr>
			</table>

		</td>
	</tr>
</table>
<br />

<input type="submit" name="submit" value="<!-- TRANSLATE next -->" class="submit" />
</form>

<!-- ENDIF -->
