<!-- $Id$ -->




<div class="container">

	<div class="tier-1-a">
		<div class="tier-1-b">
			<div class="tier-1-c">
				<div class="tier-1-title"><!-- TRANSLATE recipes -->
					<div class="links">
<!-- BEGIN recipe -->
						<a href="{recipe.LINK}" class="icon" {recipe.TOOLTIP}><img src="{INTERFACE_URL}Interface/Icons/{recipe.ICON}.{IMG_SUFFIX}" /><span class="mask"></span></a>
<!-- END recipe -->
					</div>
				</div>

<!-- BEGIN recipe -->
				<a name="{recipe.ID}"></a>

				<div class="tier-2-a">
					<div class="tier-2-b">
						<div class="tier-2-title" style="cursor:pointer;" onclick="showHide('recipe_{recipe.ID}','img_{recipe.ID}','{THEME_PATH}/images/button_open.png','{THEME_PATH}/images/button_close.png');">
							<div class="icon">
								<img src="{INTERFACE_URL}Interface/Icons/{recipe.ICON}.{IMG_SUFFIX}" />
								<div class="mask"></div>
							</div>
							{recipe.NAME}
							<img style="float:right;" id="img_{recipe.ID}" src="{THEME_PATH}/images/button_<!-- IF S_RECIPE_HIDE -->close<!-- ELSE -->open<!-- ENDIF -->.png" alt="" />
						</div>
						<div id="recipe_{recipe.ID}" style="width:100%;<!-- IF S_RECIPE_HIDE -->display:none;<!-- ENDIF -->">

							<div class="tier-3-a">
								<div class="tier-3-b">
									<div class="text">
										<div style="width: 280px;"><a href="{U_NAME}"><!-- TRANSLATE name --></a></div>
										<div style="width: 130px;"><a href="{U_TYPE}"><!-- TRANSLATE type --></a></div>
										<div style="width: 50px; text-align: center;"><a href="{U_LEVEL}"><!-- TRANSLATE level --></a></div>
										<div style="width: 300px;"><a href="{U_REAGENTS}"><!-- TRANSLATE reagents --></a></div>
									</div>
								</div>
							</div>

<!-- BEGIN row -->
							<div class="tier-6-a" >
								<div class="tier-6-b {recipe.row.DIFFICULTY_COLOR}">
									<div class="text" >
										<div style="width: 280px; overflow: hidden;">
											<div class="item-sm" {recipe.row.TOOLTIP}{recipe.row.ITEMLINK}>
												<img src="{recipe.row.ICON}" alt="" />
												<div class="mask {recipe.row.QUALITY}"></div>
											</div>
											{recipe.row.NAME}
										</div>
										<div style="width: 130px;">{recipe.row.TYPE}</div>
										<div style="width: 50px; text-align: center;">{recipe.row.LEVEL}</div>
										<div style="width: 300px;">
<!-- BEGIN reagents -->
											<div class="item-sm" {recipe.row.reagents.TOOLTIP}>
												<img src="{INTERFACE_URL}Interface/Icons/{recipe.row.reagents.ICON}.{IMG_SUFFIX}" alt="" />
												<div class="mask common"></div>
											</div>
											<div class="text"> X {recipe.row.reagents.COUNT}</div>
<!-- END reagents -->
										</div>
									</div>
								</div>
							</div>
<!-- END row -->
						</div>
					</div>
				</div>

<!-- END recipe -->

			</div>
		</div>
	</div>
</div>
