<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{XML_LANG}" lang="{XML_LANG}">
<head>
<!-- $Id$ -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WoWRoster{PAGE_TITLE}</title>
<base href="{ROSTER_URL}" />
<link rel="stylesheet" type="text/css" href="{THEME_PATH}/style.css" />
<script type="text/javascript" src="{ROSTER_PATH}js/mainjs.js"></script>
<script type="text/javascript" src="{ROSTER_PATH}js/tabcontent.js">
/**
 * Tab Content script v2.0- &copy; Dynamic Drive DHTML code library (www.dynamicdrive.com)
 * This notice MUST stay intact for legal use
 * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
 **/
</script>
<script type="text/javascript">
<!--
	var ol_width=220;var ol_offsetx=15;var ol_offsety=15;var ol_hauto=1;var ol_vauto=1;
	var ol_fgclass='overlib_fg';var ol_bgclass='overlib_border';var ol_textfontclass='overlib_maintext';
	var ol_captionfontclass='overlib_captiontext';var ol_closefontclass='overlib_closetext';
//-->
</script>
<script type="text/javascript" src="{ROSTER_PATH}js/overlib.js"></script>
<script type="text/javascript" src="{ROSTER_PATH}js/overlib_hideform.js"></script>
{ROSTER_HEAD}
</head>

<body {ROSTER_BODY}>

<div id="overDiv" style="position:absolute;visibility:hidden;z-index:1000;"></div>

<div class="roster-wrap" align="center">

<!-- IF S_HEADER_LOGO -->
<div align="center" style="margin:10px;">
	<table class="border_frame" cellpadding="0" cellspacing="1">
		<tr>
			<td class="border_color sgoldborder"><a href="{WEBSITE_ADDRESS}"><img src="{HEADER_LOGO}" alt="" style="border:0;" /></a></td>
		</tr>
	</table>
</div>
<!-- ENDIF -->
