<!-- $Id$ -->

<table class="border_frame" cellpadding="0" cellspacing="1" style="width:400px;">
	<tr>
		<td class="border_color sgrayborder">
			<div class="header_text sgrayborder">
				<div style="cursor:pointer;width:100%;" onclick="showHide('hslist','img_hslist','{IMG_URL}minus.gif','{IMG_URL}plus.gif');">
					<img style="float:right;" id="img_hslist" src="{IMG_URL}plus.gif" alt="" />
					{L_HSLIST}
				</div>
			</div>

			<table id="hslist" cellpadding="0" cellspacing="0" style="width:100%;display:none;">

			<!-- BEGIN hslist -->
				<tr>
					<td class="membersRow{hslist.ROW_CLASS}"><a href="{hslist.LINK}">{hslist.VALUE}</a></td>
					<td class="membersRow{hslist.ROW_CLASS}">{hslist.NAME}</td>
					<td class="membersRowRight{hslist.ROW_CLASS}">{hslist.COUNT}</td>
				</tr>
			<!-- END hslist -->

			</table>

		</td>
	</tr>
</table>
