<!-- $Id$ -->

<span class="title_text">{L_SETUP_GUIDE}</span><br />
<a href="{U_ROSTERCP}">Skip install guide -&gt;</a>

<br />

{MESSAGE}

<!-- IF S_STEP_1 -->

<form action="{U_MAKELINK}" method="post" enctype="multipart/form-data" id="guide" onsubmit="submitonce(this);">
<input type="hidden" name="guide_step" value="2" />

<table class="border_frame" cellpadding="0" cellspacing="1" style="width:400px;">
	<tr>
		<td class="border_color syellowborder">
			<div class="header_text syellowborder">{L_DEFAULT_DATA}</div>

			<table class="bodyline" cellspacing="0" width="100%">
				<tr>
					<th class="membersHeader" {L_NAME_TIP}>{L_NAME}</th>
					<th class="membersHeader" {L_SERVER_TIP}>{L_SERVER}</th>
					<th class="membersHeaderRight" {L_REGION_TIP}>{L_REGION}</th>
				</tr>
				<tr>
					<td class="membersRowRight1" colspan="3">{L_DEFAULT_DATA_HELP}</td>
				</tr>
				<tr>
					<td class="membersRow2"><input class="wowinput128" type="text" name="name" value="" /></td>
					<td class="membersRow2"><input class="wowinput128" type="text" name="server" value="" /></td>
					<td class="membersRowRight2"><input class="wowinput64" type="text" name="region" value="" /></td>
				</tr>
			</table>

		</td>
	</tr>
</table>
<br />


<input type="submit" name="submit" value="Proceed" class="submit" />
</form>

<!-- ENDIF -->

<!-- IF S_STEP_2 -->



<!-- ENDIF -->
