<!-- $Id$ -->

<!-- INCLUDE mini_update.html -->

<!-- Navagation Tabs -->
<div class="top-menu">

		<div id="top_nav">
			<ul id="manuecss" class="nmainmenu">
				<!-- ##<li class="headlink">
				<a class="xbutton-guild" href="{ROSTER_URL}">
				<img src="{THEME_PATH}/images/menu_home.png" width="25" height="25" border="0" alt="" style="vertical-align:middle;PADDING-RIGHT: 5px;"  />HOME</a>
				</li> -->
			<!-- BEGIN menu_button_section -->
			<!-- IF menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char' -->
						<li class="headlink" style="WIDTH: 240px;">
						<a href="#" style="WIDTH: 240px;">
						<img src="{THEME_PATH}/images/menu_char.png" width="25" height="25" border="0" alt="" style="vertical-align:middle;PADDING-RIGHT: 5px;"  />{menu_button_section.LABEL}</a>
						</li>
			<!-- ENDIF -->
			<!-- END menu_button_section -->
			<!-- IF ROSTER_SCOPE eq "char" -->
						<li class="headlink">
						<a class="xbutton-members" href="#mini_guild">
						<img src="{THEME_PATH}/images/menu_char.png" width="25" height="25" border="0" alt="" style="vertical-align:middle;PADDING-RIGHT: 5px;"  /><!-- TRANSLATE member_profiles --></a>
						<ul class="submenu">
							<!-- BEGIN menu_button_section -->
							<!-- BEGIN menu_buttons -->
							<!-- IF menu_button_section.menu_buttons.SCOPE eq 'char' -->
								<li class="menuitem">
									<div>
										<a href="{menu_button_section.menu_buttons.U_LINK}" >
										<div id="container">
										<img src="{menu_button_section.menu_buttons.ICON}"  border=0 style="vertical-align:middle;" alt="" />
										{menu_button_section.menu_buttons.NAME}</a></div>
									</div>
								</li>
							<!-- ENDIF -->
							<!-- END menu_buttons -->
							<!-- END menu_button_section -->
							</ul>
						</li>
			<!-- ENDIF -->
						<li class="headlink">
							<a class="xbutton-guild" href="#menu_guild">
							<img src="{THEME_PATH}/images/menu_guild.png" width="25" height="25" border="0" alt="" style="vertical-align:middle;PADDING-RIGHT: 5px;"  /><!-- TRANSLATE guild --></a>
						<ul class="submenu">
						<!-- BEGIN menu_button_section -->
						<!-- BEGIN menu_buttons -->
						<!-- IF menu_button_section.menu_buttons.SCOPE eq 'guild' -->
							<li class="menuitem">
							<a href="{menu_button_section.menu_buttons.U_LINK}" >
								<div>
									<div id="container">
									<img src="{menu_button_section.menu_buttons.ICON}"  border=0 style="vertical-align:middle;" alt="" />
									{menu_button_section.menu_buttons.NAME}</div>
								</div>
							</a>
						</li>
						<!-- ENDIF -->
						<!-- END menu_buttons -->
						<!-- END menu_button_section -->
						</ul>
					</li>
					<li class="headlink">
						<a class="xbutton-realm" href="#menu_realm">
						<img src="{THEME_PATH}/images/menu_realm.png" width="25" height="25" border="0" alt="" style="vertical-align:middle;PADDING-RIGHT: 5px;"  /><!-- TRANSLATE realm --></a>
					<ul class="submenu">
						<!-- BEGIN menu_button_section -->
						<!-- BEGIN menu_buttons -->
						<!-- IF menu_button_section.menu_buttons.SCOPE eq 'realm' -->
						<li class="menuitem">
							<a href="{menu_button_section.menu_buttons.U_LINK}" >
								<div>
									<div id="container">
									<img src="{menu_button_section.menu_buttons.ICON}"  border=0 style="vertical-align:middle;" alt="" />
									{menu_button_section.menu_buttons.NAME}</div>
								</div>
							</a>
						</li>
						<!-- ENDIF -->
						<!-- END menu_buttons -->
						<!-- END menu_button_section -->
					</ul>
				</li>
				<li class="headlink">
					<div id="top_nav">
						<a class="xbutton-upload" href="#" rel="#mini_update" onclick="showHide('mini_update');return false;">
						<img src="{THEME_PATH}/images/menu_upload.png" width="25" height="25" border="0" alt="" style="vertical-align:middle;PADDING-RIGHT: 5px;"  /><!-- TRANSLATE update_page --></a>
					</div>
				</li>
				
				<li class="headlink">
						<a class="xbutton-user" href="#menu_user">
						<img src="{THEME_PATH}/images/menu_user.png" width="25" height="25" border="0" alt="" style="vertical-align:middle;PADDING-RIGHT: 5px;"  /><!-- TRANSLATE user --></a>
					<ul class="submenu">
						<!-- BEGIN menu_button_section -->
						<!-- BEGIN menu_buttons -->
						<!-- IF menu_button_section.menu_buttons.SCOPE eq 'user' -->
						<li class="menuitem">
							<a href="{menu_button_section.menu_buttons.U_LINK}" >
								<div>
									<div id="container">
									<img src="{menu_button_section.menu_buttons.ICON}"  border=0 style="vertical-align:middle;" alt="" />
									{menu_button_section.menu_buttons.NAME}</div>
								</div>
							</a>
						</li>
						<!-- ENDIF -->
						<!-- END menu_buttons -->
						<!-- END menu_button_section -->
					</ul>
				</li>
				
				
				<li class="headlink">
					<a class="xbutton-util" href="#menu_util">
					<img src="{THEME_PATH}/images/menu_util.png" width="25" height="25" border="0" alt="" style="vertical-align:middle;PADDING-RIGHT: 5px;"  /><!-- TRANSLATE util -->
					</a>
					<ul class="submenu">
					<!-- BEGIN menu_button_section -->
					<!-- BEGIN menu_buttons -->
					<!-- IF menu_button_section.menu_buttons.SCOPE eq 'util' -->
						<li class="menuitem">
							<a href="{menu_button_section.menu_buttons.U_LINK}" >
								<div>
									<div id="container">
									<img src="{menu_button_section.menu_buttons.ICON}"  border=0 style="vertical-align:middle;" alt="" />
									{menu_button_section.menu_buttons.NAME}</div>
								</div>
							</a>
						</li>
					<!-- ENDIF -->
					<!-- END menu_buttons -->
					<!-- END menu_button_section -->
					</ul>
				</li>
			</ul>
		</div>
</div>


<!-- IF S_MESSAGES -->
<div id="notify">

<!-- BEGIN messages -->
<!-- BEGIN item -->
	<div class="ui-widget message">
	<div class="ui-state-default ui-corner-all close" title="close">
		<span class="ui-icon ui-icon-close"></span>
	</div>
		<div class="ui-state-<!-- IF messages.TYPE eq 'error' -->error<!-- ELSE -->highlight<!-- ENDIF --> ui-corner-all">

<!-- IF messages.item.TITLE neq '' -->
			<h4><span class="ui-icon ui-icon-<!-- IF messages.TYPE eq 'error' -->alert<!-- ELSE -->info<!-- ENDIF -->"></span>
				{messages.item.TITLE}</h4>
			<div class="content">
<!-- ELSE -->
			<div class="content">
				<span class="ui-icon ui-icon-<!-- IF messages.TYPE eq 'error' -->alert<!-- ELSE -->info<!-- ENDIF -->"></span>
<!-- ENDIF -->
				{messages.item.TEXT}
			</div>
		</div>
	</div>
<!-- END item -->
<!-- END messages -->

</div>
<!-- ENDIF -->
