<!-- $Id$ -->

<!-- INCLUDE mini_update.html -->

<!-- Navagation Tabs -->
<div class="top-menu">
	<div class="links">
		<div id="top_nav">
<!-- BEGIN menu_button_section -->
<!-- IF menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char' -->
			<a class="button-char<!-- IF ROSTER_SCOPE eq "char" -->-selected<!-- ENDIF -->" href="#menu_char">{menu_button_section.LABEL}</a>
<!-- ENDIF -->
<!-- END menu_button_section -->
<!-- IF ROSTER_SCOPE eq "char" -->
			<a class="button-members<!-- IF ROSTER_SCOPE eq "guild" -->-selected<!-- ENDIF -->" href="#mini_guild"><!-- TRANSLATE member_profiles --></a>
<!-- ENDIF -->
			<a class="button-guild<!-- IF ROSTER_SCOPE eq "guild" -->-selected<!-- ENDIF -->" href="#menu_guild"><!-- TRANSLATE guild --></a>
			<a class="button-realm<!-- IF ROSTER_SCOPE eq "realm" -->-selected<!-- ENDIF -->" href="#menu_realm"><!-- TRANSLATE realm --></a>
			<a class="button-upload<!-- IF ROSTER_SCOPE eq "upload" -->-selected<!-- ENDIF -->" href="#mini_update"><!-- TRANSLATE update_page --></a>
			<a class="button-user<!-- IF ROSTER_SCOPE eq "user" -->-selected<!-- ENDIF -->" href="#menu_user"><!-- TRANSLATE user --></a>
			<a class="button-util<!-- IF ROSTER_SCOPE eq "util" -->-selected<!-- ENDIF -->" href="#menu_util"><!-- TRANSLATE util --></a>
		</div>
	</div>
</div>

<div id="menu-buttons" class="scope-menu">
<!-- BEGIN menu_button_section -->
	<div class="menu-scope<!-- IF menu_button_section.OPEN or (menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char') -->-panel" id="menu_{menu_button_section.ID}" style="display:none<!-- ENDIF -->">
<!-- IF menu_button_section.OPEN or (menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char') -->
		<div class="menu-frame">
			<div class="section-title">{menu_button_section.LABEL}</div>
<!-- ENDIF -->
		<div class="frame">
<!-- BEGIN menu_buttons -->
			<a class="button" href="{menu_button_section.menu_buttons.U_LINK}" {menu_button_section.menu_buttons.TOOLTIP}>
				<img src="{menu_button_section.menu_buttons.ICON}" alt="" />
				<span class="mask"></span>
			</a>
<!-- END menu_buttons -->
		</div>
<!-- IF menu_button_section.OPEN or (menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char') -->
		</div>
<!-- ENDIF -->
	</div>
<!-- END menu_button_section -->
</div>

<!-- IF S_MESSAGES -->
<div id="notify">

<!-- BEGIN messages -->
<!-- BEGIN item -->
	<div class="ui-widget message">
	<div class="ui-state-default ui-corner-all close" title="close">
		<span class="ui-icon ui-icon-close"></span>
	</div>
		<div class="ui-state-<!-- IF messages.TYPE eq 'error' -->error<!-- ELSE -->highlight<!-- ENDIF --> ui-corner-all">

<!-- IF messages.item.TITLE neq '' -->
			<h4><span class="ui-icon ui-icon-<!-- IF messages.TYPE eq 'error' -->alert<!-- ELSE -->info<!-- ENDIF -->"></span>
				{messages.item.TITLE}</h4>
			<div class="content">
<!-- ELSE -->
			<div class="content">
				<span class="ui-icon ui-icon-<!-- IF messages.TYPE eq 'error' -->alert<!-- ELSE -->info<!-- ENDIF -->"></span>
<!-- ENDIF -->
				{messages.item.TEXT}
			</div>
		</div>
	</div>
<!-- END item -->
<!-- END messages -->

</div>
<!-- ENDIF -->
