<!-- $Id$ -->

<!-- INCLUDE mini_update.html -->

<!-- Navagation Tabs -->
<div class="top-menu">
	<div class="links">
		<div id="top_nav">
<!-- BEGIN menu_button_section -->
<!-- IF menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char' -->
			<a class="button-char" href="#menu_char">{menu_button_section.LABEL}</a>
<!-- ENDIF -->
<!-- END menu_button_section -->
<!-- IF ROSTER_SCOPE eq "char" -->
			<a class="button-members" href="#mini_guild"><!-- TRANSLATE member_profiles --></a>
<!-- ENDIF -->
			<a class="button-guild" href="#menu_guild"><!-- TRANSLATE guild --></a>
			<a class="button-realm" href="#menu_realm"><!-- TRANSLATE realm --></a>
			<a class="button-upload" href="#mini_update"><!-- TRANSLATE update_page --></a>
			<a class="button-util" href="#menu_util"><!-- TRANSLATE util --></a>
		</div>
	</div>
</div>

<div id="menu-buttons" class="scope-menu">
<!-- BEGIN menu_button_section -->
	<div class="menu-scope<!-- IF menu_button_section.OPEN or (menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char') -->-panel" id="menu_{menu_button_section.ID}" style="display:none<!-- ENDIF -->">
	<!-- IF menu_button_section.OPEN or (menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char') -->
		<div class="menu-frame">
			<div class="section-title">{menu_button_section.LABEL}</div>
	<!-- ENDIF -->
		<div class="frame">
		<!-- BEGIN menu_buttons -->
			<a class="button" href="{menu_button_section.menu_buttons.U_LINK}" {menu_button_section.menu_buttons.TOOLTIP}>
				<img src="{menu_button_section.menu_buttons.ICON}" alt="" />
				<span class="mask"></span>
			</a>
		<!-- END menu_buttons -->
		</div>
	<!-- IF menu_button_section.OPEN or (menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char') -->
		</div>
	<!-- ENDIF -->
	</div>
<!-- END menu_button_section -->
</div>

{MENU_LEFT}

{MENU_RIGHT}
