<!-- $Id$ -->

<form class="inline slim" action="{U_LOGIN_ACTION}" method="post" enctype="multipart/form-data">
<!-- IF S_LOGIN_MESSAGE -->
	<div class="message">
		{L_LOGIN_MESSAGE}
	</div>
<!-- ENDIF -->
	<div class="login-message">
	<table>
	<tr><td>User:</td><td><input class="box" name="username" type="text" size="12" maxlength="30" /></td></tr>
	<tr><td>Pass:</td><td><input class="box" name="password" type="password" size="14" maxlength="30" /></td>
	<td colspan=2><button type="submit"><span class="ui-icon ui-icon-key"></span> <!-- TRANSLATE login --></button></td></tr>
	</table>
	</div>
</form>
