<!-- $Id$ -->

{HEADER}

<div class="roster-panel">
	<div class="container">

		<div class="ui-buttonset config-section">
<!-- BEGIN pagebar -->
			<!-- IF pagebar.SPECIAL eq 'divider' --><!-- ELSE --><a class="ui-button ui-widget <!-- IF pagebar.SELECTED -->ui-state-active<!-- ELSE -->ui-state-default<!-- ENDIF --> ui-button-text-only" href="{pagebar.LINK}" role="button"><span class="ui-button-text">{pagebar.NAME}</span></a><!-- ENDIF -->
<!-- END pagebar -->
		</div>

<!-- IF ADDON_PAGEBAR -->
		<div class="ui-buttonset config-section config-section-addons">
<!-- BEGIN addon_pagebar -->
			<a class="ui-button ui-widget <!-- IF addon_pagebar.SELECTED -->ui-state-active<!-- ELSE -->ui-state-default<!-- ENDIF --> ui-button-text-only" href="{addon_pagebar.LINK}" role="button"><span class="ui-button-text">{addon_pagebar.NAME}</span></a>
<!-- END addon_pagebar -->
		</div>
<!-- ENDIF -->

		<div class="tier-1-a" style="margin-top: 5px;">
			<div class="tier-1-b">
				<div class="tier-1-c exp-content">
					<div class="tier-1-title">
						<div class="icon">
							<img src="{INTERFACE_URL}Interface/Icons/inv_misc_gear_02.{IMG_SUFFIX}" alt="" />
							<div class="mask"></div>
						</div>
						{ROSTERCP_TITLE}
					</div>

<!-- IF MENU neq '' -->
					<div class="config-menu">
{MENU}
					</div>
					<div class="config-body-menu">
<!-- ELSE -->
					<div class="config-body">
<!-- ENDIF -->
{BODY}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

{FOOTER}
