<!-- $Id$ -->

<!-- Navagation Tabs -->
<div class="sections">
	<ul id="char_navagation">
<!-- BEGIN tabs -->
		<li<!-- IF tabs.SELECTED --> class="selected"<!-- ENDIF -->><a rel="{tabs.VALUE}" class="text">{tabs.NAME}</a></li>
<!-- END tabs -->
	</ul>
</div>

<div class="main-panel" align="left">
<!-- profile -->
	<div id="profile" class="profile" style="display:none;">
		<div class="container">
			<div class="box-label">
				<div class="icon profile"></div><!-- TRANSLATE profile -->

				<div class="info-bonus-navigation">
					<ul id="info_bonus_nav">
						<li><a rel="infotoggle" class="text">Character Info</a></li>
<!-- IF S_PVP_TAB -->
						<li><a rel="pvptoggle" class="text">PvP</a></li>
<!-- ENDIF -->
<!-- IF S_BONUS_TAB -->
						<li><a rel="bonustoggle" class="text">Bonuses</a></li>
<!-- ENDIF -->
					</ul>
				</div>

			</div>

			<div class="equip-bg">
				<div class="equip">
<!-- BEGIN equipment -->
					<div class="equip_{equipment.SLOT}">
						<img src="{equipment.ICON}" class="icon<!-- IF equipment.S_AMMO -->small<!-- ENDIF -->" alt="" />
						<div class="item" {equipment.TOOLTIP}{equipment.ITEMLINK}>
<!-- IF equipment.QTY gt 1 -->
							<b>{equipment.QTY}</b>
							<span>{equipment.QTY}</span>
<!-- ENDIF -->
						</div>
					</div>
<!-- END equipment -->
				</div>
				<div class="info-box" id="infotoggle" style="display:none;">
					<div class="spec shader">
						<!-- TRANSLATE talent_specialization -->
<!-- BEGIN talent -->
						<div class="skill {talent.TYPE}">							
							<div class="icon"><img src="{IMG_URL}spec/{talent.ICON}.jpg" alt="" /></div>
							<div class="data">
								<div class="skill-name">{talent.NAME}</div>
								<div class="skill-bar">
									<div class="text">{talent.BUILD}</div>
								</div>
							</div>
						</div>
<!-- END talent -->
					</div>

					<div class="professions shader">
						<!-- TRANSLATE professions -->
<!-- BEGIN professions -->
						<div class="skill">
							<div class="icon"><img src="{INTERFACE_URL}Interface/Icons/{professions.ICON}.{IMG_SUFFIX}" alt="" /></div>
							<div class="data">
								<div class="skill-name">{professions.NAME}</div>
								<div class="skill-bar">
<!-- IF professions.MAXVALUE eq 1 -->
									<div class="fill" style="width: 100%;"></div>
<!-- ELSE -->
									<div class="fill" style="width: {professions.WIDTH}%;"></div>
									<div class="text">{professions.VALUE} / {professions.MAXVALUE}</div>
<!-- ENDIF -->
								</div>
							</div>
						</div>
<!-- END professions -->
					</div>

				<!-- Resist Icons -->
					<div class="resist shader">
						<div class="bar">
							<div class="icons">
<!-- BEGIN resist -->
								<div class="icon {resist.CLASS}" {resist.TOOLTIP}><b>{resist.VALUE}</b><span>{resist.VALUE}</span></div>
<!-- END resist -->
							</div>
							<div class="text"><!-- TRANSLATE resistances -->:</div>
						</div>
					</div>

				<!-- Buff Icons -->
					<div class="buffs shader">
						<div class="bar">
<!-- BEGIN buff -->
							<div class="buff">
								<img class="icon" src="{INTERFACE_URL}Interface/Icons/{buff.ICON}.{IMG_SUFFIX}" {buff.TOOLTIP} alt="" />
<!-- IF buff.COUNT -->
								<b>{buff.COUNT}</b><span>{buff.COUNT}</span>
<!-- ENDIF -->
							</div>
<!-- END buff -->
						</div>
						<div class="buff-name"><!-- TRANSLATE buffs -->:</div>
					</div>

				<!-- Advanced Stats -->
					<div class="powers shader">
						<div class="bar">
							<div class="power-bar health"><!-- TRANSLATE health -->: {HEALTH}</div>
						</div>
						<div class="bar">
							<div class="power-bar {L_CHAR_POWER_ID}">{L_CHAR_POWER}: {POWER}</div>
						</div>
						<div class="bar">
							<div class="xp-bar {EXP_TYPE}">
								<div class="fill {EXP_TYPE}" style="width: {EXP_PERC}%;"></div>
								<div class="text">XP: {EXP_AMOUNT} / {EXP_MAX} <!-- IF EXP_REST -->: {EXP_REST} <!-- ENDIF -->({EXP_PERC}%)</div>
							</div>
						</div>
					</div>


					<div class="extras shader">

						<div class="info_desc">
<!-- BEGIN info_stats -->
							{info_stats.NAME}<br />
<!-- END info_stats -->
						</div>

						<div class="info_values">
<!-- BEGIN info_stats -->
							{info_stats.VALUE}<br />
<!-- END info_stats -->
						</div>

					</div>

<!-- IF S_MONEY -->
					<div class="money shader">
						<!-- IF MONEY_G --><div>{MONEY_G}<img src="{IMG_URL}coin_gold.gif" class="coin" alt="g" /></div><!-- ENDIF -->
						<!-- IF MONEY_S --><div>{MONEY_S}<img src="{IMG_URL}coin_silver.gif" class="coin" alt="s" /></div><!-- ENDIF -->
						<!-- IF MONEY_C --><div>{MONEY_C}<img src="{IMG_URL}coin_copper.gif" class="coin" alt="c" /></div><!-- ENDIF -->
					</div>
<!-- ENDIF -->
					<select class="statselect_l" name="statbox_left" onchange="doLpage(this.value);">
						<option value="statsleft" selected="selected"><!-- TRANSLATE menustats --></option>
						<option value="meleeleft"><!-- TRANSLATE melee --></option>
						<option value="rangedleft"><!-- TRANSLATE ranged --></option>
						<option value="spellleft"><!-- TRANSLATE spell --></option>
						<option value="defenseleft"><!-- TRANSLATE defense --></option>
					</select>
					<select class="statselect_r" name="statbox_right" onchange="doRpage(this.value);">
						<option value="statsright"><!-- TRANSLATE menustats --></option>
						<option value="meleeright" <!-- IF RIGHTBOX eq 'melee' -->selected="selected"<!-- ENDIF -->><!-- TRANSLATE melee --></option>
						<option value="rangedright" <!-- IF RIGHTBOX eq 'ranged' -->selected="selected"<!-- ENDIF -->><!-- TRANSLATE ranged --></option>
						<option value="spellright" <!-- IF RIGHTBOX eq 'spell' -->selected="selected"<!-- ENDIF -->><!-- TRANSLATE spell --></option>
						<option value="defenseright"><!-- TRANSLATE defense --></option>
					</select>

					<div class="padding">
<!-- BEGIN box_stats -->
						<div class="stats shader" id="{box_stats.ID}" style="display:<!-- IF box_stats.SHOW -->block<!-- ELSE -->none<!-- ENDIF -->">
<!-- BEGIN statline -->
							<div class="statline" {box_stats.statline.TOOLTIP}>
								<span class="value">{box_stats.statline.VALUE}</span>
								<span class="label">{box_stats.statline.NAME}:</span>
							</div>
<!-- END statline -->
						</div>
<!-- END box_stats -->
					</div>


				</div>


<!-- IF S_BONUS_TAB -->
				<div class="bonus-box shader" id="bonustoggle" style="display:none;">
					<div class="bonus-container">
<!-- BEGIN bonus -->
						<div id="{bonus.KEY}" style="display:none;">
<!-- BEGIN row -->
							<div class="membersRow{bonus.row.ROW_CLASS}" style="white-space:normal;cursor:pointer;" onmouseover="return overlib(overlib_{bonus.row.IDX},CAPTION,overlib_cap_{bonus.row.IDX},WIDTH,325,HAUTO);" onmouseout="return nd();" onclick="return overlib(overlib_{bonus.row.IDX},CAPTION,overlib_cap_{bonus.row.IDX},WIDTH,325,STICKY,OFFSETX,-5,OFFSETY,-5,HAUTO);">{bonus.row.VALUE}</div>
<!-- END row -->
						</div>
<!-- END bonus -->
					</div>

					<div class="bonus-navigation">
						<ul id="bonus_navigation">
<!-- BEGIN bonus -->
							<li><a rel="{bonus.KEY}" class="text">{bonus.VALUE}</a></li>
<!-- END bonus -->
						</ul>
					</div>
				</div>
<!-- ENDIF -->

<!-- IF S_PVP_TAB -->
				<div class="bonus-box shader" id="pvptoggle" style="display:none;">
					<div class="bonus-container">
						
						<div class="honortext">
							<img src="{IMG_URL}icon_{FACTION_EN}.png" alt="" style="width:20px;height:20px;" /><!-- TRANSLATE honor -->:<span>{HONOR_POINTS}</span>
						</div>

						<div class="today"><!-- TRANSLATE today --></div>
						<div class="yesterday"><!-- TRANSLATE yesterday --></div>
						<div class="lifetime"><!-- TRANSLATE lifetime --></div>

						<div class="divider"></div>

						<div class="killsline"><!-- TRANSLATE kills --></div>
						<div class="killsline1">{SESSION_HK}</div>
						<div class="killsline2">{YEST_HK}</div>
						<div class="killsline3">{LIFE_HK}</div>

						<div class="honorline"><!-- TRANSLATE honor --></div>
						<div class="honorline1">{SESSION_CP}</div>
						<div class="honorline2">{YEST_CP}</div>
						<div class="honorline3">-</div>

						<div class="divider"></div>
						
						<div class="arenatext"><img src="{IMG_URL}arenapointsicon.png" alt="" style="width:20px;height:20px;" /><!-- TRANSLATE arena -->:<span>{ARENA_POINTS}</span></div>
					</div>
				</div>
<!-- ENDIF -->
			</div>
		</div>
	</div>


<!-- IF S_PET_TAB -->

<!-- pets -->
	<div id="pets" class="pets" style="display:none;">

<!-- IF S_PETS -->
		<div class="container">
			<div class="box-label"><div class="icon pets"></div><!-- TRANSLATE pets --></div>
<!-- BEGIN pet -->
			<div class="pet shader" >
				<div class="icon"><img class="icon" src="{INTERFACE_URL}Interface/Icons/{pet.ICON}.{IMG_SUFFIX}" alt="" /></div>
				<div class="basics">
					<div class="name">{pet.NAME}</div>
					<div class="info"><!-- TRANSLATE level --> {pet.LEVEL} {pet.TYPE}</div>
				</div>
				<div class="powers">
					<div class="bar">
						<div class="power-bar health">{pet.HEALTH}</div>
						<div class="power-name"><!-- TRANSLATE health -->:</div>
					</div>
					<div class="bar">
						<div class="power-bar {pet.L_POWER}">{pet.POWER}</div>
						<div class="power-name">{pet.L_POWER}:</div>
					</div>
<!-- IF pet.S_EXP -->
					<div class="bar">
						<div class="power-bar xp-bar">
							<div class="fill" style="width: {pet.EXP_PERC}%;"></div>
							<div class="text">{EXP_AMOUNT} / {EXP_MAX} ({EXP_PERC}%)</div>
						</div>
						<div class="power-name">EXP:</div>
					</div>
<!-- ENDIF -->
				</div>

				<div class="resist">
<!-- BEGIN resist -->
					<div class="icon {pet.resist.CLASS}" {pet.resist.TOOLTIP}><b>{pet.resist.VALUE}</b><span>{pet.resist.VALUE}</span></div>
<!-- END resist -->
				</div>

				<div class="padding">
<!-- BEGIN box_stats -->
					<div class="stats">
<!-- BEGIN statline -->
						<div class="statline" {pet.box_stats.statline.TOOLTIP}>
							<span class="value">{pet.box_stats.statline.VALUE}</span>
							<span class="label">{pet.box_stats.statline.NAME}:</span>
						</div>
<!-- END statline -->
					</div>
<!-- END box_stats -->
				</div>

<!-- IF pet.TOTAL_TP -->
				<div class="trainingpts">{L_UNUSED_TRAINING}: {pet.UNUSED_TP} / {pet.TOTAL_TP}</div>
<!-- ENDIF -->
			</div>

<!-- END pet -->
		</div>
<!-- ENDIF -->
</div>
<!-- ENDIF -->


<!-- IF S_COMPAN_TAB -->
	<div id="companions" class="companions" style="display:none;">
<!-- IF S_MOUNTS -->
		<div class="container">
			<div class="box-label"><div class="icon mounts"></div><!-- TRANSLATE mounts --></div>
			<div class="inner">
<!-- BEGIN mounts -->
				<div class="item">
					<img src="{INTERFACE_URL}Interface/Icons/{mounts.ICON}.{IMG_SUFFIX}" />
					<div class="mask" {mounts.TOOLTIP}></div>
				</div>
<!-- END mounts -->
			<div style="clear:both;"></div>
			</div>
		</div>
<!-- ENDIF -->

<!-- IF S_COMPANIONS -->
		<div class="container">
			<div class="box-label"><div class="icon companions"></div><!-- TRANSLATE companions --></div>
			<div class="inner">
<!-- BEGIN companions -->
				<div class="item">
					<img src="{INTERFACE_URL}Interface/Icons/{companions.ICON}.{IMG_SUFFIX}" />
					<div class="mask" {companions.TOOLTIP}></div>
				</div>
<!-- END mounts -->
			<div style="clear:both;"></div>
			</div>
			
			
		</div>
<!-- ENDIF -->

	</div>
<!-- ENDIF -->



<!-- IF S_REP_TAB -->

<!-- reputation -->
	<div id="reputation" class="reputation" style="display:none;">
<!-- BEGIN rep -->
		<div class="container">
			<div class="box-label">
				<div class="icon {rep.NAME_ID}"></div>
				{rep.NAME}
			</div>
<!-- BEGIN bar -->
			<div class="rep">
				<div class="rep-name">{rep.bar.NAME}</div>
				<div class="rep-standing">{rep.bar.STANDING}</div>
				<div class="rep-bar">
					<div class="fill {rep.bar.STANDING}" style="width: {rep.bar.WIDTH}%;"></div>
					<div class="text">{rep.bar.VALUE} / {rep.bar.MAXVALUE}</div>
				</div>
			</div>
			
			
			
<!-- BEGIN rep2 -->
			<div class="reps">
				<div class="rep-name">{rep.bar.rep2.NAME}</div>
			</div>
			<div class="container2">
<!-- BEGIN bar2 -->
				<div class="rep2">
					<div class="rep-name">{rep.bar.rep2.bar2.NAME}</div>
					<div class="rep-standing">{rep.bar.rep2.bar2.STANDING}</div>
					<div class="rep-bar">
						<div class="fill {rep.bar.rep2.bar2.STANDING}" style="width: {rep.bar.rep2.bar2.WIDTH}%;"></div>
						<div class="text">{rep.bar.rep2.bar2.VALUE} / {rep.bar.rep2.bar2.MAXVALUE}</div>
					</div>
				</div>
<!-- END bar2 -->
			</div>
<!-- END rep2 -->

<!-- END bar -->

		</div>
<!-- END rep -->
	</div>
<!-- ENDIF -->



<!-- IF S_SKILL_TAB -->

<!-- skills -->
	<div id="skills" class="skills" style="display:none;">
<!-- BEGIN skill -->
		<div class="container">
			<div class="box-label"><div class="icon {skill.NAME_ID}"></div>{skill.NAME}</div>
<!-- BEGIN bar -->
			<div class="skill">
				<div class="skill-name">{skill.bar.NAME}</div>
				<div class="skill-bar">
<!-- IF skill.bar.MAXVALUE eq 1 -->
					<div class="fill" style="width: 100%;"></div>
<!-- ELSE -->
					<div class="fill" style="width: {skill.bar.WIDTH}%;"></div>
					<div class="text">{skill.bar.VALUE} / {skill.bar.MAXVALUE}</div>
<!-- ENDIF -->
				</div>
			</div>
<!-- END bar -->
		</div>
<!-- END skill -->
	</div>
<!-- ENDIF -->



<!-- IF S_TALENT_TAB or S_GLYPH_TAB -->

<!-- talents -->
	<div id="talents" class="talents" style="display:none;">

		<div class="container">
			<div class="box-label">
				<div class="icon talents"></div><!-- TRANSLATE talents -->
			</div>
			<div class="info-bonus-navigation">
				<ul id="talentbuild_nav">
<!-- BEGIN talent -->
					<li><a rel="TS{talent.ID}"<!-- IF S_GLYPH_TAB --> rev="GL{talent.ID}"<!-- ENDIF --> class="text">{talent.NAME}</a></li>
<!-- END talent -->
				</ul>
			</div>
<!-- IF S_TALENT_TAB -->
<!-- BEGIN talent -->
			<div id="TS{talent.ID}" style="display:none;">
				<div class="points_unused shader">
					<span class="export"><a href="{talent.TALENT_EXPORT}" target="_blank"><!-- TRANSLATE talentexport --></a></span>
					<span class="label"><!-- TRANSLATE unusedtalentpoints -->:</span> {TALENT_POINTS}
				</div>

				<div class="frames">
<!-- BEGIN tree -->
					<div class="spec">
						<img class="tbackground" src="{INTERFACE_URL}Interface/TalentFrame/{talent.tree.ICON}.{IMG_SUFFIX}" alt="" />
						<div class="content">
<!-- BEGIN row -->
							<div class="row">
<!-- BEGIN cell -->

<!-- IF talent.tree.row.cell.NAME -->
								<div class="cell" {talent.tree.row.cell.TOOLTIP}>
<!-- IF talent.tree.row.cell.RANK -->
									<img class="rank_icon" src="{U_IMAGE_PATH}talent/rank.gif" alt="" />
									<div class="rank_text" style="font-weight:bold;color:#<!-- IF talent.tree.row.cell.MAX -->ffdd00<!-- ELSE -->00dd00<!-- ENDIF -->;">{talent.tree.row.cell.RANK}</div>
<!-- ENDIF -->
									<img class="talent-icon <!-- IF talent.tree.row.cell.RANK eq 0 --> icon_grey<!-- ENDIF -->" src="{INTERFACE_URL}Interface/Icons/{talent.tree.row.cell.ICON}" alt=""  />
								</div>
<!-- ELSE -->
								<div class="cell">&nbsp;</div>
<!-- ENDIF -->

<!-- END cell -->
							</div>
<!-- END row -->

						</div>
						<div class="spec-name shader"><span class="name">{talent.tree.NAME}</span> : {talent.tree.POINTS}</div>
					</div>
<!-- END tree -->
				</div>
			</div>

<!-- END talent -->
<!-- ENDIF -->


<!-- IF S_GLYPH_TAB -->

<!-- BEGIN glyphs -->
			<div id="GL{glyphs.ID}" class="glyph-pane" style="clear:both;display:none;">
				<div>{glyphs.NAME}</div>
<!-- BEGIN glyph -->

				<div {glyphs.glyph.TOOLTIP} class="glyph-{glyphs.glyph.TYPE}">
					<img src="{INTERFACE_URL}Interface/Spellbook/{glyphs.glyph.ICON}.png" />
					<div class="text">{glyphs.glyph.NAME}</div>
				</div>

<!-- END glyph -->
			</div>
<!-- END glyphs -->

<!-- ENDIF -->

		</div>
	</div>
<!-- ENDIF -->


<!-- IF S_SPELL_TAB -->
<!-- spellbook -->
	<div id="spellbook" class="spellbook" style="display:none;">

<!-- BEGIN spell_book -->
		<div class="container">
			<div class="box-label">
				<div class="icon spellbook"></div>
				{spell_book.NAME}'s <!-- TRANSLATE spellbook -->
			</div>

<!-- BEGIN tree -->
			<div class="spell-tree shader">
				<div class="tree-name"><img src="{INTERFACE_URL}Interface/Icons/{spell_book.tree.ICON}.{IMG_SUFFIX}" class="icon" alt="" />
					<div class="id-name">
						<!-- IF spell_book.tree.ID eq "0" -->
							General
						<!-- ELSE -->
							{spell_book.tree.ID}
						<!-- ENDIF -->
					</div>
				</div>
				<div class="spell-page">
<!-- BEGIN page -->
<!-- BEGIN spell -->
					<div class="spell-container shader">
						<div class="text">
							<img src="{INTERFACE_URL}Interface/Icons/{spell_book.tree.page.spell.ICON}.{IMG_SUFFIX}" class="icon" {spell_book.tree.page.spell.TOOLTIP} alt="" />
							<span>{spell_book.tree.page.spell.NAME}</span><br />
							<!-- IF spell_book.tree.page.spell.RANK --><span class="rank">{spell_book.tree.page.spell.RANK}</span><!-- ENDIF -->
						</div>
					</div>
<!-- END spell -->
<!-- END page -->
					<div style="clear:both;"></div>
				</div>
			</div>
<!-- END tree -->
		</div>
<!-- END spell_book -->
	</div>
<!-- ENDIF -->


<!-- IF S_CURRENCY_TAB -->
<div id="currency" class="currency" style="display:none;">
<!-- BEGIN currency -->
	<div class="container">
		<div class="box-label"><div class="icon {currency.ID}"></div>{currency.CATEGORY}</div>
		<div class="skill">
<!-- BEGIN item -->
			<div class="currency-container" {currency.item.TOOLTIP}>
				<div class="icon"><img src="{INTERFACE_URL}Interface/Icons/{currency.item.ICON}.{IMG_SUFFIX}" width="25" height="25" alt="" /></div>
				<div class="text">
					<span>{currency.item.NAME} - {currency.item.COUNT}</span>
				</div>
			</div>
<!-- END item -->
		</div>
	</div>
<!-- END currency -->
</div>
<!-- ENDIF -->

</div>


<script type="text/javascript">
<!--
	addLpage('statsleft');
	addLpage('meleeleft');
	addLpage('rangedleft');
	addLpage('spellleft');
	addLpage('defenseleft');
	addRpage('statsright');
	addRpage('meleeright');
	addRpage('rangedright');
	addRpage('spellright');
	addRpage('defenseright');

	var char_navagation=new tabcontent('char_navagation');
	char_navagation.setpersist(true);
	char_navagation.init();

	var bonus_nav=new tabcontent('bonus_navigation');
	bonus_nav.setpersist(false);
	bonus_nav.init();

	var info_bonus_nav=new tabcontent('info_bonus_nav');
	info_bonus_nav.setpersist(false);
	info_bonus_nav.init();

	var talentbuild_nav=new tabcontent('talentbuild_nav');
	talentbuild_nav.setpersist(false);
	talentbuild_nav.init();
//-->
</script>
