<!-- $Id$ -->




<div class="container">

	<div class="tier-1-a">
        <div class="tier-1-b">
			<div class="tier-1-c">
				<div class="tier-1-title"><!-- TRANSLATE recipies -->
      	          <span style="float:right;"> -
					<!-- BEGIN recipe -->
					<a href="{recipe.LINK}">{recipe.NAME}</a> -
					<!-- END recipe -->
					</span>                
                </div>

<!-- BEGIN recipe -->

          		<div class="tier-2-a">
                	<div class="tier-2-b">
						<div class="tier-2-title" style="cursor:pointer;" onclick="showHide('recipe_{recipe.ID}','img_{recipe.ID}','{THEME_PATH}/images/button_close.png','{THEME_PATH}/images/button_open.png');">
                        	<div class="icon"><img src="{INTERFACE_URL}Interface/Icons/{recipe.ICON}.{IMG_SUFFIX}" /><div class="mask"></div></div>
                            <a name="{recipe.ID}"></a>{recipe.NAME}
                            <img style="float:right;" id="img_{recipe.ID}" src="{THEME_PATH}/images/button_<!-- IF S_HIDE -->open<!-- ELSE -->close<!-- ENDIF -->.png" alt="" />
                        </div>
                            
                        <div id="recipe_{recipe.ID}" style="width:100%;<!-- IF S_RECIPE_HIDE -->display:none;<!-- ENDIF -->" >

						<div class="tier-3-a">
            				<div class="tier-3-b">
								<div class="text">
									<div style="width: 279px;"><a href="{U_NAME}"><!-- TRANSLATE name --></a></div>
			                        <div style="width: 0px; text-align: center; visibility: hidden;"><a href="{U_DIFFICULTY}"><!-- TRANSLATE difficulty --></a></div>
			                        <div style="width: 160px;"><a href="{U_TYPE}"><!-- TRANSLATE type --></a></div>
			                        <div style="width: 50px; text-align: center;"><a href="{U_LEVEL}"><!-- TRANSLATE level --></a></div>
			                        <div style="width: 100px;"><a href="{U_REAGENTS}"><!-- TRANSLATE reagents --></a></div>
								</div>
			            	</div>
						</div>

<!-- BEGIN row -->
			<div class="tier-6-a">
            	<div class="tier-6-b">
					<div class="icon">{recipe.row.ICON}</div>
					<div class="text">
						<div style="color:#{recipe.row.ITEM_COLOR}; width: 260px;">&nbsp;{recipe.row.NAME}</div>
                        <div style="color:#{recipe.row.DIFFICULTY_COLOR}; width: 0px; text-align: center; visibility: hidden;">&nbsp;{recipe.row.L_DIFFICULTY}</div>
                        <div style="width: 160px;">{recipe.row.TYPE}</div>
                        <div style="width: 50px; text-align: center;">{recipe.row.LEVEL}</div>
                        <div style="width: 100px;">{recipe.row.reagents.DATA}</div>
					</div>
            	</div>
			</div>
<!-- END row -->
						</div>
					</div>
				</div>

<!-- END recipe -->

			</div>
		</div>
	</div>
</div>
