<!-- * $Id$ -->
<?php if( $_tpldata['MSG_TEXT'] != '' ) { ?>
<table cellspacing="1" cellpadding="2">
  <tr>
    <th align="left"><?php print $_tpldata['MSG_TITLE']; ?></th>
  </tr>
  <tr>
    <td align="center" class="row1">&nbsp;<br /><?php print $_tpldata['MSG_TEXT']; ?><br />&nbsp;</td>
  </tr>
</table>
<br />
<?php } ?>

<table class="borderless" cellspacing="8"><tr><td valign="top">

<table border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="left" colspan="3">Verison</th>
  </tr>
  <tr>
    <td class="row1" align="right">This:</td>
    <td class="row1" align="left"><?php print $_tpldata['OUR_ROSTER_VERSION']; ?></td>
  </tr>
  <tr>
    <td class="row2" align="right">Latest:</td>
    <td class="row2" align="left"><?php print $_tpldata['THEIR_ROSTER_VERSION']; ?></td>
  </tr>
</table>

</td>
<td valign="top">

<table cellspacing="1" cellpadding="2">
  <tr>
    <th align="left" colspan="3">PHP Info</th>
  </tr>
  <tr>
    <td colspan="3" class="row1" align="left"><small><a href="install.php?mode=phpinfo">View phpinfo()</a></small></td>
  </tr>
  <tr>
    <td class="row2" align="left">PHP Version:</td>
    <td class="row2" align="left">Using: <?php print $_tpldata['OUR_PHP_VERSION']; ?></td>
    <td class="row2" align="left">Required: <?php print $_tpldata['THEIR_PHP_VERSION']; ?></td>
  </tr>
  <tr>
    <td class="row1" align="left">MySQL Module:</td>
    <td class="row1" align="left">Available: <?php print $_tpldata['OUR_MYSQL']; ?></td>
    <td class="row1" align="left">Required: <?php print $_tpldata['THEIR_MYSQL']; ?></td>
  </tr>
  <tr>
    <td class="row2" align="left">GD Module:</td>
    <td class="row2" align="left">Available: <?php print $_tpldata['OUR_GD']; ?></td>
    <td class="row2" align="left">Required: <?php print $_tpldata['THEIR_GD']; ?></td>
  </tr>
</table>

</td>
</tr></table>
<br />

<?php if( $_tpldata['S_SHOW_BUTTON'] ) { ?>
<form method="post" action="install.php" name="post">
<input type="hidden" name="install_step" value="2" />
<div align="center"><input type="submit" name="submit" value="Start Install" class="mainoption" /></div>
</form>
<?php } ?>