<!-- * $Id$ -->
<?php if( $_tpldata['S_SHOW_BUTTON'] ) { ?>
<form method="post" action="install.php" name="post">
<input type="hidden" name="install_step" value="3" />
<?php } ?>

<?php if( $_tpldata['MSG_TEXT'] != '' ) { ?>
<table cellspacing="1" cellpadding="2">
  <tr>
    <th align="left"><?php print $_tpldata['MSG_TITLE']; ?></th>
  </tr>
  <tr>
    <td align="center" class="row1">&nbsp;<br /><?php print $_tpldata['MSG_TEXT']; ?><br />&nbsp;</td>
  </tr>
</table>
<br />
<?php } ?>

<table cellspacing="1" cellpadding="2">
  <tr>
    <th align="left" colspan="2">Database Configuration</th>
  </tr>
  <tr>
    <td width="40%" class="row1" align="right">Database Type:</td>
    <td width="60%" class="row1" align="left">
      <select name="dbtype" class="input">
<?php
foreach( $_tpldata['dbal_row'] as $print )
{
	print '        <option value="'.$print['VALUE'].'">'.$print['OPTION']."</option>\n";
}
?>
      </select>
    </td>
  </tr>
  <tr>
    <td width="40%" class="row2" align="right">Default Locale:</td>
    <td width="60%" class="row2" align="left">
      <select name="default_locale" class="input">
<?php
foreach( $_tpldata['locale_row'] as $print )
{
	print '        <option value="'.$print['VALUE'].'">'.$print['OPTION']."</option>\n";
}
?>
      </select>
    </td>
  </tr>
  <tr>
    <td width="40%" class="row1" align="right">Database host:</td>
    <td width="60%" class="row1" align="left"><input type="text" name="db_host" size="25" value="<?php print $_tpldata['DB_HOST']; ?>" class="input" /></td>
  </tr>
  <tr>
    <td width="40%" class="row2" align="right">Database name:</td>
    <td width="60%" class="row2" align="left"><input type="text" name="db_name" size="25" value="" class="input" /></td>
  </tr>
  <tr>
    <td width="40%" class="row1" align="right">Database username:</td>
    <td width="60%" class="row1" align="left"><input type="text" name="db_user" size="25" value="" class="input" /></td>
  </tr>
  <tr>
    <td width="40%" class="row2" align="right">Database password:</td>
    <td width="60%" class="row2" align="left"><input type="password" name="db_passwd" size="25" value="" class="input" /></td>
  </tr>
  <tr>
    <td width="40%" class="row1" align="right">Prefix for Roster DB tables:</td>
    <td width="60%" class="row1" align="left"><input type="text" name="db_prefix" size="25" value="<?php print $_tpldata['TABLE_PREFIX']; ?>" class="input" /></td>
  </tr>
  <tr>
    <td width="40%" class="row1" align="right">Main Site URL:</td>
    <td width="60%" class="row1" align="left"><input type="text" name="server_name" size="40" value="<?php print $_tpldata['SERVER_NAME']; ?>" class="input" /></td>
  </tr>
</table>
<br />

<?php if( $_tpldata['S_SHOW_BUTTON'] ) { ?>
<div align="center"><input type="submit" name="submit" value="Proceed" class="mainoption" /></div>
</form>
<?php } ?>