<!-- $Id$ -->

<table class="border_frame" cellpadding="0" cellspacing="1" style="width:400px;">
	<tr>
		<td class="border_color sgrayborder">
			<div class="header_text sgrayborder">
				<div style="cursor:pointer;width:100%;" onclick="showHide('pvplist','img_pvplist','{IMG_URL}minus.gif','{IMG_URL}plus.gif');">
					<img style="float:right;" id="img_pvplist" src="{IMG_URL}plus.gif" alt="" />
					{L_PVPLIST}
				</div>
			</div>

			<table id="pvplist" cellpadding="0" cellspacing="0" style="width:100%;display:none;">

			<!-- BEGIN pvplist -->
				<tr>
					<td class="membersRow{pvplist.ROW_CLASS}"><a href="{pvplist.LINK}">{pvplist.VALUE}</a></td>
					<td class="membersRow{pvplist.ROW_CLASS}">{pvplist.NAME}</td>
					<td class="membersRowRight{pvplist.ROW_CLASS}">{pvplist.COUNT}</td>
				</tr>
			<!-- END pvplist -->

			</table>

		</td>
	</tr>
</table>
