<!-- $Id$ -->


<div class="menu-login">
	{MENU_LOGIN_FORM}
</div>

<div class="scope-menu">
<!-- BEGIN menu_button_section -->
	<!-- IF menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char' -->
	<div class="qj-button">
		<a class="button-qj" href="#" onclick="showHide('menu_char'); hide('menu_guild'); hide('menu_realm'); hide('menu_util'); return false;"></a>
	</div>
	<!-- ENDIF -->

	<div class="menu-scope<!-- IF menu_button_section.OPEN or (menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char') -->-panel" id="menu_{menu_button_section.ID}" style="display:none<!-- ENDIF -->">
	<!-- IF menu_button_section.OPEN or (menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char') -->
		<div class="menu-frame">
			<div class="section-title">{menu_button_section.LABEL}</div>
	<!-- ENDIF -->
		<ul>
		<!-- BEGIN menu_buttons -->
			<li style="background-image:url({menu_button_section.menu_buttons.ICON}); background-position:center; background-repeat: no-repeat;"><a {menu_button_section.menu_buttons.TOOLTIP} href="{menu_button_section.menu_buttons.U_LINK}"></a></li>
		<!-- END menu_buttons -->
		</ul>
	<!-- IF menu_button_section.OPEN or (menu_button_section.ID eq 'char' and ROSTER_SCOPE neq 'char') -->
		</div>
	<!-- ENDIF -->
	</div>
<!-- END menu_button_section -->
</div>






<!-- IF ROSTER_MENU_BEFORE -->{ROSTER_MENU_BEFORE}<!-- ENDIF -->


<div style="visibility:hidden; height:0px;">

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color syellowborder">

			<table cellspacing="0" cellpadding="4" border="0" class="main_roster_menu">
				<tr>
					<td colspan="3" align="center" valign="top" class="header">
						<div align="right" style="float:right;">
							<!-- IF S_LOCALE_SELECT -->
							<form action="{U_MAKELINK}" name="locale_select" method="post" style="margin:0;">
								<!-- TRANSLATE language -->
								<select name="locale" onchange="document.locale_select.submit();">
								<!-- BEGIN locale_select -->
									<option value="{locale_select.LOCALE}"<!-- IF locale_select.S_SELECTED --> selected="selected"<!-- ENDIF -->>{locale_select.LOCALE_NAME}</option>
								<!-- END locale_select -->
								</select>
							</form>
							<!-- ENDIF -->
							<!-- IF S_DATA_SELECT -->
							<form action="{U_MAKELINK}" name="list_select" method="post" style="margin:0;">
								{L_MENU_LABEL_NAME}:
								<select name="{L_MENU_LABEL}" onchange="window.location.href=this.options[this.selectedIndex].value;">
									<!-- BEGIN menu_select_group -->
									<optgroup label="{menu_select_group.U_VALUE}">
										<!-- BEGIN menu_select_row -->
										<option value="{menu_select_group.menu_select_row.U_VALUE}"<!-- IF menu_select_group.menu_select_row.S_SELECTED --> selected="selected"<!-- ENDIF -->>{menu_select_group.menu_select_row.TEXT}</option>
										<!-- END menu_select_row -->
									</optgroup>
									<!-- END menu_select_group -->
								</select>
							</form>
							<!-- ELSE -->
							&nbsp;
							<!-- ENDIF -->
						</div>
						<div style="white-space:nowrap;">
							<span style="font-size:18px;">{ROSTER_TITLE}</span>
<!-- IF ROSTER_SUBTITLE -->
							<span style="font-size:11px;">{ROSTER_SUBTITLE}
<!-- IF ROSTER_3RDTITLE -->
							<br />
							{ROSTER_3RDTITLE}
<!-- ENDIF -->
<!-- IF LAST_UPDATED -->
							<!-- TRANSLATE lastupdate -->: <span style="color:#0099FF;">{LAST_UPDATED}</span>
<!-- ENDIF --></span>
<!-- ENDIF -->
						</div></td>
				</tr>
				<tr>
					<td colspan="3" class="divider_gold"><img src="{IMG_URL}pixel.gif" width="1" height="1" alt="" /></td>
				</tr>
				<tr>
			{MENU_LEFT}
					<td valign="top" class="row">
						<div class="menu_container">
							<div class="menu_header">
								<ul >
									<li><a href="#" class="menu_bg_01" onclick="<!-- IF S_MENU_HEADER_01 -->showHide('menu_guild');<!-- ENDIF -->return false;"><!-- TRANSLATE menu_header_01 --></a></li>
									<li><a href="#" class="menu_bg_02" onclick="<!-- IF S_MENU_HEADER_02 -->showHide('menu_realm');<!-- ENDIF -->return false;"><!-- TRANSLATE menu_header_02 --></a></li>
									<li><a href="{U_MENU_HEADER_03}" class="menu_bg_03"><!-- TRANSLATE menu_header_03 --></a></li>
									<li><a href="#" class="menu_bg_04" onclick="<!-- IF S_MENU_HEADER_04 -->showHide('menu_util');<!-- ENDIF -->return false;"><!-- TRANSLATE menu_header_04 --></a></li>
								</ul>
							</div>

							<!-- BEGIN menu_button_section -->
							<div class="menu_{menu_button_section.CLASS}" id="menu_{menu_button_section.ID}"<!-- IF menu_button_section.OPEN --> style="display:none"<!-- ENDIF -->>
								<div align="{menu_button_section.ALIGN}">{menu_button_section.LABEL}</div>
								<ul>
								<!-- BEGIN menu_buttons -->
									<li{menu_button_section.menu_buttons.TOOLTIP} style="background-image:url({menu_button_section.menu_buttons.ICON}); background-position:center; background-repeat: no-repeat;"><a href="{menu_button_section.menu_buttons.U_LINK}"></a></li>
								<!-- END menu_buttons -->
								</ul>
							</div>
							<!-- END menu_button_section -->
						</div></td>
			{MENU_RIGHT}
				</tr>
				<tr>
					<td colspan="3" class="divider_gold"><img src="{IMG_URL}pixel.gif" width="1" height="1" alt="" /></td>
				</tr>
				<tr>
					<td colspan="3" align="center" valign="top" class="header" style="padding:0px;">
					<div style="float:left;">{MENU_LOGIN_FORM}</div>
						<form id="menu_search" name="menu_search" action="{U_SEARCH_FORM_ACTION}" method="post" enctype="multipart/form-data" style="margin:0;float:right;">
							<input size="25" type="text" name="s_term" value="" class="wowinput128" />
							<input type="submit" value="<!-- TRANSLATE search -->" />
						</form></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

</div>