<!-- BEGIN user_messaging -->
<div class="container">
		<div class="tier-1-a" style="margin-top: 5px;">
			<div class="tier-1-b">
				<div class="tier-1-c exp-content">
					<div class="tier-1-title">
						<div class="icon">
							<img src="{INTERFACE_URL}Interface/Icons/{user_messaging.ICON}.{IMG_SUFFIX}" alt="" />
							<div class="mask"></div>
						</div>
						{user_messaging.PAGETITLE}
					</div>

					<div class="config-menu">
{user_messaging.MENU}
					</div>
					<div class="config-body-menu">
						<div class="tier-2-a">
							<div class="article-right">
								<div class="info-text-h">
									<div>{user_messaging.FORM}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END user_messaging -->