<!-- $Id: guild.html 1707 2008-02-28 07:40:43Z Zanix $ -->

<form action="{U_MAKELINK}" method="get">
	{L_PVP_LIST}:
	<select name="type" onchange="window.location.href=this.options[this.selectedIndex].value">

	<!-- BEGIN choice -->
		<option value="{choice.VALUE}"<!-- IF choice.SELECTED --> selected="selected"<!-- ENDIF -->>{choice.NAME}</option>
	<!-- END choice -->

	</select>
</form>
<br />

<!-- IF INFO_TEXT -->{INFO_TEXT}<br /><br /><!-- ENDIF -->

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgrayborder">
			<div class="header_text sgrayborder">{L_TYPE}</div>

			<table width="100%" cellspacing="0" cellpadding="0">
			<!-- IF S_HEADER -->
				<tr>

				<!-- BEGIN header -->
					<th class="membersHeader<!-- IF header.RIGHT -->Right<!-- ENDIF -->">{header.NAME}</th>
				<!-- END header -->

				</tr>
			<!-- ENDIF -->

			<!-- IF S_TYPE eq 'guildwins' or S_TYPE eq 'guildlosses' or S_TYPE eq 'purgewins' or S_TYPE eq 'purgelosses' -->

				<!-- BEGIN rows -->
				<tr>
					<td class="membersRow{rows.ROW_CLASS}"><a href="{rows.LINK}"><!-- IF rows.NAME neq '' -->{rows.NAME}<!-- ELSE -->( {L_UNKNOWN} )<!-- ENDIF --></td>
					<td class="membersRowRight{rows.ROW_CLASS}">{rows.COUNT}</td>
				</tr>
				<!-- END rows -->

			<!-- ELSEIF S_TYPE eq 'purgeavewins' or S_TYPE eq 'purgeavelosses' -->

				<!-- BEGIN rows -->
				<tr>
					<td class="membersRow{rows.ROW_CLASS}"><a href="{rows.LINK}">{rows.NAME}</td>
					<td class="membersRow{rows.ROW_CLASS}">{rows.AVE}</td>
					<td class="membersRowRight{rows.ROW_CLASS}">{rows.COUNT}</td>
				</tr>
				<!-- END rows -->

			<!-- ELSEIF S_TYPE eq 'pvpratio' -->

				<!-- BEGIN rows -->
				<tr>
					<td class="membersRow{rows.ROW_CLASS}"><a href="{rows.LINK}">{rows.NAME}</td>
					<td class="membersRow{rows.ROW_CLASS}">{rows.WINS}</td>
					<td class="membersRow{rows.ROW_CLASS}">{rows.BATTLES}</td>
					<td class="membersRowRight{rows.ROW_CLASS}">{rows.RATIO}</td>
				</tr>
				<!-- END rows -->

			<!-- ELSEIF S_TYPE eq 'playerinfo' -->

				<!-- BEGIN rows -->
				<tr>
					<td class="membersRow{rows.ROW_CLASS}">{rows.DATE}</td>
					<td class="membersRow{rows.ROW_CLASS}"><a href="{rows.LINK}">{rows.NAME}</a></td>
					<td class="membersRow{rows.ROW_CLASS}"><!-- IF rows.WIN --><img class="membersRowimg" alt="{L_WIN}" src="{IMG_URL}pvp-win.gif" /><!-- ELSE --><img class="membersRowimg" alt="{L_LOSS}" src="{IMG_URL}pvp-loss.gif" /><!-- ENDIF --></td>
					<td class="membersRow{rows.ROW_CLASS}">{rows.ZONE}</td>
					<td class="membersRow{rows.ROW_CLASS}">{rows.SUBZONE}</td>
					<td class="membersRowRight{rows.ROW_CLASS}">{rows.LEVELDIFF}</td>

				</tr>
				<!-- END rows -->

			<!-- ELSEIF S_TYPE eq 'guildinfo' -->

				<!-- BEGIN rows -->
				<tr>
					<td class="membersRow{rows.ROW_CLASS}">{rows.DATE}</td>
					<td class="membersRow{rows.ROW_CLASS}"><a href="{rows.LINK}">{rows.NAME}</a></td>
					<td class="membersRow{rows.ROW_CLASS}"><a href="{rows.GLINK}">{rows.GNAME}</a></td>
					<td class="membersRow{rows.ROW_CLASS}"><!-- IF rows.WIN -->{L_WIN}<!-- ELSE -->{L_LOSS}<!-- ENDIF --></td>
					<td class="membersRow{rows.ROW_CLASS}">{rows.ZONE}</td>
					<td class="membersRow{rows.ROW_CLASS}">{rows.SUBZONE}</td>
					<td class="membersRowRight{rows.ROW_CLASS}">{rows.LEVELDIFF}</td>

				</tr>
				<!-- END rows -->

			<!-- ELSEIF S_TYPE eq 'enemywins' or S_TYPE eq 'enemylosses' -->

				<!-- BEGIN rows -->
				<tr>
					<td class="membersRow{rows.ROW_CLASS}"><a href="{rows.LINK}">{rows.NAME}</a></td>
					<td class="membersRow{rows.ROW_CLASS}">{rows.COUNT}</td>
					<td class="membersRow{rows.ROW_CLASS}"><a href="{rows.GLINK}"><!-- IF rows.GNAME neq '' -->{rows.GNAME}<!-- ELSE -->( {L_UNKNOWN} )<!-- ENDIF --></td>
					<td class="membersRow{rows.ROW_CLASS}">{rows.RACE}</td>
					<td class="membersRow{rows.ROW_CLASS}">{rows.CLASS}</td>
					<td class="membersRowRight{rows.ROW_CLASS}">{rows.LEVELDIFF}</td>

				</tr>
				<!-- END rows -->

			<!-- ENDIF -->

			</table>

		</td>
	</tr>
</table>
