<!-- $Id$ -->

<form action="{U_MAKELINK}" method="post" enctype="multipart/form-data" id="conf_change_pass" name="conf_change_pass" onsubmit="return confirm('<!-- TRANSLATE config_reset_confirm -->');">

<div class="tier-2-a">
	<div class="tier-2-b">

		<div class="info-text-h">
<!-- TRANSLATE config_reset_help -->
		</div>

		<div class="tier-4-a">
			<div class="tier-4-b">
				<div class="config">
					<div class="config-input">
						<input type="submit" value="<!-- TRANSLATE proceed -->" />
					</div>
					<div class="config-name">
						<label for="doit"><!-- TRANSLATE config_reset_confirm --></label>
						<input type="checkbox" id="doit" name="doit" value="doit" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</form>
