<!-- $Id$ -->

<!-- Navagation Tabs -->
<div class="sections">
	<ul id="tab_navagation">
<!-- BEGIN gtabs -->
		<li<!-- IF gtabs.SELECTED --> class="selected"<!-- ENDIF -->><a rel="{gtabs.BLOCKID}" class="text">{gtabs.NAME}</a></li>
<!-- END gtabs -->
	</ul>
</div>

<div class="main-panel" align="left">
	<div class="container profile">
	
		<div class="tier-1-a">
			<div class="tier-1-b">
				<div class="tier-1-c">
	
					<div class="tier-1-title">
						<div class="right">
<!-- BEGIN p_bar -->
							<div class="bar">
								<div class="xp-bar {p_bar.TEXT}">
									<div class="fill {p_bar.TEXT}" style="width: {p_bar.PERCENT}%;"></div>
									<div class="text">XP: {p_bar.STEP} / {p_bar.TOTAL} ({p_bar.PERCENT}%)</div>
								</div>
							</div>
<!-- END p_bar -->
						</div>
						<div class="left"><!-- TRANSLATE level --> {LEVEL}</div>
						<!-- TRANSLATE guildinfo -->
					</div>
	
					<div id="profile" class="tier-2-a" style="display:none;">
						<div class="tier-2-b">
							<div class="tier-2-title"><!-- TRANSLATE guildinfo --></div>
	{GRAPH}
							<div class="ginfo-right">
								<div class="ginfo-right-block">
									<div class="shader">
										{INFO}
									</div>
								</div>
	
								<div class="ginfo-right-block">
									<div class="agnewsrow">
										<span class="blueB"><!-- TRANSLATE TXP --></span>
									</div>
<!-- BEGIN top10 -->
									<div class="gnewsrow">
										<table width="100%">
											<tr>
												<td width="10%">{top10.TOTALRANK}</td>
												<td width="60%">{top10.NAME}</td>
												<td width="30%">{top10.TOTALXP}</td>
											</tr>
										</table>
									</div>
<!-- END top10 -->
								</div>
	
								<div class="ginfo-right-block">
									<div class="agnewsrow">
										<span class="blueB"><!-- TRANSLATE WXP --></span>
									</div>
<!-- BEGIN top10w -->
									<div class="gnewsrow">
										<table width="100%">
											<tr>
												<td width="10%">{top10w.TOTALRANK}</td>
												<td width="60%">{top10w.NAME}</td>
												<td width="30%">{top10w.TOTALXP}</td>
											</tr>
										</table>
									</div>
<!-- END top10w -->
								</div>
							</div>
	
							<div class="ginfo-left">
								<div class="shader">
<!-- BEGIN news -->
									<div class="gnewsrow">{news.DATE} - {news.TEXT}</div>
<!-- END news -->
								</div>
							</div>
	
						</div>
					</div>
	
<!-- BEGIN gtabs -->
					<div id="{gtabs.BLOCKID}" class="tier-2-a" style="display:none;">
						<div class="tier-2-b">
							<div class="tier-2-title">{gtabs.NAME}</div>
	
							<div class="ginfo-left-full">
								<div class="shader">
<!-- BEGIN news -->
									<div class="gnewsrow">{gtabs.news.DATE} - {gtabs.news.TEXT}</div>
<!-- END news -->
								</div>
							</div>
						</div>
					</div>
<!-- END gtabs -->
	
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
<!--
$(function() {
	var tab_navagation=new tabcontent('tab_navagation');
	tab_navagation.setpersist(false);
	tab_navagation.init();
});
//-->
</script>
