<!-- $Id$ -->

<!-- BEGIN password -->

<form action="{U_MAKELINK}" method="post" enctype="multipart/form-data" id="{password.ID}">
	<input type="hidden" name="mode" value="{password.TYPE}" />

	<div class="tier-2-a" style="margin:4px auto 0 auto; width:450px;">
		<div class="tier-2-b">
			<div class="tier-2-title">
				<div style="float:right;">
					<input type="submit" value="<!-- TRANSLATE pagebar_changepass -->" />
				</div>
				{password.TITLE}
			</div>

<!-- BEGIN field -->
			<div class="tier-3-a">
				<div class="tier-3-b">
					<div class="config">
						<div class="config-name">
							<label for="{password.field.ID}">{password.field.TITLE}</label>
						</div>
						<div class="config-input">
							<input type="password" id="{password.field.ID}" name="{password.field.NAME}" value="" />
						</div>
					</div>
				</div>
			</div>
<!-- END field -->
		</div>
	</div>

</form>

<!-- END password -->
