<!-- $Id$ -->

<form action="{U_MAKELINK}" method="post" enctype="multipart/form-data" id="conf_change_pass" name="conf_change_pass" onsubmit="return confirm('<!-- TRANSLATE config_reset_confirm -->');">

<div class="tier-2-a">
	<div class="tier-2-b">

		<div class="info-text-h">
<!-- TRANSLATE config_reset_help -->
		</div>

		<div class="tier-4-a">
			<div class="tier-4-b">
				<div class="text">
					<div style="float:right">
						<input type="submit" value="<!-- TRANSLATE proceed -->" />
					</div>
					<!-- TRANSLATE config_reset_confirm -->
					<input type="checkbox" id="doit" name="doit" value="doit" />
				</div>
			</div>
		</div>
	</div>
</div>

</form>
