<!-- $Id$ -->

<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title">
			<div class="right">
				<form action="{U_FORM_ACTION}" method="post" onsubmit="return confirm('<!-- TRANSLATE confirm_config_submit -->') &amp;&amp; writeValue();">
					<input type="hidden" name="arrayput" id="arrayput" />
					<input type="hidden" name="section" value="{SECTION}" />
					<input type="hidden" name="process" value="process" />
					<input type="submit" value="<!-- TRANSLATE config_submit_button -->" />
				</form>
			</div>
			{SECTION_NAME}
		</div>

		<div class="border_frame border_color sgreenborder" id="array" style="width:{BUTTON_GRID_WIDTH}px;height:{BUTTON_GRID_HEIGHT}px;"></div>

<!-- BEGIN button_grid -->
		<div id="b{button_grid.ID}" class="item"{button_grid.TOOLTIP}>
			<img src="{button_grid.ICON}" alt="" />
			<div class="mask {button_grid.CLASS}"></div>
		</div>
<!-- END button_grid -->

		<div style="clear:both;"></div>

		<table class="border_frame" cellpadding="0" cellspacing="1">
			<tbody><tr><td class="border_color sblueborder">
				<div class="header_text sblueborder"><!-- TRANSLATE menuconf_unused_buttons --></div>
				<div id="palet" style="width:{UN_BUTTON_GRID_WIDTH}px;height:{UN_BUTTON_GRID_HEIGHT}px;"></div>
			</td></tr></tbody>
		</table>

<!-- BEGIN pallet_grid -->
		<div id="b{pallet_grid.ID}" class="item"{pallet_grid.TOOLTIP}>
			<img src="{pallet_grid.ICON}" alt="" />
			<div class="mask {pallet_grid.CLASS}"></div>
		</div>
<!-- END pallet_grid -->

	</div>
</div>

<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title"><!-- TRANSLATE menuconf_drag_delete --></div>
		<div id="rec_bin" class="border_color sredborder" style="width:100%;height:65px;"></div>
	</div>
</div>
