<!-- $Id$ -->

<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title">
			<div class="right">
				<form action="{U_FORM_ACTION}" method="post" onsubmit="return confirm('<!-- TRANSLATE confirm_config_submit -->') &amp;&amp; writeValue();">
					<input type="hidden" name="arrayput" id="arrayput" />
					<input type="hidden" name="section" value="{SECTION}" />
					<input type="hidden" name="process" value="process" />
					<input type="submit" value="<!-- TRANSLATE config_submit_button -->" />
				</form>
			</div>
			{SECTION_NAME}
		</div>

<!-- BEGIN button_grid -->
		<div id="b{button_grid.ID}" class="item"{button_grid.TOOLTIP}>
			<img src="{button_grid.ICON}" alt="" />
			<div class="mask {button_grid.CLASS}"></div>
		</div>
<!-- END button_grid -->

		<div class="ui-widget ui-widget-content ui-corner-all sblueborder" id="array" style="width:{BUTTON_GRID_WIDTH}px;height:{BUTTON_GRID_HEIGHT}px;"></div>

	</div>
</div>

<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title"><!-- TRANSLATE menuconf_unused_buttons --></div>

<!-- BEGIN pallet_grid -->
		<div id="b{pallet_grid.ID}" class="item"{pallet_grid.TOOLTIP}>
			<img src="{pallet_grid.ICON}" alt="" />
			<div class="mask {pallet_grid.CLASS}"></div>
		</div>
<!-- END pallet_grid -->

		<div id="palet" class="ui-widget ui-widget-content ui-corner-all sgrayborder" style="width:{UN_BUTTON_GRID_WIDTH}px;height:{UN_BUTTON_GRID_HEIGHT}px;"></div>

	</div>
</div>

<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title"><!-- TRANSLATE menuconf_drag_delete --></div>
		<div id="rec_bin" class="ui-widget ui-state-error ui-corner-all" style="width:100%;height:65px;"></div>
	</div>
</div>
