<!-- $Id$ -->

<script type="text/javascript">
<!--
	SET_DHTML(CURSOR_MOVE, TRANSPARENT, SCROLL{DHTML_REG}, 'palet' + NO_DRAG, 'array' + NO_DRAG, 'rec_bin' + NO_DRAG);

	var roster_url	= '{ROSTER_URL}';

	var dy		= 40;
	var margTop	= 5;
	var dx		= 40;
	var margLef	= 5;

	var arrayWidth = {ARRAY_WIDTH};
	var arrayHeight = {ARRAY_HEIGHT};
	var paletHeight = {PALLET_HEIGHT};

	// Array intended to reflect the order of the draggable items
	var aElts = Array();
	var palet = Array();

<!-- BEGIN script_pallet -->
	palet[{script_pallet.IDX}] = dd.elements.{script_pallet.ID};
<!-- END script_pallet -->

<!-- BEGIN script_aelts -->
	aElts[{script_aelts.POS}] = dd.elements.b{script_aelts.ID};
<!-- END script_aelts -->

	updatePositions();
//-->
</script>
