<!-- $Id$ -->

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color syellowborder">
			<div class="header_text syellowborder"><!-- TRANSLATE pagebar_uploadrules --></div>

			<div style="width:145px;">
				<ul class="tab_menu">
			<!-- BEGIN upload_rules_menu -->
					<li<!-- IF upload_rules_menu.SELECTED --> class="selected"<!-- ENDIF -->><a href="{upload_rules_menu.LINK}">{upload_rules_menu.NAME}</a></li>
			<!-- END upload_rules_menu -->
				</ul>
			</div>

		</td>
	</tr>
</table>
