<!-- $Id$ -->
<form action="" method="post" id="update">
	<input type="hidden" id="deletehide" name="action" value="" />
	<input type="hidden" name="process" value="process" />

<!-- BEGIN user -->
				<div class="tier-3-a">
					<div class="tier-3-b">
						<div class="config">
							<div class="config-name">
								<div class="config-input">
									<div class="radioset">
										<input type="radio" id="rad_config_{user.IDC}" name="{user.ID}[active]" value="0" <!-- IF user.ACTIVE eq 0 -->checked="checked" <!-- ENDIF -->/>
										<label for="rad_config_{user.IDC}">In-active</label>
										<input type="radio" id="rad_config_{user.IDX}" name="{user.ID}[active]" value="1" <!-- IF user.ACTIVE eq 1 -->checked="checked" <!-- ENDIF -->/>
										<label for="rad_config_{user.IDX}">Active</label>
									</div>
								</div>
								Delete:<input type="checkbox" name="delete[]" id="delete" value="{user.ID}"  /> 
								{user.NAME}&nbsp;&nbsp;&nbsp;
							</div>
							<div class="config-input">
								{user.ACCESS}
							</div>
						</div>
					</div>
				</div>

<!-- END user -->
<button type="submit" class="input" onclick="return confirm('update settings');">update</button>

</form>