<!-- * $Id$ -->
<form method="post" action="install.php" name="post">

<?php if( $_tpldata['MSG_TEXT'] != '' ) { ?>
<table cellspacing="1" cellpadding="2">
  <tr>
    <th align="left"><?php print $_tpldata['MSG_TITLE']; ?></th>
  </tr>
  <tr>
    <td align="center" class="row1">&nbsp;<br /><?php print $_tpldata['MSG_TEXT']; ?><br />&nbsp;</td>
  </tr>
</table>
<br />
<?php } ?>

<?php if( $_tpldata['DOWNLOAD'] ) { ?>
<input type="hidden" name="config_data" value="<?php print $_tpldata['CONF_FILE']; ?>" />
<input type="hidden" name="send_file" value="1" />
<table cellspacing="1" cellpadding="2">
  <tr>
    <th align="left" colspan="2">Download conf.php</th>
  </tr>
  <tr>
    <td class="row1" align="center">&nbsp;<br />Download conf.php and upload it to your server into the directory that contains your roster files (eg. index.php, char.php, etc.)<br /><span style="font-weight: bold;" class="negative">BEFORE</span> you continue<br />&nbsp;</td>
  </tr>
  <tr>
    <td class="row2" align="center"><input type="submit" name="download" value="Download" class="mainoption" /></td>
  </tr>
</table>
<br />
<?php } ?>

<span style="font-weight: bold; font-size: 14px;"><a href="index.php?p=rostercp">&gt;Continue to Roster Config&lt;</a></span>
<br />

</form>
