<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{XML_LANG}" lang="{XML_LANG}">
<head>
<title>WoWRoster{PAGE_TITLE}</title>
<!-- IF S_SEO_URL -->
	<base href="{ROSTER_URL}" />
<!-- ENDIF -->
	<link rel="stylesheet" type="text/css" href="{ROSTER_PATH}css/style.css" />
	<script type="text/javascript" src="{ROSTER_PATH}css/js/mainjs.js"></script>
	<script type="text/javascript" src="{ROSTER_PATH}css/js/tabcontent.js">
		/**
		 * Tab Content script- Dynamic Drive DHTML code library (www.dynamicdrive.com)
		 * This notice MUST stay intact for legal use
		 * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
		 **/
	</script>
	<script type="text/javascript">
	<!--
		var ol_width='220';var ol_offestx='10';var ol_offesty='10';var ol_hauto='1';var ol_vauto='1';
		var ol_fgclass='overlib_fg';var ol_bgclass='overlib_border';var ol_textfontclass='overlib_maintext';
		var ol_captionfontclass='overlib_captiontext';var ol_closefontclass='overlib_closetext';
	//-->
	</script>
	<script type="text/javascript" src="{ROSTER_PATH}css/js/overlib.js"></script>
	<script type="text/javascript" src="{ROSTER_PATH}css/js/overlib_hideform.js"></script>
{ROSTER_HEAD}
</head>
<body{ROSTER_BODY}>
<div id="overDiv" style="position:absolute;visibility:hidden;z-index:1000;"></div>
<script type="text/javascript">
<!--
	setOpacity( 'overDiv',8.5 );
//-->
</script>
<div align="center">

<!-- IF S_HEADER_LOGO -->
<div align="center" style="margin:10px;">
	<table class="border_frame" cellpadding="0" cellspacing="1" ><tr><td class="border_color sgoldborder">
	<a href="{WEBSITE_ADDRESS}"><img src="{HEADER_LOGO}" alt="" hspace="0" vspace="0" border="0" style="border:0;" /></a></td></tr></table>
</div>
<!-- ENDIF -->

<!-- End Roster Header -->
