<!-- $Id$ -->

</td></tr></table>

<div class="char-info">
	<div class="char-list">
		<div class="banner">
			<div class="title">{GUILD_NAME}</div>
		</div>
		<div class="spacer">
			<div class="list">
<!-- BEGIN mini_memberslist -->
			<div class="member <!-- IF mini_memberslist.S_SELECTED -->select<!-- ELSEIF mini_memberslist.U_LINK -->u-link<!-- ELSE -->plain<!-- ENDIF -->">
				<span class="lvl">{mini_memberslist.LEVEL}</span>
<!-- IF mini_memberslist.U_LINK --><!-- U_LINK will be FALSE if the player has no data -->
				<span class="name"><a href="{mini_memberslist.U_LINK}">{mini_memberslist.NAME}</a></span>
<!-- ELSE -->
				<span class="name">{mini_memberslist.NAME}</span>
<!-- ENDIF -->
				<span class="info">

<!-- THE FOLLOWING ONLY EXIST IF THERE IS PLAYER DATA -->
<!-- IF mini_memberslist.RACE_ID -->
					<img src="{IMG_URL}icons/race/{mini_memberslist.RACE_ID}-{mini_memberslist.SEX_ID}.gif" width="20" height="20" />
<!-- ENDIF -->
					<img src="{IMG_URL}icons/class/{mini_memberslist.CLASS_ID}.gif" width="20" height="20" />
				</span>
			</div>
<!-- END mini_memberslist -->
			</div>
		</div>
	</div>

	<div class="char-header {FACTION}">
		<div class="text">
			<div class="name" {ALT_TOOLTIP}>{NAME}<span>{NAME}</span></div>
			<!-- ADRIC, IF YOU CAN FIND A PLACE FOR THE GUILD TITLE, PLEASE MAKE ONE <div class="guild">{GUILD_NAME}<span>{GUILD_NAME}</span></div> -->
			<!-- IF GUILD_NAME and GUILD_TITLE --><div class="guild">{L_GUILD_LINE}<span>{L_GUILD_LINE}</span></div><!-- ENDIF -->
			<div class="info">{L_LEVEL_RACE_CLASS}<span>{L_LEVEL_RACE_CLASS}</span></div>
		</div>
	</div>

<!-- Navagation Tabs -->
	<div class="sections">
		<ul id="char_navagation">
<!-- BEGIN tabs -->
			<li<!-- IF tabs.SELECTED --> class="selected"<!-- ENDIF -->><a rel="{tabs.VALUE}" class="text">{tabs.NAME}</a></li>
<!-- END tabs -->
		</ul>
	</div>

	<div class="main-panel" align="left">

<!-- tab1 -->
		<div id="tab1" class="tab1" style="display:none;">
			<div class="container">
				<div class="name">{L_PROFILE}</div>

				<div class="equip-bg">
					<div class="equip">
<!-- BEGIN equipment -->
						<div class="equip_{equipment.SLOT}">{equipment.ICON}</div>
<!-- END equipment -->
					</div>

					<div class="resist shader">
						<div class="bar">
							<div class="icons">
<!-- BEGIN resist -->
								<div class="icon {resist.CLASS}" {resist.TOOLTIP}><b>{resist.VALUE}</b><span>{resist.VALUE}</span></div>
<!-- END resist -->
							</div>
							<div class="text">{L_RESISTANCES}:</div>
						</div>
					</div>


<!-- Buff Icons -->
					<div class="buffs shader">
						<div class="bar">
<!-- BEGIN buff -->
							<div class="buff">
								<img class="icon" src="{INTERFACE_URL}Interface/Icons/{buff.ICON}.{IMG_SUFFIX}" {buff.TOOLTIP} alt="" />
<!-- IF buff.COUNT -->
								<b>{buff.COUNT}</b><span>{buff.COUNT}</span>
<!-- ENDIF -->
							</div>
<!-- END buff -->
						</div>
						<div class="buff-name">{L_BUFFS}:</div>
					</div>


<!-- Advanced Stats -->
					<div class="powers shader">
						<div class="bar">
							<div class="power-bar health">{HEALTH}</div>
							<div class="power-name">{L_HEALTH}:</div>
						</div>
						<div class="bar">
							<div class="power-bar {L_CHAR_POWER_ID}">{POWER}</div>
							<div class="power-name">{L_CHAR_POWER}:</div>
						</div>
					</div>

<!-- EXP Bar -->
					<div class="xp shader">
						<div class="bar">
							<div class="xp-bar {EXP_TYPE}">
								<div class="fill {EXP_TYPE}" style="width: {EXP_WIDTH}%;"></div>
								<div class="text">{EXP_TEXT}</div>
							</div>
							<div class="xp-name">EXP:</div>
						</div>
					</div>

					<div class="extras shader">

						<div class="info_desc">
<!-- BEGIN info_stats -->
							{info_stats.NAME}<br />
<!-- END info_stats -->
						</div>

						<div class="info_values">
<!-- BEGIN info_stats -->
							{info_stats.VALUE}<br />
<!-- END info_stats -->
						</div>

					</div>

<!-- IF S_MONEY -->
					<div class="money shader">
						<!-- IF MONEY_G --><div>{MONEY_G}<img src="{IMG_URL}coin_gold.gif" class="coin" alt="g" /></div><!-- ENDIF -->
						<!-- IF MONEY_S --><div>{MONEY_S}<img src="{IMG_URL}coin_silver.gif" class="coin" alt="s" /></div><!-- ENDIF -->
						<!-- IF MONEY_C --><div>{MONEY_C}<img src="{IMG_URL}coin_copper.gif" class="coin" alt="c" /></div><!-- ENDIF -->
					</div>
<!-- ENDIF -->

					<script type="text/javascript">
					<!--
						addLpage('statsleft');
						addLpage('meleeleft');
						addLpage('rangedleft');
						addLpage('spellleft');
						addLpage('defenseleft');
						addRpage('statsright');
						addRpage('meleeright');
						addRpage('rangedright');
						addRpage('spellright');
						addRpage('defenseright');
					//-->
					</script>

					<select class="statselect_l" name="statbox_left" onchange="doLpage(this.value);">
						<option value="statsleft" selected="selected">{L_MENUSTATS}</option>
						<option value="meleeleft">{L_MELEE}</option>
						<option value="rangedleft">{L_RANGED}</option>
						<option value="spellleft">{L_SPELL}</option>
						<option value="defenseleft">{L_DEFENSE}</option>
					</select>
					<select class="statselect_r" name="statbox_right" onchange="doRpage(this.value);">
						<option value="statsright">{L_MENUSTATS}</option>
						<option value="meleeright" <!-- IF RIGHTBOX eq 'melee' -->selected="selected"<!-- ENDIF -->>{L_MELEE}</option>
						<option value="rangedright" <!-- IF RIGHTBOX eq 'ranged' -->selected="selected"<!-- ENDIF -->>{L_RANGED}</option>
						<option value="spellright" <!-- IF RIGHTBOX eq 'spell' -->selected="selected"<!-- ENDIF -->>{L_SPELL}</option>
						<option value="defenseright">{L_DEFENSE}</option>
					</select>

					<div class="padding">
<!-- BEGIN box_stats -->
						<div class="stats shader" id="{box_stats.ID}" style="display:<!-- IF box_stats.SHOW -->block<!-- ELSE -->none<!-- ENDIF -->">
<!-- BEGIN statline -->
							<div class="statline" {box_stats.statline.TOOLTIP}>
								<span class="value">{box_stats.statline.VALUE}</span>
								<span class="label">{box_stats.statline.NAME}:</span>
							</div>
<!-- END statline -->
						</div>
<!-- END box_stats -->
					</div>

				</div>
			</div>
		</div>



<!-- IF S_PET_TAB -->

<!-- tab2 -->
		<div id="tab2" class="tab2" style="display:none;">
		</div>
<!-- ENDIF -->



<!-- IF S_REP_TAB -->

<!-- tab3 -->
		<div id="tab3" class="tab3" style="display:none;">
<!-- BEGIN rep -->
			<div class="container">
				<div class="name">
					<div class="icon {rep.NAME_ID}"></div>
					{rep.NAME}</div>
<!-- BEGIN bar -->
				<div class="rep">
					<div class="rep-name">{rep.bar.NAME}</div>
					<div class="rep-standing">{rep.bar.STANDING}</div>
					<div class="rep-bar">
						<div class="fill {rep.bar.IMAGE}" style="width: {rep.bar.WIDTH}%;"></div>
						<div class="text">{rep.bar.VALUE} / {rep.bar.MAXVALUE}</div>
					</div>
				</div>
<!-- END bar -->
			</div>
<!-- END rep -->
		</div>
<!-- ENDIF -->



<!-- IF S_SKILL_TAB -->

<!-- tab4 -->
		<div id="tab4" class="tab4" style="display:none;">
<!-- BEGIN skill -->
			<div class="container">
				<div class="name"><div class="icon {skill.NAME_ID}"></div>{skill.NAME}</div>
<!-- BEGIN bar -->
				<div class="skill">
					<div class="skill-name">{skill.bar.NAME}</div>
					<div class="skill-bar">
<!-- IF skill.bar.MAXVALUE eq 1 -->
						<div class="fill" style="width: 100%;"></div>
<!-- ELSE -->
						<div class="fill" style="width: {skill.bar.WIDTH}%;"></div>
						<div class="text">{skill.bar.VALUE} / {skill.bar.MAXVALUE}</div>
<!-- ENDIF -->
					</div>
				</div>
<!-- END bar -->
			</div>
<!-- END skill -->
		</div>
<!-- ENDIF -->



<!-- IF S_TALENT_TAB -->

<!-- tab5 -->
		<div id="tab5" class="tab5" style="display:none;">
			<div class="container">
				<div class="name">{L_TALENTS}</div>

				<div class="shader"><span class="label">{L_UNUSED_TALENTS}:</span> {TALENT_POINTS}</div>

				<div class="framing">
<!-- BEGIN talent_tree -->
					<div class="spec">
						<img class="background" src="{INTERFACE_URL}Interface/TalentFrame/{talent_tree.ICON}.{IMG_SUFFIX}" alt="" />
						<div class="content">
<!-- BEGIN row -->
							<div class="row">
<!-- BEGIN cell -->

<!-- IF talent_tree.row.cell.NAME -->
								<div class="cell" {talent_tree.row.cell.TOOLTIP}>
<!-- IF talent_tree.row.cell.RANK -->
									<img class="rank_icon" src="{U_IMAGE_PATH}talent/rank.gif" alt="" />
									<div class="rank_text" style="font-weight:bold;color:#<!-- IF talent_tree.row.cell.MAX -->ffdd00<!-- ELSE -->00dd00<!-- ENDIF -->;">{talent_tree.row.cell.RANK}</div>
<!-- ENDIF -->
									<img class="talent-icon <!-- IF talent_tree.row.cell.RANK eq 0 --> icon_grey<!-- ENDIF -->" src="{INTERFACE_URL}Interface/Icons/{talent_tree.row.cell.ICON}" alt=""  />
								</div>
<!-- ELSE -->
								<div class="cell">&nbsp;</div>
<!-- ENDIF -->

<!-- END cell -->
							</div>
<!-- END row -->

						</div>
						<div class="spec-name shader"><span style="color:#ffdd00">{talent_tree.NAME}</span> : {talent_tree.POINTS}</div>
					</div>
<!-- END talent_tree -->
				</div>
			</div>
		</div>
<!-- ENDIF -->



<!-- IF S_SPELL_TAB -->
		<div id="tab6" class="tab6" style="display:none;">

<!-- BEGIN spell_book -->
			<div class="container">
				<div class="name">
					<div class="icon"></div>
					{spell_book.NAME}'s {L_SPELLBOOK}
				</div>

<!-- BEGIN tree -->
				<div class="spell-tree shader">
					<div class="tree-name"><img src="{INTERFACE_URL}Interface/Icons/{spell_book.tree.ICON}.{IMG_SUFFIX}" class="icon" alt="" />
						<div class="id-name">{spell_book.tree.ID}</div>
					</div>
					<div class="spell-page">
<!-- BEGIN page -->
<!-- BEGIN spell -->
						<div class="spell-container shader">
							<div class="text">
								<img src="{INTERFACE_URL}Interface/Icons/{spell_book.tree.page.spell.ICON}.{IMG_SUFFIX}" class="icon" {spell_book.tree.page.spell.TOOLTIP} alt="" />
								<span>{spell_book.tree.page.spell.NAME}</span><br />
								<!-- IF spell_book.tree.page.spell.RANK --><span class="rank">{spell_book.tree.page.spell.RANK}</span><!-- ENDIF -->
							</div>
						</div>
<!-- END spell -->
<!-- END page -->
						<div style="clear:both;"></div>
					</div>
				</div>
<!-- END tree -->
			</div>
<!-- END spell_book -->
		</div>
<!-- ENDIF -->

	</div>
</div>






<table border="0" cellpadding="0" cellspacing="0"><tr><td align="left">

<div class="char_panel">
	<div {ALT_TOOLTIP}>
		<img src="{U_IMAGE_PATH}portrait/{CHAR_ICON}.gif" class="panel_icon" alt="" />
		<div class="panel_title">{NAME}</div>
		<div class="infoline_1">{L_LEVEL_RACE_CLASS}</div>
<!-- IF GUILD_NAME and GUILD_TITLE -->	<div class="infoline_2">{L_GUILD_LINE}</div><!-- ENDIF -->
	</div>


<!-- IF S_PET_TAB -->

<!-- tab2 -->
	<div id="tab2_old" class="tab2" style="display:none;">
		<div class="background">&nbsp;</div>

<!-- BEGIN pet -->
		<div id="pet_{pet.ID}" style="display:none;">
			<div class="name">{pet.NAME}</div>
			<div class="info">{L_LEVEL} {pet.LEVEL} {pet.TYPE}</div>

			<div class="loyalty">{pet.LOYALTY}</div>

			<img class="icon" src="{INTERFACE_URL}Interface/Icons/{pet.ICON}.{IMG_SUFFIX}" alt="" />

			<div class="health"><span class="yellowB">{L_HEALTH}:</span> {pet.HEALTH}</div>
			<div class="mana"><span class="yellowB">{pet.L_POWER}:</span> {pet.POWER}</div>

			<div class="resist">
<!-- BEGIN resist -->
				<div class="{pet.resist.CLASS}" {pet.resist.TOOLTIP}><b>{pet.resist.VALUE}</b><span>{pet.resist.VALUE}</span></div>
<!-- END resist -->
			</div>

<!-- IF pet.S_EXP -->
			<img src="{U_IMAGE_PATH}expbar_empty.gif" class="xpbar_empty" alt="" />
			<div class="xpbar" style="clip:rect(0px {pet.EXP_WIDTH}px 12px 0px);"><img src="{U_IMAGE_PATH}expbar_full.gif" alt="" /></div>
			<div class="xpbar_text">{pet.EXP_TEXT}</div>
<!-- ENDIF -->

			<div class="padding">
<!-- BEGIN box_stats -->
				<div class="stats">
<!-- BEGIN statline -->
					<div class="statline" {pet.box_stats.statline.TOOLTIP}>
						<span class="value">{pet.box_stats.statline.VALUE}</span>
						<span class="label">{pet.box_stats.statline.NAME}:</span>
					</div>
<!-- END statline -->
				</div>
<!-- END box_stats -->
			</div>

<!-- IF pet.TOTAL_TP -->
			<div class="trainingpts">{L_UNUSED_TRAINING}: {pet.UNUSED_TP} / {pet.TOTAL_TP}</div>
<!-- ENDIF -->
		</div>

<!-- END pet -->

<!-- Pet Navagation Tabs -->
		<div class="pet_tabs">
			<ul id="pet_tabs">
<!-- BEGIN pet -->
				<li {pet.TOOLTIP} style="background-image:url('{INTERFACE_URL}Interface/Icons/{pet.ICON}.{IMG_SUFFIX}');">
					<a rel="pet_{pet.ID}" class="text"></a></li>
<!-- END pet -->
			</ul>
		</div>
	</div>

	<script type="text/javascript">
		var pet_tabs=new tabcontent('pet_tabs');
		pet_tabs.init();
	</script>
<!-- ENDIF -->

<!-- IF S_PVP_TAB -->

<!-- tab5 -->
	<div id="tab5_old" class="tab5" style="display:none;">
		<div class="background">&nbsp;</div>

		<div class="honortext">{L_HONOR}:<span>{HONOR_POINTS}</span>
			<img src="{IMG_URL}icon_{FACTION_EN}.png" style="width:20px;height:20px;" alt="" />
		</div>

		<div class="today">{L_TODAY}</div>
		<div class="yesterday">{L_YESTERDAY}</div>
		<div class="lifetime">{L_LIFETIME}</div>

		<div class="divider"></div>

		<div class="killsline">{L_KILLS}</div>
		<div class="killsline1">{SESSION_HK}</div>
		<div class="killsline2">{YEST_HK}</div>
		<div class="killsline3">{LIFE_HK}</div>

		<div class="honorline">{L_HONOR}</div>
		<div class="honorline1">{SESSION_CP}</div>
		<div class="honorline2">{YEST_CP}</div>
		<div class="honorline3">-</div>

		<div class="arenatext">{L_ARENA}:<span>{ARENA_POINTS}</span><img src="{IMG_URL}arenapointsicon.png" alt="" /></div>

	</div>
<!-- ENDIF -->

</div>

<script type="text/javascript">
	var char_navagation=new tabcontent('char_navagation');
	char_navagation.init();
</script>