<!-- $Id: charbonus.html 1729 2008-03-10 03:11:00Z Zanix $ -->

<div class="char_panel" style="margin-left:20px;">
	<img src="{U_IMAGE_PATH}icon_bonuses.gif" class="panel_icon" alt="" />
	<div class="panel_title">{L_ITEM_BONUSES}</div>
	<div class="container">

<!-- BEGIN bonus -->
		<div id="{bonus.KEY}" style="display:none;">
<!-- BEGIN row -->
			<div class="membersRow{bonus.row.ROW_CLASS}" style="white-space:normal;cursor:pointer;" onmouseover="return overlib(overlib_{bonus.row.IDX},CAPTION,overlib_cap_{bonus.row.IDX},WIDTH,325,HAUTO);" onmouseout="return nd();" onclick="return overlib(overlib_{bonus.row.IDX},CAPTION,overlib_cap_{bonus.row.IDX},WIDTH,325,STICKY,OFFSETX,-5,OFFSETY,-5,HAUTO);">
				{bonus.row.VALUE}</div>
<!-- END row -->
		</div>
<!-- END bonus -->
	</div>

	<div class="tab_navagation" style="margin:428px 0 0 17px;">
		<ul id="bonus_navagation">
<!-- BEGIN bonus -->
			<li><a rel="{bonus.KEY}" class="text">{bonus.VALUE}</a></li>
<!-- END bonus -->
		</ul>
	</div>
</div>

<script type="text/javascript">
	var bonus_nav=new tabcontent('bonus_navagation');
	bonus_nav.setpersist(false);
	bonus_nav.init();
</script>
