<!-- $Id$ -->

<form method="post" action="{U_ADD_FORMACTION}" id="addcomment" style="text-align:left;">
	<input type="hidden" name="process" value="process" />
	<input type="hidden" name="type" value="newTopic" />

	<div class="tier-2-a">
		<div class="tier-2-b">
			<div class="tier-2-title">
				<div class="right"><input type="submit" value="<!-- TRANSLATE post_reply -->" /></div>
				<!-- TRANSLATE post_reply -->
			</div>

			<div class="info-text">
				<label for="author"><!-- TRANSLATE name -->:</label> {S_POSTER}
				<input name="author" id="author" type="hidden" value="{S_POSTER}" />
				<input name="author_id" id="author_id" type="hidden" value="{S_POSTER_ID}" />
			</div>
			<br />

<!-- IF S_HTML_ENABLE -->
			<div class="radioset">
				<input type="radio" id="html_on" name="html" value="1" <!-- IF S_COMMENT_HTML -->checked="checked" <!-- ENDIF -->/><label for="html_on"><!-- TRANSLATE enable_html --></label>
				<input type="radio" id="html_off" name="html" value="0" <!-- IF ! S_COMMENT_HTML -->checked="checked" <!-- ENDIF -->/><label for="html_off"><!-- TRANSLATE disable_html --></label>
			</div>
			<br />
<!-- ENDIF -->

			<textarea name="comment" id="comment" cols="94" rows="8"></textarea>
		</div>
	</div>
</form>
