
	<!-- BEGIN forums -->
	<div class="tier-1-a">
		<div class="tier-1-b">
			<div class="tier-1-c">
				<div class="tier-1-title"><a href="{forums.FORUM_URL}" >{forums.TITLE} - <i>{forums.DESC}</i></a>
				</div>

				<div class="tier-2-a">
					<div class="tier-2-b">
					
					<div class="tier-2-title">
					latest tipic: <a href="{forums.P_URL}" >{forums.P_TITLE}</a><span class="info-text" style="font-size:12px;">  {forums.POSTER}</span>
					</div>
					<div class="info-text-h">
						<div>Posts: {forums.POSTS}</div>

					</div>
		
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- END -->
	