<!-- $Id$ -->


<div class="container">

	<div class="tier-1-a">
        <div class="tier-1-b">
			<div class="tier-1-c">
				<div class="tier-1-title"><!-- TRANSLATE vault -->
      	          	<div class="links">
						<!-- BEGIN vault -->
						<a href="{vault.LINK}">
                    		<div class="icon"><img src="{vault.ICON}" /><div class="mask" {vault.TOOLTIP}></div></div>
                    	</a>
						<!-- END vault -->
					</div>                
                </div>

<!-- BEGIN vault -->
<a name="{vault.SLOT}"></a>
          		<div class="tier-2-a">
                	<div class="tier-2-b">
						<div class="tier-2-title"><div class="icon"><img src="{vault.ICON}" /><div class="mask"></div></div>{vault.NAME}</div>
<!-- BEGIN column -->
						<div class="vault-column">
<!-- BEGIN item -->
                        
							<div class="item">
								<!-- IF vault.column.item.ICON eq '' --><img src="{THEME_PATH}/images/shader.png" /><!-- ELSE --><img src="{vault.column.item.ICON}" /><!-- ENDIF -->
								<div class="mask {vault.column.item.QUALITY}" {vault.column.item.TOOLTIP}{vault.column.item.ITEMLINK}></div>
<!-- IF vault.column.item.QTY gt 1 -->
								<b>{vault.column.item.QTY}</b><span>{vault.column.item.QTY}</span>
<!-- ENDIF -->
							</div>

<!-- END item -->
						</div>
<!-- END column -->
						<div style="clear:both;"></div>
					</div>
				</div>
<!-- END vault -->
			</div>
		</div>
	</div>
</div>
