
	<div class="tier-1-a">
		<div class="tier-1-b">
			<div class="tier-1-c">
				<div class="tier-1-title">{CRUMB}</a>
				<div class="right"><!-- IF LOCKED -->{IMAGE}<!-- TRANSLATE t_lock --><!-- ELSE --><a class="input" href="{M_REPLYPOST}"><!-- TRANSLATE post_reply --></a><!-- ENDIF --></div>
				<!-- IF CANLOCK -->
				<form name="lock" method="post" enctype="multipart/form-data" action="">
					<input type="hidden" name="op" value="process" />
					<input type="hidden" name="type" value="{L_ACTIVEOP}" />
					<input type="hidden" name="id" value="{TOPIC_ID}" />
					<button type="submit" class="input" ><span class="ui-icon ui-icon-{L_ACTIVEU}"></span>{L_ACTIVET}</button>
				</form>
				<!-- ENDIF -->
				</div>
				<!-- BEGIN forums -->
				<div class="tier-2-a">
					<div class="tier-2-b" style="min-height: 85px;">
					<div class="addon-status">
							<!-- IF forums.POST_ISAV eq 0 -->
							<div class="info-text" style="text-align:right;display:block;">
								{forums.POST_USERNAME}
							</div>
							<!-- ELSE -->
							<div style="float: right;display:block;padding-right: 2px;">
								<div>{forums.POST_AVATAR}</div>
							</div>
							<!-- ENDIF -->
						</div>
						
						<div class="tier-2-title">
							{forums.POST_SUBJECT}<span class="info-text" style="font-size:12px;">  {forums.POST_TIME}</span>
						</div>
						<div class="info-text-h">
							<div>{forums.POST_TEXT}</div>
						</div>
						
					</div>
				</div>
				<!-- END forums -->
			</div>
		</div>
	</div>
