
<br />
{U_COMMENT_EDIT_B_S}

<form method="post" action="{U_EDIT_FORMACTION}" id="editcomment">
<label for="author">{L_NAME}: </label><input class="wowinput128" name="author" id="author" type="text" maxlength="16" size="16" value="{AUTHOR}" />
<br />

<!-- IF S_HTML_ENABLE -->
<input type="radio" id="html_on" name="html" value="1" <!-- IF S_COMMENT_HTML -->checked="checked" <!-- ENDIF -->/><label for="html_on">{L_ENABLE_HTML}</label>
<input type="radio" id="html_off" name="html" value="0" <!-- IF ! S_COMMENT_HTML -->checked="checked" <!-- ENDIF -->/><label for="html_off">{L_DISABLE_HTML}</label>
<br /><br />
<!-- ENDIF -->

<textarea class="input" name="comment" id="comment" cols="85" rows="20">{CONTENT}</textarea>
<input type="hidden" name="process" value="process" />
<input type="hidden" name="comment_id" value="{U_COMMENT_ID}" />
<br />
<br />
<input type="submit" value="{L_EDIT_COMMENT}" />
</form>

{U_COMMENT_EDIT_B_E}
