<!-- $Id$ -->
<form method="post" action="index.php?p=rostercp-guide" name="post">

	<div class="tier-2-a login-box">
		<div class="tier-2-b">
			<div class="tier-2-title">
				<div style="float:right;"><button type="submit"><span class="ui-icon ui-icon-key"></span> Login</button></div>
				Login to Roster-CP
			</div>
			<div class="tier-3-a">
				<div class="tier-3-b">
					<div class="right">
						<input name="username" type="text" size="30" maxlength="30" />
					</div>
					<div class="text">
						Username:
					</div>
				</div>
			</div>
			<div class="tier-3-a">
				<div class="tier-3-b">
					<div class="right">
						<input name="password" type="password" size="30" maxlength="30" />
					</div>
					<div class="text">
						Password:
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</form>
