<!-- INCLUDE install_header.html -->
<!-- IF S_SHOW_BUTTON -->
<form method="post" action="{FORMACTION}" name="post">
<input type="hidden" name="install_step" value="3" />
<!-- ENDIF -->
<table align="center" class="install_table">
	<tr>
		<th align="left" colspan="2">Locale Configuration</th>
	</tr>
	<tr>
		<td class="row2" align="right">Default Locale:</td>
		<td>
			<select name="default_lang" class="input">
			<!-- BEGIN locale_row -->
				<option value="{locale_row.VALUE}">{locale_row.OPTION}</option>
			<!-- END locale_row -->
			</select>
		</td>
	</tr>
</table>
<br />

<table align="center" class="install_table">
	<tr>
		<th align="left" colspan="2">Database Configuration</th>
	</tr>
	<tr>
		<td class="row2" align="right">Database Type:</td>
		<td>
			<select name="dbtype" class="input">
			<!-- BEGIN dbal_row -->
				<option value="{dbal_row.VALUE}">{dbal_row.OPTION}</option>
			<!-- END dbal_row -->
			</select>
		</td>
	</tr>
	<tr>
		<td class="row2" align="right">Database host:</td>
		<td><input type="text" name="dbhost" size="25" value="{DB_HOST}" class="input" /></td>
	</tr>
	<tr>
		<td class="row2" align="right">Database name:</td>
		<td><input type="text" name="dbname" size="25" value="" class="input" /></td>
	</tr>
	<tr>
		<td class="row2" align="right">Database username:</td>
		<td><input type="text" name="dbuser" size="25" value="" class="input" /></td>
	</tr>
	<tr>
		<td class="row2" align="right">Database password:</td>
		<td><input type="password" name="dbpass" size="25" value="" class="input" /></td>
	</tr>
	<tr>
		<td class="row2" align="right">Prefix for Roster tables:</td>
		<td><input type="text" name="table_prefix" size="25" value="{TABLE_PREFIX}" class="input" /></td>
	</tr>
	<tr>
		<td class="row2" align="right">Main Site URL Link:</td>
		<td><input type="text" name="server_name" size="40" value="{SERVER_NAME}" class="input" /></td>
	</tr>
</table>
<br />

<!-- IF S_SHOW_BUTTON -->
<div align="center"><input type="submit" name="submit" value="Proceed" class="submit" /></div>
</form>
<!-- ENDIF -->
<!-- INCLUDE install_tail.html -->
