<!-- $Id$ -->
<form method="post" action="index.php?p=rostercp" name="post">
<table align="center" class="install_table">
	<tr>
		<th colspan="2" align="center">Login to RosterCP</th>
	</tr>
	<tr>
		<td width="40" >Password:</td>
		<td width="100"><input type="password" name="password" size="20" maxlength="32" class="input" /></td>
	</tr>
	<tr>
		<td class="data_header" colspan="2" align="center"><input type="submit" name="login" value="Login" class="submit" /></td>
	</tr>
</table>
<br />

</form>
