<!-- $Id$ -->



	<div class="container">
		<div class="box-label">
			<div class="icon"><img src="{bag.ICON}" /><div class="mask" {bag.TOOLTIP}{bag.LINKTIP}></div></div>
			<!-- TRANSLATE equiped_gear -->
		</div>
        <div class="inner">
<!-- BEGIN equipment -->
		<div class="item">
            <!-- IF equipment.ICON eq '' --><img src="{THEME_PATH}/images/shader.png" /><!-- ELSE --><img src="{equipment.ICON}" /><!-- ENDIF -->
            <div class="mask {equipment.QUALITY}" {equipment.TOOLTIP}{equipment.ITEMLINK}></div>
<!-- IF equipment.QTY gt 1 -->
					<b>{equipment.QTY}</b>
					<span>{equipment.QTY}</span>
<!-- ENDIF -->
				</div>
<!-- END equipment -->
			<div style="clear:both;"></div>
        </div>
	</div>


<!-- BEGIN bag -->
	<div class="container">
		<div class="box-label">
			<div class="icon"><img src="{bag.ICON}" /><div class="mask" {bag.TOOLTIP}{bag.LINKTIP}></div></div>
			{bag.NAME}
		</div>
        <div class="inner">
<!-- BEGIN item -->
		<div class="item">
			<!-- IF bag.item.ICON eq '' --><img src="{THEME_PATH}/images/shader.png" /><!-- ELSE --><img src="{bag.item.ICON}" /><!-- ENDIF -->
            <div class="mask {bag.item.QUALITY}" {bag.item.TOOLTIP}{bag.item.ITEMLINK}></div>
<!-- IF bag.item.QTY gt 1 -->
			<b>{bag.item.QTY}</b><span>{bag.item.QTY}</span>
<!-- ENDIF -->
		</div>
<!-- END item -->
			<div style="clear:both;"></div>
        </div>
	</div>
<!-- END bag -->

<br style="clear:both;" />
