<!-- $Id$ -->

<!-- BEGIN equipment -->
					<div class="equip_{equipment.SLOT}">
						<img src="{equipment.ICON}" class="icon<!-- IF equipment.S_AMMO -->small<!-- ENDIF -->" alt="" />
						<div class="item" {equipment.TOOLTIP}{equipment.ITEMLINK}>
<!-- IF equipment.QTY gt 1 -->
							<b>{equipment.QTY}</b>
							<span>{equipment.QTY}</span>
<!-- ENDIF -->
						</div>
					</div>
<!-- END equipment -->

<br style="clear:both;" />

<!-- BEGIN bag -->
	<div class="container">
		<div class="box-label">
			<div class="icon"><img src="{INTERFACE_URL}Interface/Icons/{bag.ICON}.{IMG_SUFFIX}" /><div class="mask" {bag.TOOLTIP}{bag.LINKTIP}></div></div>
			{bag.NAME}
		</div>
        <div class="inner">
<!-- BEGIN item -->
		<div class="item">
			<img src="{bag.item.ICON}" />
            <div class="mask" {bag.item.TOOLTIP}{bag.item.ITEMLINK}></div>
<!-- IF bag.item.QTY gt 1 -->
			<b>{bag.item.QTY}</b><span>{bag.item.QTY}</span>
<!-- ENDIF -->
		</div>
<!-- END item -->
			<div style="clear:both;"></div>
        </div>
	</div>
<!-- END bag -->
