.checkBox {
	border:0;
	color:#FFFFFF;
	font:10px Verdana, Arial;
	background-color:transparent;
}

.checkboxOff {
	display:inline;
	margin:0;
	padding:2px; /* NS 6 problem */
	padding-left:20px;
	line-height:16px;
	background-image:url('../img/check_off.png');
	background-repeat:no-repeat;
	background-position:0% 50%;
	border:0;
}
/* On state for a ARC checkbox */
.checkboxOn {
	display:inline;
	margin:0;
	padding:2px; /* NS 6 problem */
	padding-left:20px;
	line-height:16px;
	background-image:url('../img/check_on.png');
	background-repeat:no-repeat;
	background-position:0% 50%;
	border:0;
}
/* Off state for a ARC radio button */
.radioOff {
	display:inline;
	margin:0;
	padding:2px;
	padding-left:15px;
	background:transparent url('../img/radio_off.png') no-repeat 0% 50%;
}
/* On state for a ARC radio button */
.radioOn {
	display:inline;
	margin:0px;
	padding:2px; /* NS 6 problem */
	padding-left:15px;
	background: transparent url('../img/radio_on.png') no-repeat 0% 50%;
}
/* use CSS to full effect with hover states. Ohhh, perty! */
.checkboxOn:hover {
	background-image: url('../img/check_on_hover.png');
}
.checkboxOff:hover {
	background-image: url('../img/check_off_hover.png');
}
.radioOn:hover {
	background-image: url('../img/radio_hover.png');
}
.radioOff:hover {
	background-image: url('../img/radio_hover.png');
}

.wowinput {
	border:none;
	vertical-align:middle;
	width:246px;
	height:20px;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	background-color:transparent;
	background:url('../img/searchbox.png') no-repeat;
}
.wowinput192 {
	border:none;
	vertical-align:middle;
	width:182px;
	height:20px;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	background-color:transparent;
	background:url('../img/searchbox192.png') no-repeat;
}
.wowinput128 {
	border:none;
	vertical-align:middle;
	width:118px;
	height:20px;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	background-color:transparent;
	background:url('../img/searchbox128.png') no-repeat;
}
.wowinput64 {
	border:none;
	vertical-align:middle;
	width:54px;
	height:20px;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	background-color:transparent;
	background:url('../img/searchbox64.png') no-repeat;
}
select {
	border:1px solid #CBA300;
	font-size:10px;
	color:#FFFFFF;
	font-family:Verdana, Arial;
	background-color:#202020;
}