<!-- $Id$ -->

{MESSAGE}
<br />

<form action="{U_MAKELINK}" method="post" enctype="multipart/form-data" id="conf_change_pass" name="conf_change_pass" onsubmit="return confirm('<!-- TRANSLATE config_reset_confirm -->') &amp;&amp; submitonce(this);">

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sredborder">
			<div class="header_text sredborder"><!-- TRANSLATE pagebar_configreset --></div>

			<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="membersRowRight1" colspan="2"><div style="white-space:normal;"><!-- TRANSLATE config_reset_help --></div></td>
				</tr>
				<tr>
					<td class="membersRow2"><!-- TRANSLATE config_reset_confirm --></td>
					<td class="membersRowRight2"><label for="doit"></label><input type="checkbox" id="doit" name="doit" value="doit" /></td>
				</tr>
				<tr>
					<td colspan="2" class="membersRowRight1" valign="bottom"><div align="center">
							<input type="submit" value="<!-- TRANSLATE proceed -->" /></div></td>
				</tr>
			</table>

		</td>
	</tr>
</table>
</form>
