<!-- $Id$ -->



<!-- IF S_RESPONSE -->

<table class="border_frame" cellpadding="0" cellspacing="1" style="width:550px;">
	<tr>
		<td class="border_color sredborder">
				{RESPONSE}
		</td>
	</tr>
</table>

<br />
<!-- ENDIF -->



<table class="border_frame" cellpadding="0" cellspacing="1" style="width:550px;">
	<tr>
		<td class="border_color syellowborder" colspan="2">
			<div class="header_text syellowborder"><!-- TRANSLATE classes --></div>
		</td>
	</tr>
		<!-- BEGIN classes --> 
	<form action="{classes.UPDATELINK}" method="post" id="update">
	<tr>
		<td class="membersRow2">
				
			
			<input type="hidden" name="class_id" value="{classes.ID}" />
			<input type="hidden" name="process" value="process" />
			{classes.NAME} ({classes.ID})
		</td>
		<td class="membersRow2">
			<button type="submit" class="input"><!-- TRANSLATE update --></button>
		</td>
	</tr>
	</form>
				<!-- END classes -->
</table>

