<!-- $Id$ -->

<div class="tier-3-a">
	<div class="tier-3-b">
		<div class="text">
			<span class="ui-icon ui-icon-help" style="cursor:help;" {L_ENFORCE_RULES_HELP}></span>
			<!-- TRANSLATE enforce_rules -->
			<form action="{U_MAKELINK}" method="post" id="enforce" style="display:inline;">
				<input type="hidden" name="action" value="enforce" />
				<input type="hidden" name="process" value="process" />
				<select name="enforce">
					<option value="0"<!-- IF S_ENFORCE_RULES eq '0' --> selected="selected"<!-- ENDIF -->><!-- TRANSLATE enforce_rules_never --></option>
					<option value="1"<!-- IF S_ENFORCE_RULES eq '1' --> selected="selected"<!-- ENDIF -->><!-- TRANSLATE enforce_rules_all --></option>
					<option value="2"<!-- IF S_ENFORCE_RULES eq '2' --> selected="selected"<!-- ENDIF -->><!-- TRANSLATE enforce_rules_cp --></option>
					<option value="3"<!-- IF S_ENFORCE_RULES eq '3' --> selected="selected"<!-- ENDIF -->><!-- TRANSLATE enforce_rules_gp --></option>
				</select>
				<input type="submit" value="Go" />
			</form>
		</div>
	</div>
</div>

<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title"><!-- TRANSLATE disallow --></div>

		<form action="{U_MAKELINK}" method="post" id="deny">
			<input type="hidden" id="denyhide" name="action" value="" />
			<input type="hidden" name="process" value="process" />
			<input type="hidden" name="block" value="disallow" />

			<table class="border_frame" cellpadding="0" cellspacing="1" style="width:100%;">
				<thead>
					<tr>
						<th class="membersHeader" {L_NAME_TIP}><!-- TRANSLATE name --></th>
						<th class="membersHeader" {L_SERVER_TIP}><!-- TRANSLATE server --></th>
						<th class="membersHeader" {L_REGION_TIP}><!-- TRANSLATE region --></th>
						<th class="membersHeaderRight">&nbsp;</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td class="membersRow2"><input type="text" name="value" value="" /></td>
						<td class="membersRow2"><input type="text" name="server" value="" /></td>
						<td class="membersRow2"><input type="text" name="region" value="" maxlength="2" /></td>
						<td class="membersRowRight2"><button type="submit" class="input" onclick="setvalue('denyhide','add');"><!-- TRANSLATE add --></button></td>
					</tr>
				</tfoot>
				<tbody>
				<!-- BEGIN deny_list -->
					<tr>
						<td class="membersRow1">{deny_list.NAME}</td>
						<td class="membersRow1">{deny_list.SERVER}</td>
						<td class="membersRow1">{deny_list.REGION}</td>
						<td class="membersRowRight1"><button type="submit" class="input" onclick="setvalue('denyhide','del_{deny_list.ID}');"><!-- TRANSLATE delete --></button></td>
					</tr>
				<!-- END deny_list -->
				</tbody>
			</table>

		</form>

	</div>
</div>


<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title"><!-- TRANSLATE allow --></div>

		<form action="{U_MAKELINK}" method="post" id="allow">
			<input type="hidden" id="allowhide" name="action" value="" />
			<input type="hidden" name="process" value="process" />
			<input type="hidden" name="block" value="allow" />

			<table class="border_frame" cellpadding="0" cellspacing="1" style="width:100%;">
				<thead>
					<tr><!-- IF MODE eq 'guild' -->
						<th class="membersHeader"><!-- TRANSLATE default --></th><!-- ENDIF -->
						<th class="membersHeader" {L_NAME_TIP}><!-- TRANSLATE name --></th>
						<th class="membersHeader" {L_SERVER_TIP}><!-- TRANSLATE server --></th>
						<th class="membersHeader" {L_REGION_TIP}><!-- TRANSLATE region --></th>
						<th class="membersHeaderRight">&nbsp;</th>
					</tr>
				</thead>
				<tfoot>
					<tr><!-- IF MODE eq 'guild' -->
						<td class="membersRow2" style="text-align:center;"><label for="defaultchk">&nbsp;</label>
							<input type="checkbox" name="defaultchk" id="defaultchk" value="1" <!-- IF S_EXISTING_DATA neq '1' --> checked="checked"<!-- ENDIF --> /></td><!-- ENDIF -->
						<td class="membersRow2"><input type="text" name="value" value="" /></td>
						<td class="membersRow2"><input type="text" name="server" value="" /></td>
						<td class="membersRow2"><input type="text" name="region" value="" maxlength="2" /></td>
						<td class="membersRowRight2"><button type="submit" class="input" onclick="setvalue('allowhide','add');"><!-- TRANSLATE add --></button></td>
					</tr>
				</tfoot>
				<tbody>
<!-- BEGIN allow_list -->
					<tr>
						<!-- IF MODE eq 'guild' -->
						<td class="membersRow1" style="text-align:center;"><!-- IF allow_list.DEFAULT --><button disabled="disabled"><span class="ui-icon ui-icon-check"></span></button>
							<!-- ELSE --><button type="submit" class="button_hide" onclick="setvalue('allowhide','default_{allow_list.ID}');"><span class="ui-icon ui-icon-radio-off"></span></button><!-- ENDIF --></td>
						<!-- ENDIF -->
						<td class="membersRow1">{allow_list.NAME}</td>
						<td class="membersRow1">{allow_list.SERVER}</td>
						<td class="membersRow1">{allow_list.REGION}</td>
						<td class="membersRowRight1"><button type="submit" class="input" onclick="setvalue('allowhide','del_{allow_list.ID}');"><!-- TRANSLATE delete --></button></td>
					</tr>
<!-- END allow_list -->
				</tbody>
			</table>

		</form>
	</div>
</div>


<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title"><!-- TRANSLATE pagebar_uploadrules --></div>
		<div class="info-text-h">
<!-- TRANSLATE upload_rules_help -->
		</div>
	</div>
</div>
