<table id="homepage" cellspacing="0" cellpadding="0" align="center">
	<tr>
	<td style="BORDER: #e4cda4 1px solid;">
	<div id="left">
	
	
		<div id="slideshow" class="ui-slideshow">
			<div class="slideshow">
				<!-- BEGIN banners -->
				<div style="BACKGROUND-IMAGE: url({banners.B_IMAGE}); <!-- IF banners.B_NUM eq "1" -->"<!-- ELSE -->DISPLAY: none"<!-- ENDIF --> id="slide-{banners.B_NUM}" class="slide"></div>
				<!-- END banners -->
			</div>

			<div class="paging">
				<!-- BEGIN banners -->
				<a id="paging-{banners.B_NUMX}" <!-- IF banners.B_NUM eq banners.B_TOTAL -->class=" last-slide" <!-- ENDIF --><!-- IF banners.B_NUM eq "1" -->class="current" <!-- ENDIF -->onmouseover="Slideshow.preview({banners.B_NUMX});" onclick="Slideshow.jump({banners.B_NUMX}, this);" href="javascript:;" name="paging-{banners.B_NUMX}"></a> 
				<!-- END banners -->
			</div>

			<div class="caption">
				<h3><a href="#" class="link">{FIRST1}</a></h3>
				{FIRST2}
			</div>

			<div class="preview"></div>
			<div class="mask"></div>
		</div>
		<script type="text/javascript">
//<![CDATA[
			$(function() {
			Slideshow.initialize('#slideshow', [
			<!-- BEGIN banners -->
			{
					image: "{banners.B_IMAGE}",
					desc: "{banners.B_DESC}",
					title: "{banners.B_TITLE}",
					url: "{banners.B_URL}",
					id: "{banners.B_ID}"
			}<!-- IF banners.B_END --> <!-- ELSE -->,<!-- ENDIF -->
			<!-- END banners -->
			
			]);

			});
			//]]>
		</script>

		<div class="homepage-news-wrapper">
			<div id="news-updates">
			<br>
			<!-- IF S_ADD_NEWS -->
				<div class="right"><a class="input" href="{U_ADD_NEWS}"><!-- TRANSLATE add_news --></a></div>
			<!-- ENDIF -->
			<br />
			<!-- BEGIN news -->
			<div class="tier-2-a" >
				<div class="tier-2-b" >
					<div class="tier-2-title">
						<div class="icon">
							<img src="{INTERFACE_URL}Interface/Icons/inv_misc_note_02.{IMG_SUFFIX}" alt="" />
							<div class="mask"></div>
						</div>
						{news.TITLE}
						<!-- IF S_EDIT_NEWS -->
							<div class="right"><a class="input" href="{news.U_EDIT}"><!-- TRANSLATE edit --></a></div>
						<!-- ENDIF -->
					</div>
					<div class="tier-2-aa">
						<div class="article-right">
							<div class="article-summary">
								<p>
									{news.TEXT}
								</p>
							</div>
						</div>
						<span class="clear"></span>
					</div>
					<div class="tier-3-a">
						<div class="tier-3-b">
							<div class="config">
								<div class="config-name"><!-- TRANSLATE posted_by -->: {news.POSTER} <span class="spacer"> - </span> {news.DATE}</div>
								<div class="config-input"><a href="{news.U_COMMENT}">{news.L_COMMENT}</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- END news -->
			</div>
		</div>
	</div>
	</td>
	<td valign="top" height="100%" class="mybackground">
	<div id="right" class="right-side">

	<!-- BEGIN right -->
		
		<div class="tier-2-a" >
				<div class="tier-2-b" >
					<div class="tier-2-title">
						<div class="icon">
							<img src="{INTERFACE_URL}Interface/Icons/{right.ICON}.{IMG_SUFFIX}" alt="" />
							<div class="mask"></div>
						</div>
						{right.BLOCKNAME}
					</div>
					<div class="tier-2-aa">
						<div class="article-right">
							<div class="info-text-h">
									{right.BLOCK_DATA}
							</div>
						</div>
					</div>
				</div>
			</div>
			
	<!-- END right -->
	</div>
	</td>
	</tr>
</table>



							
									
						