<!-- $Id$ -->

<span class="title_text">{ROSTERCP_TITLE}</span>
<br />

<!-- IF ROSTERCP_MESSAGE -->{ROSTERCP_MESSAGE}<br /><!-- ENDIF -->

{HEADER}

<table width="100%">
	<tr>
		<td valign="top" align="left" width="15%">{MENU}</td>
		<td valign="top" align="center" width="70%">{BODY}</td>
		<td valign="top" align="right" width="15%">

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgrayborder">
			<div class="header_text sgrayborder">{L_FUNCTION}</div>

			<ul class="tab_menu">
			<!-- BEGIN pagebar -->
				<!-- IF pagebar.SPECIAL eq 'divider' --><li><hr /></li><!-- ELSE --><li<!-- IF pagebar.SELECTED --> class="selected"<!-- ENDIF -->><a href="{pagebar.LINK}">{pagebar.NAME}</a></li><!-- ENDIF -->
			<!-- END pagebar -->
			</ul>

		</td>
	</tr>
</table>

<!-- IF ADDON_PAGEBAR -->

<br />

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgrayborder">
			<div class="header_text sgrayborder">{L_ADDON_CONF}</div>

			<ul class="tab_menu">
			<!-- BEGIN addon_pagebar -->
				<li<!-- IF addon_pagebar.SELECTED --> class="selected"<!-- ENDIF -->><a href="{addon_pagebar.LINK}">{addon_pagebar.NAME}</a></li>
			<!-- END addon_pagebar -->
			</ul>

		</td>
	</tr>
</table>

<!-- ENDIF -->

<br />
		{PAGEBAR}</td>
	</tr>
</table>

{FOOTER}
