<!-- $Id: questlist.html 1707 2008-02-28 07:40:43Z Zanix $ -->


<table class="border_frame" cellpadding="0" cellspacing="1" style="width:60%;">
	<tr>
		<td class="border_color sgrayborder">
			<div class="header_text sgrayborder">{L_QUEST_LIST}</div>

			{L_QUEST_LIST_HELP}
			<br /><br />
			<form action="{U_MAKELINK}" method="get">
				<strong>{L_SEARCH_ZONE}</strong>
				<br />
				<select name="zoneid" onchange="window.location.href=this.options[this.selectedIndex].value">
					<option value="">----------</option>

			<!-- BEGIN zone_list -->
					<option value="{zone_list.VALUE}"<!-- IF zone_list.SELECTED --> selected="selected"<!-- ENDIF -->>{zone_list.NAME}</option>
			<!-- END zone_list -->

				</select>
				<br /><br />
				<strong>{L_SEARCH_QUEST}</strong>
				<br />
				<select name="questid" onchange="window.location.href=this.options[this.selectedIndex].value">
					<option value="">----------</option>

			<!-- BEGIN quest_name_list -->
					<option value="{quest_name_list.VALUE}"<!-- IF quest_name_list.SELECTED --> selected="selected"<!-- ENDIF -->>{quest_name_list.NAME}</option>
			<!-- END quest_name_list -->

				</select>
			</form>
			<br />

		</td>
	</tr>
</table>

<!-- IF S_SHOW -->
<br />

<table class="border_frame" cellpadding="0" cellspacing="1" style="width:300px;">
	<tr>
		<td class="border_color syellowborder">
			<div class="header_text syellowborder">{ZONE_NAME}</div>

			<table cellpadding="0" cellspacing="0" width="100%">
<!-- BEGIN quests -->
				<tr>
					<th class="membersHeaderRight"><a href="#"{quests.TOOLTIP}>[{quests.LEVEL}] {quests.NAME}</a></th>
				</tr>

			<!-- BEGIN members -->
				<tr>
					<td class="membersRowRight1"><span style="float:right;">{quests.members.TAGS}</span>
						&lt;{quests.members.LEVEL}&gt; <!-- IF S_INFO_ADDON --><a href="{quests.members.LINK}">{quests.members.NAME}</a><!-- ELSE -->{quests.members.NAME}<!-- ENDIF --></td>
				</tr>
			<!-- END members -->

<!-- END quests -->
			</table>

		</td>
	</tr>
</table>
<!-- ENDIF -->
