<!-- $Id$ -->

<div class="roster-panel">
	<div class="container">

		<div class="tier-1-a" style="margin-top: 5px;">
			<div class="tier-1-b">
				<div class="tier-1-c exp-content">

					<div class="tier-1-title">
						<div class="icon">
							<img src="{INTERFACE_URL}Interface/Icons/inv_misc_gear_02.{IMG_SUFFIX}" alt="" />
							<div class="mask"></div>
						</div>
						{PAGE_INFO}
					</div>

<!-- IF MENU neq '' -->
					<div class="config-menu">
{MENU}
					</div>
					<div class="config-body-menu">
<!-- ELSE -->
					<div class="config-body">
<!-- ENDIF -->
{BODY}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
