<!-- $Id: char.html 1722 2008-03-07 01:44:58Z Zanix $ -->

<!-- IF S_SUMMARY -->
<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgrayborder">
			<div class="header_text sgrayborder">{LOG_TITLE}</div>

			<table class="bodyline" width="280" cellspacing="0">
				<tr>
					<td class="membersRow2" width="200">{L_TOTAL_WINS}</td>
					<td class="membersRowRight2" width="80">{SUM_TOTAL_WINS}</td>
				</tr>
				<tr>
					<td class="membersRow1" width="200">{L_TOTAL_LOSSES}</td>
					<td class="membersRowRight1" width="80">{SUM_TOTAL_LOSSES}</td>
				</tr>
				<tr>
					<td class="membersRow2" width="200">{L_TOTAL_OVERALL}</td>
					<td class="membersRowRight2" width="80">{SUM_TOTAL_OVERALL} ({SUM_TOTAL_OVERALL_PERC}%)</td>
				</tr>
				<tr>
					<td class="membersRow1" width="200">{L_WIN_AVERAGE}</td>
					<td class="membersRowRight1" width="80">{SUM_WIN_AVERAGE}</td>
				</tr>
				<tr>
					<td class="membersRow2" width="200">{L_LOSS_AVERAGE}</td>
					<td class="membersRowRight2" width="80">{SUM_LOSS_AVERAGE}</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<br /><br />
<!-- ENDIF -->


<!-- IF S_BG -->
<!-- BEGIN bg_log_summary -->
<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color {bg_log_summary.COLOR}border">
			<div class="header_text {bg_log_summary.COLOR}border">
				<div style="cursor:pointer;width:{bg_log_summary.WIDTH};" onclick="showHide('{bg_log_summary.ID}','img_{bg_log_summary.ID}','{THEME_PATH}/images/minus.gif','{THEME_PATH}/images/plus.gif');">
					<img style="float:right;" id="img_{bg_log_summary.ID}" src="{THEME_PATH}/images/<!-- IF bg_log_summary.S_HIDE -->plus<!-- ELSE -->minus<!-- ENDIF -->.gif" alt="" />
					{bg_log_summary.L_HEADER}
				</div>
			</div>

			<table id="{bg_log_summary.ID}" cellpadding="0" cellspacing="0" style="width:100%;<!-- IF bg_log_summary.S_HIDE -->display:none;<!-- ENDIF -->">
				<tr>
					<td class="membersRow2">{L_WINS}</td>
					<td class="membersRowRight2" style="white-space:normal;">{bg_log_summary.WINS}</td>
				</tr>
				<tr>
					<td class="membersRow1">{L_LOSSES}</td>
					<td class="membersRowRight1" style="white-space:normal;">{bg_log_summary.LOSSES}</td>
				</tr>
				<tr>
					<td class="membersRow2">{L_OVERALL}</td>
					<td class="membersRowRight2" style="white-space:normal;">{bg_log_summary.OVERALL} ({bg_log_summary.OVERALL_PERC}%)</td>
				</tr>
				<tr>
					<td class="membersRow1">{L_WIN_AVERAGE}</td>
					<td class="membersRowRight1" style="white-space:normal;">{bg_log_summary.WIN_AVERAGE}</td>
				</tr>
				<tr>
					<td class="membersRow2">{L_LOSS_AVERAGE}</td>
					<td class="membersRowRight2" style="white-space:normal;">{bg_log_summary.LOSS_AVERAGE}</td>
				</tr>
				<tr>
					<td class="membersRow1">{L_BEST_SUB_ZONE}</td>
					<td class="membersRowRight1" style="white-space:normal;">{bg_log_summary.BEST_SUB_ZONE} ({bg_log_summary.BEST_SUB_ZONE_NUM})</td>
				</tr>
				<tr>
					<td class="membersRow2">{L_WORST_SUB_ZONE}</td>
					<td class="membersRowRight2" style="white-space:normal;">{bg_log_summary.WORST_SUB_ZONE} ({bg_log_summary.WORST_SUB_ZONE_NUM})</td>
				</tr>
				<tr>
					<td class="membersRow1">{L_KILLED_MOST}</td>
					<td class="membersRowRight1" style="white-space:normal;">{bg_log_summary.KILLED_MOST_CLASS_ICON} {bg_log_summary.KILLED_MOST} ({bg_log_summary.KILLED_MOST_KILLS})</td>
				</tr>
				<tr>
					<td class="membersRow2">{L_KILLED_MOST_BY}</td>
					<td class="membersRowRight2" style="white-space:normal;">{bg_log_summary.KILLED_MOST_BY_CLASS_ICON} {bg_log_summary.KILLED_MOST_BY} ({bg_log_summary.KILLED_MOST_BY_KILLS})</td>
				</tr>
				<tr>
					<td class="membersRow1">{L_GUILD_KILLED_MOST}</td>
					<td class="membersRowRight1" style="white-space:normal;">{bg_log_summary.GUILD_KILLED_MOST} ({bg_log_summary.GUILD_KILLED_MOST_KILLS})</td>
				</tr>
				<tr>
					<td class="membersRow2">{L_GUILD_KILLED_MOST_BY}</td>
					<td class="membersRowRight2" style="white-space:normal;">{bg_log_summary.GUILD_KILLED_MOST_BY} ({bg_log_summary.GUILD_KILLED_MOST_BY_KILLS})</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<br />
<!-- END bg_log_summary -->
<!-- ENDIF -->


<!-- IF S_DUEL -->
<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sblueborder">
			<div class="header_text sblueborder">{L_DUEL_SUMMARY}</div>

			<table cellpadding="0" cellspacing="0" style="width:400px;">
				<tr>
					<th width="20%" class="membersHeader">&nbsp;</th>
					<th width="40%" class="membersHeader">{L_KILLED_MOST}</th>
					<th width="40%" class="membersHeaderRight">{L_KILLED_MOST_BY}</th>
				</tr>
				<tr>
					<td class="membersRow1">{L_NAME}</td>
					<td class="membersRow1">{DUEL_K_CLASS_ICON}{DUEL_K_NAME}</td>
					<td class="membersRowRight1">{DUEL_KB_CLASS_ICON}{DUEL_KB_NAME}</td>
				</tr>
				<tr>
					<td class="membersRow2">{L_RACE}</td>
					<td class="membersRow2">{DUEL_K_RACE}</td>
					<td class="membersRowRight2">{DUEL_KB_RACE}</td>
				</tr>
				<tr>
					<td class="membersRow1">{L_KILLS}</td>
					<td class="membersRow1">{DUEL_K_COUNT}</td>
					<td class="membersRowRight1">{DUEL_KB_COUNT}</td>
				</tr>
				<tr>
					<td class="membersRow2">{L_GUILD}</td>
					<td class="membersRow2">{DUEL_K_GUILD}</td>
					<td class="membersRowRight2">{DUEL_KB_GUILD}</td>
				</tr>
				<tr>
					<td class="membersRow1">{L_LEVELDIFF}</td>
					<td class="membersRow1">{DUEL_K_DIFF}</td>
					<td class="membersRowRight1">{DUEL_KB_DIFF}</td>
				</tr>
			</table>

		</td>
	</tr>
</table>
<br />
<!-- ENDIF -->


<!-- IF S_PVP -->
<table class="border_frame" cellpadding="0" cellspacing="1" style="width:400px;">
	<tr>
		<td class="border_color sgreenborder">
			<div class="header_text sgreenborder">{L_WORLD_PVP}</div>

			<table cellpadding="0" cellspacing="0" style="width:100%;">
				<tr>
					<th width="10%" class="membersHeader"><div align="center">{L_WIN} %</div></th>
					<th width="45%" class="membersHeader"><div align="center">{L_BEST_ZONE}</div></th>
					<th width="45%" class="membersHeaderRight"><div align="center">{L_WORST_ZONE}</div></th>
				</tr>
				<tr>
					<td class="membersRow1"><div align="center">{PVP_WORLD_PVP_PERC} %</div></td>
					<td class="membersRow1"><div align="center">{PVP_WORLD_BEST_ZONE}</div></td>
					<td class="membersRowRight1"><div align="center">{PVP_WORLD_WORST_ZONE}</div></td>
				</tr>
			</table>

		</td>
	</tr>
</table>
<br />

<table class="border_frame" cellpadding="0" cellspacing="1" style="width:400px;">
	<tr>
		<td class="border_color syellowborder">
			<div class="header_text syellowborder">{L_VS_GUILDS}</div>

			<table cellpadding="0" cellspacing="0" style="width:100%;">
				<tr>
					<th width="50%" class="membersHeader"><div align="center">{L_KILLED_MOST}</div></th>
					<th width="50%" class="membersHeaderRight"><div align="center">{L_KILLED_MOST_BY}</div></th>
				</tr>
				<tr>
					<td class="membersRow1"><div align="center">{PVP_GUILD_BEST_ZONE}</div></td>
					<td class="membersRowRight1"><div align="center">{PVP_GUILD_WORST_ZONE}</div></td>
				</tr>
			</table>

		</td>
	</tr>
</table>
<br />

<table class="border_frame" cellpadding="0" cellspacing="1" style="width:400px;">
	<tr>
		<td class="border_color sblueborder">
			<div class="header_text sblueborder">{L_VS_PLAYERS}</div>

			<table cellpadding="0" cellspacing="0" style="width:400px;">
				<tr>
					<th width="20%" class="membersHeader">&nbsp;</th>
					<th width="40%" class="membersHeader">{L_KILLED_MOST}</th>
					<th width="40%" class="membersHeaderRight">{L_KILLED_MOST_BY}</th>
				</tr>
				<tr>
					<td class="membersRow1">{L_NAME}</td>
					<td class="membersRow1">{PVP_K_CLASS_ICON}{PVP_K_NAME}</td>
					<td class="membersRowRight1">{PVP_KB_CLASS_ICON}{PVP_KB_NAME}</td>
				</tr>
				<tr>
					<td class="membersRow2">{L_RACE}</td>
					<td class="membersRow2">{PVP_K_RACE}</td>
					<td class="membersRowRight2">{PVP_KB_RACE}</td>
				</tr>
				<tr>
					<td class="membersRow1">{L_KILLS}</td>
					<td class="membersRow1">{PVP_K_COUNT}</td>
					<td class="membersRowRight1">{PVP_KB_COUNT}</td>
				</tr>
				<tr>
					<td class="membersRow2">{L_GUILD}</td>
					<td class="membersRow2">{PVP_K_GUILD}</td>
					<td class="membersRowRight2">{PVP_KB_GUILD}</td>
				</tr>
				<tr>
					<td class="membersRow1">{L_LEVELDIFF}</td>
					<td class="membersRow1">{PVP_K_DIFF}</td>
					<td class="membersRowRight1">{PVP_KB_DIFF}</td>
				</tr>
			</table>

		</td>
	</tr>
</table>
<br />
<!-- ENDIF -->


<!-- IF S_SHOW_LOG -->
<br /><br />

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgrayborder">
			<div class="header_text sgrayborder">{PREV}{L_LOG}{LISTING}{NEXT}</div>

			<table cellspacing="0" cellpadding="0" style="width:100%;">
				<tr>
					<th class="membersHeader"><a href="{U_WHEN}">{L_WHEN}</a></th>
					<th class="membersHeader"><a href="{U_CLASS}">{L_CLASS}</a> /
						<a href="{U_NAME}">{L_NAME}</a></th>
					<th class="membersHeader"><a href="{U_RACE}">{L_RACE}</a></th>
					<th class="membersHeader"><a href="{U_RANK}">{L_RANK}</a></th>
					<th class="membersHeader"><a href="{U_GUILD}">{L_GUILD}</a></th>
					<th class="membersHeader"><a href="{U_REALM}">{L_REALM}</a></th>
					<th class="membersHeader"><a href="{U_LEVELDIFF}">{L_LEVELDIFF}</a></th>
					<th class="membersHeader"><a href="{U_WIN}">{L_WIN}</a></th>
					<!-- IF S_DUEL --><!-- ELSE --><th class="membersHeader"><a href="{U_HONOR}">{L_HONOR}</a></th><!-- ENDIF -->
					<th class="membersHeader"><a href="{U_ZONE}">{L_ZONE}</a></th>
					<th class="membersHeaderRight"><a href="{U_SUBZONE}">{L_SUBZONE}</a></th>
				</tr>

				<!-- BEGIN log_row -->
				<tr>
					<td class="membersRow{log_row.ROW_CLASS}">{log_row.DATE}</td>
					<td class="membersRow{log_row.ROW_CLASS}">{log_row.CLASS_ICON}{log_row.NAME}</td>
					<td class="membersRow{log_row.ROW_CLASS}">{log_row.RACE}</td>
					<td class="membersRow{log_row.ROW_CLASS}">{log_row.RANK}</td>
					<td class="membersRow{log_row.ROW_CLASS}">{log_row.GUILD}</td>
					<td class="membersRow{log_row.ROW_CLASS}">{log_row.REALM}</td>
					<td class="membersRow{log_row.ROW_CLASS}"><span class="{log_row.DIFF_COLOR}">{log_row.DIFF}</span></td>
					<td class="membersRow{log_row.ROW_CLASS}"><!-- IF log_row.WIN --><img class="membersRowimg" alt="{L_WIN}" src="{IMG_URL}pvp-win.gif" /><!-- ELSE --><img class="membersRowimg" alt="{L_LOSS}" src="{IMG_URL}pvp-loss.gif" /><!-- ENDIF --></td>
					<!-- IF S_DUEL --><!-- ELSE --><td class="membersRow{log_row.ROW_CLASS}">{log_row.HONOR}</td><!-- ENDIF -->
					<td class="membersRow{log_row.ROW_CLASS}">{log_row.ZONE}</td>
					<td class="membersRowRight{log_row.ROW_CLASS}">{log_row.SUBZONE}</td>
				</tr>
				<!-- END log_row -->

			</table>
		</td>
	</tr>
</table>

<br />

{PREV}{LISTING}{NEXT}

<!-- ELSE -->
<span class="title_text">No Data</span>
<br />
<!-- ENDIF -->
