<!-- $Id$ -->

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgrayborder">
			<div class="header_text sgrayborder">{L_QUESTLOG} <!-- IF S_QUESTS gt 0 -->({S_QUESTS}/{S_MAXQUESTS})<!-- ENDIF --></div>

			<table cellpadding="0" cellspacing="0" class="bodyline">

<!-- BEGIN zone -->

				<tr>
					<th colspan="2" class="membersHeaderRight">{zone.NAME}</th>
				</tr>

<!-- BEGIN quest -->

				<tr>
					<td class="membersRow1"><span class="{zone.quest.COLOR}">[{zone.quest.LEVEL}] {zone.quest.NAME}</span>
						<!-- IF zone.quest.DAILY -->({L_DAILY})<!-- ENDIF -->
						<!-- IF zone.quest.TAG neq '' or zone.quest.COMPLETE neq 0 -->
						({zone.quest.TAG}<!-- IF zone.quest.GROUP gt 0 -->, {zone.quest.GROUP}<!-- ENDIF --><!-- IF zone.quest.COMPLETE eq 1 --><span class="green">{L_COMPLETE}</span><!-- ELSEIF zone.quest.COMPLETE eq -1 --><span class="red">{L_FAILED}</span><!-- ENDIF -->)
						<!-- ENDIF --></td>
					<td class="membersRowRight1 quest_link"><!-- BEGIN links --><a href="{zone.quest.links.LINK}" target="_blank">{zone.quest.links.NAME}</a><!-- BEGINELSE -->&nbsp;<!-- END links --></td>
				</tr>

<!-- END quest -->

<!-- BEGINELSE -->

				<tr>
					<th class="membersHeaderRight">{L_NO_QUESTS}</th>
				</tr>

<!-- END zone -->

			</table>

		</td>
	</tr>
</table>
