<!-- $Id$ -->

<!-- IF S_RESPONSE -->
<table class="border_frame" cellpadding="0" cellspacing="1" style="width:550px;">
	<tr>
		<td class="border_color sredborder">
			{RESPONSE}
		</td>
	</tr>
</table>

<br />
<!-- ENDIF -->

<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-2-title"><!-- TRANSLATE adata_update_talents --></div>

<!-- BEGIN classes -->
		<div class="tier-3-a">
			<div class="tier-3-b">
				<div style="float:right;text-align:right;">
					<form action="{classes.UPDATELINK}" method="post" id="update">
						<input type="hidden" name="class_id" value="{classes.ID}" />
						<input type="hidden" name="process" value="process" />
						<button type="submit" class="input"><!-- TRANSLATE update --></button>
					</form>
				</div>
				<div class="text">{classes.NAME} ({classes.ROWS})</div>
			</div>
		</div>
<!-- END classes -->
	</div>
</div>
