<!-- $Id$ -->

<!-- IF S_RESPONSE -->
<table class="border_frame" cellpadding="0" cellspacing="1" style="width:550px;">
	<tr>
		<td class="border_color sredborder">
			{RESPONSE}
		</td>
	</tr>
</table>

<br />
<!-- ENDIF -->



<table class="border_frame" cellpadding="0" cellspacing="1" style="width:550px;">
	<tr>
		<td class="border_color syellowborder" colspan="2">
			<div class="header_text syellowborder"><!-- TRANSLATE adata_update_talents --></div>
		</td>
	</tr>
<!-- BEGIN classes --> 
	<tr>
		<td class="membersRow2">
			{classes.NAME}
		</td>
		<td class="membersRow2">
			<form action="{classes.UPDATELINK}" method="post" id="update">
				<input type="hidden" name="class_id" value="{classes.ID}" />
				<input type="hidden" name="process" value="process" />
				<button type="submit" class="input"><!-- TRANSLATE update --></button>
			</form>
		</td>
	</tr>
<!-- END classes -->
</table>
