<!-- $Id$ -->

<form action="{U_MAKELINK}" method="post" enctype="multipart/form-data" id="conf_admin_pass">
	<input type="hidden" name="mode" value="Admin" />

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sredborder">
			<div class="header_text sredborder"><!-- TRANSLATE changeadminpass --></div>

			<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="membersRow1"><!-- TRANSLATE old_pass -->:</td>
					<td class="membersRowRight1"><input type="password" name="oldpass" value="" /></td>
				</tr>
				<tr>
					<td class="membersRow2"><!-- TRANSLATE new_pass -->:</td>
					<td class="membersRowRight2"><input type="password" name="newpass" value="" /></td>
				</tr>
				<tr>
					<td class="membersRow1"><!-- TRANSLATE new_pass_confirm -->:</td>
					<td class="membersRowRight1"><input type="password" name="confirmpass" value="" /></td>
				</tr>
				<tr>
					<td colspan="2" class="membersRowRight2" valign="bottom"><div align="center">
							<input type="submit" value="<!-- TRANSLATE pagebar_changepass -->" /></div></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

</form>

<br />

<form action="{U_MAKELINK}" method="post" enctype="multipart/form-data" id="conf_officer_pass">
	<input type="hidden" name="mode" value="Officer" />

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color syellowborder">
			<div class="header_text syellowborder"><!-- TRANSLATE changeofficerpass --></div>

			<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="membersRow2"><!-- TRANSLATE new_pass -->:</td>
					<td class="membersRowRight2"><input type="password" name="newpass" value="" /></td>
				</tr>
				<tr>
					<td class="membersRow1"><!-- TRANSLATE new_pass_confirm -->:</td>
					<td class="membersRowRight1"><input type="password" name="confirmpass" value="" /></td>
				</tr>
				<tr>
					<td colspan="2" class="membersRowRight2" valign="bottom"><div align="center">
							<input type="submit" value="<!-- TRANSLATE pagebar_changepass -->" /></div></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

</form>

<br />

<form action="{U_MAKELINK}" method="post" enctype="multipart/form-data" id="conf_guild_pass">
	<input type="hidden" name="mode" value="Guild" />

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgreenborder">
			<div class="header_text sgreenborder"><!-- TRANSLATE changeguildpass --></div>

			<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="membersRow2"><!-- TRANSLATE new_pass -->:</td>
					<td class="membersRowRight2"><input type="password" name="newpass" value="" /></td>
				</tr>
				<tr>
					<td class="membersRow1"><!-- TRANSLATE new_pass_confirm -->:</td>
					<td class="membersRowRight1"><input type="password" name="confirmpass" value="" /></td>
				</tr>
				<tr>
					<td colspan="2" class="membersRowRight2" valign="bottom"><div align="center">
							<input type="submit" value="<!-- TRANSLATE pagebar_changepass -->" /></div></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

</form>
