<!-- $Id$ -->


<form action="{U_MAKELINK}" method="post" enctype="multipart/form-data" id="conf_admin_pass">
	<input type="hidden" name="mode" value="Admin" />

<div class="tier-2-a" style="margin:4px auto 0 auto; width:450px;">
	<div class="tier-2-b">
		<div class="tier-2-title">
			<div style="float:right;">
				<input type="submit" value="<!-- TRANSLATE pagebar_changepass -->" />
			</div>
			<!-- TRANSLATE changeadminpass -->
		</div>

		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="text">
					<input type="password" id="admin_oldpass" name="oldpass" value="" />
					<label for="admin_oldpass"><!-- TRANSLATE old_pass --></label>
				</div>
			</div>
		</div>

		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="text">
					<input type="password" id="admin_newpass" name="newpass" value="" />
					<label for="admin_newpass"><!-- TRANSLATE new_pass --></label>
				</div>
			</div>
		</div>

		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="text">
					<input type="password" id="admin_confirmpass" name="confirmpass" value="" />
					<label for="admin_confirmpass"><!-- TRANSLATE new_pass_confirm --></label>
				</div>
			</div>
		</div>

	</div>
</div>

</form>


<form action="{U_MAKELINK}" method="post" enctype="multipart/form-data" id="conf_officer_pass">
	<input type="hidden" name="mode" value="Officer" />

<div class="tier-2-a" style="margin:4px auto 0 auto; width:450px;">
	<div class="tier-2-b">
		<div class="tier-2-title">
			<div style="float:right;">
				<input type="submit" value="<!-- TRANSLATE pagebar_changepass -->" />
			</div>
			<!-- TRANSLATE changeofficerpass -->
		</div>

		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="text">
					<input type="password" id="officer_oldpass" name="oldpass" value="" />
					<label for="officer_oldpass"><!-- TRANSLATE old_pass --></label>
				</div>
			</div>
		</div>

		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="text">
					<input type="password" id="officer_newpass" name="newpass" value="" />
					<label for="officer_newpass"><!-- TRANSLATE new_pass --></label>
				</div>
			</div>
		</div>

		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="text">
					<input type="password" id="officer_confirmpass" name="confirmpass" value="" />
					<label for="officer_confirmpass"><!-- TRANSLATE new_pass_confirm --></label>
				</div>
			</div>
		</div>

	</div>
</div>

</form>


<form action="{U_MAKELINK}" method="post" enctype="multipart/form-data" id="conf_guild_pass">
	<input type="hidden" name="mode" value="Guild" />

<div class="tier-2-a" style="margin:4px auto 0 auto; width:450px;">
	<div class="tier-2-b">
		<div class="tier-2-title">
			<div style="float:right;">
				<input type="submit" value="<!-- TRANSLATE pagebar_changepass -->" />
			</div>
			<!-- TRANSLATE changeguildpass -->
		</div>

		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="text">
					<input type="password" id="guild_oldpass" name="oldpass" value="" />
					<label for="guild_oldpass"><!-- TRANSLATE old_pass --></label>
				</div>
			</div>
		</div>

		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="text">
					<input type="password" id="guild_newpass" name="newpass" value="" />
					<label for="guild_newpass"><!-- TRANSLATE new_pass --></label>
				</div>
			</div>
		</div>

		<div class="tier-3-a">
			<div class="tier-3-b">
				<div class="text">
					<input type="password" id="guild_confirmpass" name="confirmpass" value="" />
					<label for="guild_confirmpass"><!-- TRANSLATE new_pass_confirm --></label>
				</div>
			</div>
		</div>

	</div>
</div>

</form>
