<!-- $Id$ -->

{SAVE_STATUS}

<form action="{U_FORM_ACTION}" method="post" onsubmit="return confirm('<!-- TRANSLATE confirm_config_submit -->') &amp;&amp; writeValue();">
	<input type="hidden" name="arrayput" id="arrayput" /><input type="hidden" name="section" value="{SECTION}" /><input type="hidden" name="process" value="process" />
	<input type="submit" value="<!-- TRANSLATE config_submit_button -->" />
</form>

<br />

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgreenborder">
			<div class="header_text sgreenborder">{SECTION}</div>

			<div id="array" style="width:{BUTTON_GRID_WIDTH}px;height:{BUTTON_GRID_HEIGHT}px;"></div>

		</td>
	</tr>
</table>

<!-- BEGIN button_grid -->
<div id="b{button_grid.ID}" style="background-image:url({button_grid.ICON}); background-position:center; background-repeat:no-repeat;" class="{button_grid.CLASS}"{button_grid.TOOLTIP}></div>
<!-- END button_grid -->
<br />

{UNUSED_PALLET}

<!-- BEGIN pallet_grid -->
<div id="b{pallet_grid.ID}" style="background-image:url({pallet_grid.ICON}); background-position:center; background-repeat:no-repeat;" class="{pallet_grid.CLASS}"{pallet_grid.TOOLTIP}></div>
<!-- END pallet_grid -->
