<!-- $Id$ -->

<table class="border_frame" style="width:100%;" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sorangeborder">
			<div class="header_text sorangeborder"><!-- TRANSLATE menuconf_sectionselect --></div>

			<form action="{U_MAKELINK}" method="get">
			{U_LINKFORM}
				<select name="section" id="section">
			<!-- BEGIN section_select -->
					<option value="{section_select.NAME}"<!-- IF section_select.SELECTED --> selected="selected">{section_select.NAME}<!-- ELSE -->>{section_select.NAME}<!-- ENDIF --></option>
			<!-- END section_select -->
				</select>
				<input type="submit" value="Go" />
			</form>

		</td>
	</tr>
</table>

<br />

<table class="border_frame" style="width:100%;" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color syellowborder">
			<div class="header_text syellowborder"><!-- TRANSLATE menuconf_add_button --></div>

			<table cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td><!-- TRANSLATE title -->:</td>
					<td><input id="title" type="text" size="16" maxlength="32" /></td>
				</tr>
				<tr>
					<td><!-- TRANSLATE url -->: </td>
					<td><input id="url" type="text" size="16" maxlength="128"/></td>
				</tr>
				<tr>
					<td><!-- TRANSLATE installer_icon -->: </td>
					<td><input id="icon" type="text" size="16" maxlength="64" /></td>
				</tr>
				<tr>
					<td colspan="2" align="right"><button class="input" onclick="sendAddElement()">Go</button></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<br />

<table class="border_frame" style="width:100%;" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sredborder">
			<div class="header_text sredborder"><!-- TRANSLATE menuconf_drag_delete --></div>
			<div id="rec_bin" style="width:135px;height:65px;"></div>
		</td>
	</tr>
</table>
