<!-- $Id$ -->

<form method="post" action="" enctype="multipart/form-data" id="addbanner" style="text-align:left;">
	<input type="hidden" name="process" value="process" />
	<input type="hidden" name="op" value="upload" />
	<div class="tier-2-a">
		<div class="tier-2-b">
			<div class="tier-2-title">
				<div class="right">
					<input type="submit" value="<!-- TRANSLATE b_add -->" name="fileupload" />
				</div>
				<!-- TRANSLATE b_upload -->
			</div>

			<div class="tier-3-a">
				<div class="tier-3-b">
					<div class="config">
						<div class="config-name">
							<label for="b_title"><!-- TRANSLATE b_title --></label>
						</div>
						<div class="config-input">
							<input name="b_title" id="b_title" type="text" maxlength="255" size="100" />
						</div>
					</div>
				</div>
			</div>

			<div class="tier-3-a">
				<div class="tier-3-b">
					<div class="config">
						<div class="config-name">
							<label for="b_desc"><!-- TRANSLATE b_desc --></label>
						</div>
						<div class="config-input">
							<input name="b_desc" id="b_desc" type="text" maxlength="255" size="100" />
						</div>
					</div>
				</div>
			</div>

			<div class="tier-3-a">
				<div class="tier-3-b">
					<div class="config">
						<div class="config-name">
							<label for="b_url"><!-- TRANSLATE b_url --></label>
						</div>
						<div class="config-input">
							<input name="b_url" id="b_url" type="text" maxlength="255" size="100" />
						</div>
					</div>
				</div>
			</div>

			<div class="tier-3-a">
				<div class="tier-3-b">
					<div class="config">
						<div class="config-name">
							<label for="b_image"><!-- TRANSLATE b_image --></label>
						</div>
						<div class="config-input">
							<input class="inputbox" id="b_image" name="b_image" type="file" />
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</form>
