<!-- BEGIN login -->
<!-- IF login.U_LOGIN eq '1' -->
	<div class="tier-2-a login-box2">
		<div class="tier-2-b">
			<div class="tier-2-title">
				Welcome, {login.L_LOGIN_WORD}
			</div>

	<!-- IF login.S_LOGIN_MESSAGE -->
			<div class="message">
				{login.L_LOGIN_MESSAGE}
			</div>
	<!-- ENDIF -->
		</div>
	</div>
<!-- ELSE -->
<form action="{login.U_LOGIN_ACTION}" method="post" enctype="multipart/form-data">
		<div class="tier-2-a login-box2">
			<div class="tier-2-b">
				<div class="tier-2-title">
					<div style="float:right;"><button type="submit"><span class="ui-icon ui-icon-key"></span> <!-- TRANSLATE login --></button></div>
					<!-- TRANSLATE auth_req -->
				</div>

				<div class="tier-3-a">
					<div class="tier-3-b">
						<div class="right">
							<input name="username" type="text" size="30" maxlength="30" />
						</div>
						<div class="text">
							Username:
						</div>
					</div>
				</div>
				
				<div class="tier-3-a">
					<div class="tier-3-b">
						<div class="right">
							<input name="password" type="password" size="30" maxlength="30" />
						</div>
						<div class="text">
							Password:
						</div>
					</div>
				</div>
				<label><input name="rememberMe" id="rememberMe" type="checkbox" checked="checked" value="1" /> &nbsp;Remember me</label>
				{login.L_REGISTER}
				
			</div>
	<!-- IF login.S_LOGIN_MESSAGE -->
			<div class="message">
				{login.L_LOGIN_MESSAGE}
			</div>
	<!-- ENDIF -->
		</div>
</form>
<!-- ENDIF -->
<!-- END login -->