<!-- $Id$ -->
	<div class="mini-list" id="mini_guild" style="display:none;">
		<div class="tier-1-a">
			<div class="tier-1-b">
				<div class="tier-1-c">
					<div class="tier-1-title mini-list-click"><!-- TRANSLATE member_profiles -->
						<div class="toggle">
							<img src="{THEME_PATH}/images/button_close.png" alt="" />
						</div>
					</div>

					<div class="tier-2-a">
						<div class="tier-2-b">
							<div class="list">
<!-- BEGIN mini_memberslist -->
<!-- IF mini_memberslist.U_LINK -->
								<a href="{mini_memberslist.U_LINK}" id="mem_{mini_memberslist.ID}" class="member <!-- IF mini_memberslist.S_SELECTED -->select<!-- ELSE -->c{mini_memberslist.CLASS_ID}<!-- ENDIF -->">
<!-- ELSE -->
								<div id="mem_{mini_memberslist.ID}" class="member <!-- IF mini_memberslist.S_SELECTED -->select<!-- ELSE -->c{mini_memberslist.CLASS_ID}<!-- ENDIF -->">
<!-- ENDIF -->
									<span class="lvl">{mini_memberslist.LEVEL}</span>
									<span class="name">{mini_memberslist.NAME}</span>
									<span class="info">
<!-- IF mini_memberslist.RACE_ID -->
										<img src="{IMG_URL}icons/race/{mini_memberslist.RACE_ID}-{mini_memberslist.SEX_ID}.gif" alt="" />
<!-- ENDIF -->
										<img src="{IMG_URL}icons/class/{mini_memberslist.CLASS_ID}.gif" alt="" />
									</span>
<!-- IF mini_memberslist.U_LINK -->
								</a>
<!-- ELSE -->
								</div>
<!-- ENDIF -->

<!-- END mini_memberslist -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>