<!-- $Id$ -->

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgreenborder">
			<div class="header_text sgreenborder"><img src="{IMG_URL}blue-question-mark.gif" alt="?" style="float:right;" />
				{L_SEARCH_FOR}</div>
			<form id="search" name="search" action="{U_SEARCH_LINK}" method="post" enctype="multipart/form-data">
				<input size="25" type="text" name="search" value="{SEARCH}" class="wowinput192" />
				<input type="submit" value="{L_SEARCH}" />
				<div class="header_text sgoldborder">{L_SEARCH_ONLY}</div>

				<!-- BEGIN only_search -->
				<input type="checkbox" id="c_{only_search.BASENAME}" name="s_addon[]" value="{only_search.BASENAME}" <!-- IF only_search.SELECTED --> checked="checked"<!-- ENDIF --> />
				<label for="c_{only_search.BASENAME}">{only_search.FULLNAME}</label><!-- IF only_search.S_DIVIDE --><br /><!-- ENDIF -->
				<!-- END only_search -->

				<!-- BEGIN advanced_search -->
				<div class="header_text sgoldborder" style="cursor:pointer;" onclick="showHide('{advanced_search.BASENAME}_options','{advanced_search.BASENAME}_img_options','{IMG_URL}minus.gif','{IMG_URL}plus.gif');">
					<img src="{IMG_URL}plus.gif" style="float:right;" alt="" id="{advanced_search.BASENAME}_img_options" />
					{L_SEARCH_ADVANCED} {advanced_search.FULLNAME}
				</div>
				<div id="{advanced_search.BASENAME}_options" style="display:none;">
					{advanced_search.SEARCH_OPTIONS}
				</div>
				<!-- END advanced_search -->

			</form>
		</td>
	</tr>
</table>

<!-- IF S_RESULT -->
<br />

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgreenborder">
			<div class="header_text sgreenborder"><img src="{IMG_URL}blue-question-mark.gif" alt="?" style="float:right;" />
				{L_SEARCH_RESULTS}: '{SEARCH}'
			</div>

			<!-- BEGIN addon_results -->
			<div class="header_text sgoldborder" style="cursor:pointer;" onclick="showHide('{addon_results.BASENAME}','{addon_results.BASENAME}_search_img','{IMG_URL}minus.gif','{IMG_URL}plus.gif');">
				<img src="{addon_results.ICON}" style="float:left;" alt="" id="{addon_results.BASENAME}_item_img" width="16" height="16" />
				<img src="{IMG_URL}minus.gif" style="float:right;" alt="" id="{addon_results.BASENAME}_search_img" />
				{addon_results.FULLNAME} <small>{FIRST}-{addon_results.COUNT} / {addon_results.TOTAL} {L_RESULTS_COUNT} &lt;{addon_results.TIME}&gt;</small>
			</div>
			<div id="{addon_results.BASENAME}">
				<table width="100%" cellspacing="0" cellpadding="0">
				{addon_results.OPEN_TABLE}

					<!-- BEGIN row -->
					{addon_results.row.RESULTS_HEADER}
					<tr class="SearchRowAltColor{addon_results.row.ROW_CLASS}">
					<!-- IF addon_results.row.S_HTML -->
						{addon_results.row.HTML}
					<!-- ELSE -->
						<td class="SearchRowCellRight">
						<!-- IF addon_results.row.HEADER -->{addon_results.row.HEADER}<!-- ENDIF -->
						<!-- IF addon_results.row.AUTHOR --> {L_AUTHOR} {addon_results.row.AUTHOR}<!-- ENDIF -->
						<!-- IF addon_results.row.DATE --> {L_DATE} {addon_results.row.DATE}<!-- ENDIF --><br />
						<!-- IF addon_results.row.LINK --><a href="{addon_results.row.LINK}"><strong>{addon_results.row.TITLE}</strong></a><br /><!-- ENDIF -->
						<!-- IF addon_results.row.SHORT_TEXT --><span style="white-space:normal">{addon_results.row.SHORT_TEXT}
								<!-- IF addon_results.row.MORE_TEXT -->{addon_results.row.MORE_TEXT} <a href="{addon_results.row.LINK}"><strong>(more)</strong></a><!-- ENDIF -->
								</span><br /><!-- ENDIF -->
						<!-- IF addon_results.row.FOOTER --><div style="padding-left:8px;">{addon_results.row.FOOTER}</div><br /><!-- ENDIF -->
						</td>
					<!-- ENDIF -->
					</tr>
					{addon_results.row.RESULTS_FOOTER}
					<!-- END row -->

				{addon_results.CLOSE_TABLE}
				</table>
				<!-- IF addon_results.PREV or addon_results.NEXT -->
				<div class="SearchNextPrev" align="center">
					<!-- IF addon_results.PREV -->[<a href="{addon_results.PREV}"><strong>{L_PREV_MATCHES}: {addon_results.FULLNAME}</strong></a>]<!-- ENDIF -->
					<!-- IF addon_results.NEXT --> [<a href="{addon_results.NEXT}"><strong>{L_NEXT_MATCHES}: {addon_results.FULLNAME}</strong></a>]<!-- ENDIF -->
				</div>
				<!-- ENDIF -->
			</div>
			<!-- END addon_results -->

			<!-- IF S_NO_RESULTS --><div class="header_text sredborder">{L_NO_MATCHES}</div><!-- ENDIF -->
		</td>
	</tr>
</table>

<br />

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sblueborder">
			<div class="header_text sblueborder">{L_DID_NOT_FIND}</div>
			<!-- IF S_MORE_RESULTS -->
			<div class="SearchRowCellRight">
				<ul style="text-align:left;">

				<!-- BEGIN more_results -->
					<li><a href="{more_results.LINK}">{more_results.FULLNAME}</a> ({more_results.COUNT} {L_RESULTS_COUNT})</li>
				<!-- END more_results -->

				</ul>
			</div>
			<!-- ENDIF -->

			<table cellspacing="0" cellpadding="0" width="100%">
				<tr class="search-other">
					<td valign="top" width="50%" class="SearchRowCell"><strong>{L_DATA_SEARCH}</strong>
						<div align="left">
							<ul>

							<!-- BEGIN data_sites -->
								<li><a href="{data_sites.LINK}" target="_blank">{data_sites.NAME}</a></li>
							<!-- END data_sites -->

							</ul>
						</div>
					</td>

					<td valign="top" width="50%" class="SearchRowCellRight"><strong>{L_GOOGLE_SEARCH}</strong>
						<div align="left">
							<ul>

							<!-- BEGIN google_links -->
								<li><a href="{google_links.LINK}" target="_blank">{google_links.NAME}</a></li>
							<!-- END google_links -->

							</ul>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<!-- ENDIF -->
